<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/site-head-meta}"></div>
    <title>Exusvate Home</title>
    <div th:replace="~{fragments/site-head-css}"></div>
    <div th:replace="~{fragments/site-head-fonts}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/site-header}"></div>

<div th:replace="~{fragments/site-sidebar}"></div>

<!-- Begin page content -->
<div class="container-fluid pt10 pb40">

    <div class="row">
        <div class="col">
            <input type="hidden" th:value="${baseUrlWebSocket}" name="baseurl" id="baseurl" placeholder="baseurl" required>
            <input type="hidden" th:value="${useConnected.id}" name="idConversation" id="idUserConnected">
            <input type="hidden" th:value="${currentConversation.idConversation}" name="idConversation" id="idConversation">
        </div>
    </div>
    <div class="chat-messages" id="messages-container" style="padding: 20px;">
        <div class="body-message text-white" th:if="listMessages" th:each="message : ${listMessages}">
            <div class="message-content" th:classappend="${((message.sender.id == useConnected.id) ? 'float-right text-right' : 'float-left text-left flex-row-reverse')}" >
                <div class="d-flex flex-column " th:classappend="${((message.sender.id == useConnected.id) ? 'align-items-end' : 'align-items-start')}">
                    <div class="piece-jointe-chat" th:classappend="${((message.sender.id == useConnected.id) ? 'align-items-end' : 'align-items-start')}" th:if="${message.pieceJointes != null}">
                        <div class="card_img_chat" th:each="file : ${message.pieceJointes}">
                            <a href="#" th:if="${fileUtil.isImageExtension(file.extensionFichier)}" th:onclick="'showImagePreview(\'' + ${file.id} + '\')'" >
                                <img class="img_chat"  th:src="@{*{ '/piece-jointes/telechager/'+file.id}}" th:alt="${file.originalName}">
                            </a>
                            <a th:if="${!(fileUtil.isImageExtension(file.extensionFichier))}" th:href="@{/piece-jointes/telechager/{id}(id=${file.id})}" th:text="${file.originalName}">Download</a>
                        </div>
                    </div>
                    <div th:id="${'message-content-'+message.id}" class="message-content-text" th:classappend="${((message.sender.id == useConnected.id) ? 'bg-success' : 'bg-secondary')}" >
                        <span th:text="${message.content}">Message text</span>
                    </div>
                    <span class="small-italic-text" th:classappend="${((message.sender.id == useConnected.id) ? 'text-right' : 'text-left')}" th:text="${#temporals.format(message.createdAt, 'HH:mm:ss')}">Time</span>
                </div>
                <div class="card-avatar-chat" >
                    <a href="#" class="image-preview-link" >
                        <img th:if="*{(message.sender.avatar != null && message.sender.avatar.id>0)}" class="avatar-50"  th:src="@{*{ '/piece-jointes/telechager/'+message.sender.avatar.id}}" alt="avatar">
                        <img th:if="*{!(message.sender.avatar != null && message.sender.avatar.id>0)}" class="avatar-50" th:src="@{'./../img/avatar.svg'}" alt="avatar">
                    </a>
                    <span class="small-italic-text" th:text="${ (message.sender.id == useConnected.id) ? 'you' : message.sender.fullName}">you</span>
                </div>
            </div>

            <!--<div th:if="${!(message.sender != null && message.sender.id == useConnected.id)}" class="message-content d-flex align-items-center flex-row flex-nowrap col-6 p-1 px-2 m-1 float-left text-left" >

                <div class="col-1 m-0 p-0 " >
                    <a href="#" class="image-preview-link m-0 p-0" >
                        <img class="avatar-50" th:if="*{(message.sender.avatar != null && message.sender.avatar.id>0)}" th:src="@{*{ '/piece-jointes/telechager/'+message.sender.avatar.id}}" alt="avatar">
                        <img class="avatar-50" th:if="*{!(message.sender.avatar != null && message.sender.avatar.id>0)}" th:src="@{'./../img/avatar.svg'}" alt="avatar">
                    </a>
                    <span class="col-6 text-left font-italic small" th:text="${ message.sender.fullName}">you</span>
                </div>
                <div class="col-11">
                    <div class="col-12 text-left" th:if="${message.pieceJointes != null}">
                        <div th:each="file : ${message.pieceJointes}">
                            <a href="#" th:if="${fileUtil.isImageExtension(file.extensionFichier)}" th:onclick="'showImagePreview(\'' + ${file.id} + '\')'" >
                                <img  th:src="@{*{ '/piece-jointes/telechager/'+file.id}}" th:alt="${file.originalName}">
                            </a>
                            <a th:if="${!(fileUtil.isImageExtension(file.extensionFichier))}" th:href="@{/piece-jointes/telechager/{id}(id=${file.id})}" th:text="${file.originalName}">Download</a>
                        </div>
                    </div>
                    <div class="row rounded-pill m-0 px-1 pt-2 pb-0 bg-secondary justify-content-start" >
                        <div th:id="${'message-content-'+message.id}">
                            <span th:text="${message.content}">Message text</span>
                        </div>
                    </div>
                    <span class="col-6 text-left font-italic small" th:text="${#temporals.format(message.createdAt, 'HH:mm:ss')}">Time</span>
                </div>
            </div>-->
        </div>
    </div>

    <div class="row">
        <div id="file-list" class="mt-2"></div>
        <div class="col-10 m-0 pr-0">
            <div class="d-flex flex-nowrap m-0 p-0">
                <input type="text" id="chat-message-input" class="form-control mb-2 border-secondary"
                       placeholder="" th:placeholder="#{type_a_message}" required />
                <input type="file" id="file-input" multiple hidden>
                <label for="file-input" class="btn btn-outline-secondary">
                    <i class="ion ion-ios-cloud-upload"></i>
                </label>
            </div>
        </div>
        <input type="button" value="" class="btn btn-primary mb-2 col-2" onclick="sendMessage()" th:value="#{send}" />
    </div>

</div>

<div th:insert="~{fragments/fragments-share :: imagePreviewModal}"></div>

</div>
<div th:replace="~{fragments/site-footer}"></div>
<div th:replace="~{fragments/site-scripts}"></div>
<script>
    const baseUrl = document.getElementById('baseurl').value;
    const idUserConnected = document.getElementById('idUserConnected').value;
    const idConversation = document.getElementById('idConversation').value;
    let stompClient = null;
    let selectedFiles = [];

    window.addEventListener('load', function() {
        connect();
    });

    function connect() {
        const socket = new SockJS(baseUrl + '/v1/chat');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/v1/topic/conversation', function(messageOutput) {
                //console.log('-------------------1')
                showMessage(JSON.parse(messageOutput.body));
            });
        });
    }

    function sendMessage() {
        const messageInput = document.getElementById('chat-message-input');
        const messageContent = messageInput.value.trim();

        if (messageContent || (selectedFiles.length > 0 && messageContent)) {
            const chatMessage = {
                idUserConnected: idUserConnected,
                content: messageContent,
                idConversation: idConversation,
                files: selectedFiles.map(file => ({
                    name: file.name,
                    type: file.type,
                    data: file.data
                }))
            };

            stompClient.send("/v1/chat/message", {}, JSON.stringify(chatMessage));
            messageInput.value = '';
            selectedFiles = [];
            updateFileList();
        }
    }

    document.getElementById('chat-message-input').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            sendMessage();
        }
    });

    document.getElementById('file-input').addEventListener('change', function(event) {
        const files = Array.from(event.target.files);
        files.forEach(file => {
            const reader = new FileReader();
            reader.onload = function(event) {
                selectedFiles.push({
                    name: file.name,
                    type: file.type,
                    data: event.target.result
                });
                updateFileList();
            };
            reader.readAsDataURL(file);
        });
    });

    function showMessage(message) {
        if (!message || !message.sender || !message.sender.id || !message.id) {
            console.error('Invalid message format:', message);
            return;
        }

        const messagesContainer = document.getElementById('messages-container');
        if (!messagesContainer) {
            console.error('Messages container not found');
            return;
        }

        const isUserMessage = message.sender.id === parseInt(idUserConnected, 10);

        // Create message container
        const bodyMessage = document.createElement('div');
        bodyMessage.className = `body-message text-white`;

        const messageDiv = document.createElement('div');
        messageDiv.className = `message-content ${isUserMessage ? 'float-right text-right' : 'float-left text-left' }`;

        // Create avatar
        const avatarDiv = document.createElement('div');
        avatarDiv.className = 'card-avatar-chat';
        const avatarLink = document.createElement('a');
        avatarLink.href = '#';
        avatarLink.className = 'image-preview-link';
        const avatarImg = document.createElement('img');
        avatarImg.className = 'avatar-50';
        avatarImg.src = message.sender.avatar && message.sender.avatar.id > 0 ? `/piece-jointes/telechager/${message.sender.avatar.id}` : './../img/avatar.svg';
        avatarImg.alt = 'avatar';
        avatarLink.appendChild(avatarImg);
        avatarDiv.appendChild(avatarLink);

        // Create sender info
        const senderSpan = document.createElement('span');
        senderSpan.className = `small-italic-text`;
        senderSpan.textContent = isUserMessage ? 'you' : message.sender.fullName;
        avatarDiv.appendChild(senderSpan);

        // Create message content
        const messageContentDiv = document.createElement('div');
        messageContentDiv.className = `d-flex flex-column ${isUserMessage ? 'align-items-end':'align-items-start'}`;

        if (message.pieceJointes) {
            const filesDiv = document.createElement('div');
            filesDiv.className = `piece-jointe-chat ${isUserMessage ? 'align-items-end':'align-items-start'}`;
            //const pieceJointeChatDiv = document.createElement('div');
            //pieceJointeChatDiv.className = `piece-jointe-chat ${isUserMessage ? 'align-items-end':'align-items-start'}`;
            message.pieceJointes.forEach(file => {
                const cardImgChatDiv = document.createElement('div');
                cardImgChatDiv.className = `card_img_chat`;
                const fileLink = document.createElement('a');
                const isImage = ['jpg', 'jpeg', 'png', 'gif'].includes(file.extensionFichier.toLowerCase());
                fileLink.href = isImage ? '#' : `/piece-jointes/telechager/${file.id}`;
                if (isImage) {
                    fileLink.onclick = () => showImagePreview(file.id);
                    const fileImg = document.createElement('img');
                    fileImg.src = `/piece-jointes/telechager/${file.id}`;
                    fileImg.alt = file.originalName;
                    fileImg.className = `img_chat`;
                    fileLink.appendChild(fileImg);
                } else {
                    fileLink.textContent = file.originalName;
                }
                cardImgChatDiv.appendChild(fileLink);
                filesDiv.appendChild(cardImgChatDiv);
                // filesDiv.appendChild(document.createElement('br'));
            });
            messageContentDiv.appendChild(filesDiv);
        }

        const messageTextDiv = document.createElement('div');
        messageTextDiv.className = `message-content-text ${isUserMessage ? 'bg-success':'bg-secondary'}`;
        messageTextDiv.id = `message-content-${message.id}`;
        const messageTextContent = document.createElement('span');
        messageTextContent.textContent = message.content;
        messageTextDiv.appendChild(messageTextContent);
        messageContentDiv.appendChild(messageTextDiv);

        const timeSpan = document.createElement('span');
        timeSpan.className = `small-italic-text ${isUserMessage ? 'text-right':'text-left'}`;
        timeSpan.textContent = new Date(message.createdAt).toLocaleTimeString();
        messageContentDiv.appendChild(timeSpan);

        // Append elements based on message type
        messageDiv.appendChild(isUserMessage ? messageContentDiv : avatarDiv);
        messageDiv.appendChild(isUserMessage ? avatarDiv : messageContentDiv);

        // Insert the new message at the top of the container
        // messagesContainer.insertBefore(messageDiv, messagesContainer.firstChild);
        bodyMessage.appendChild(messageDiv);
        messagesContainer.appendChild(bodyMessage);
    }

    function showImagePreview(idImageSrc) {
        document.getElementById('previewedImage').src = '/piece-jointes/telechager/'+idImageSrc;
        document.getElementById('downloadImage').href = '/piece-jointes/telechager/'+idImageSrc;
        $('#imagePreviewModal').modal('show');
    }
    function updateFileList() {
        const fileList = document.getElementById('file-list');
        fileList.innerHTML = '';
        selectedFiles.forEach((file, index) => {
            const fileItem = document.createElement('div');
            fileItem.className = 'file-item';
            fileItem.innerHTML = `
                <span>${file.name}</span>
                <button onclick="removeFile(${index})">&times;</button>
            `;
            fileList.appendChild(fileItem);
        });
    }
    function removeFile(index) {
        selectedFiles.splice(index, 1);
        updateFileList();
    }
    function updateFileNameLabel(inputId, defaultLabel) {
        var input = inputId; //document.getElementById(inputId);
        var label = input.nextElementSibling;
        input.addEventListener('change', function() {
            var fileName = (input.files.length>0) ? input.files[0]?.name : defaultLabel;
            label.textContent = fileName;
        });
        // Initialiser le label s'il y a déjà un fichier sélectionné
        var fileName = (input.files.length>0) ? input.files[0]?.name : defaultLabel;
        label.textContent = fileName;
    }
</script>

</body>
</html>

