<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="fragments/fragments::head"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body id="dark">
<header class="dark-bb">
    <div th:replace="fragments/fragments::menugauche" />

    <nav class="navbar navbar-expand-lg">
        <div></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>
<div th:replace="fragments/fragments::menubas" />

<div class="container-fluid h-100">
    <input type="hidden" th:value="${baseUrlWebSocket}" name="baseurl" id="baseurl" placeholder="baseurl" required>

    <div class="row h-100">
        <div class="col-md-3 col-12 p-0 border-right resizeable" id="conversations">
            <ul class="d-flex flex-lg-column flex-sm-row m-sm-0 p-sm-0">
                <li class="chat-item m-2" th:each="conversation : ${conversations}">
                    <a th:href="@{/chat/admin(idConversation=${conversation.getIdConversation})}" class="" >
                        <div class="d-flex flex-column flex-md-row flex-nowrap align-items-center" >
                            <img class="avatar-50" th:src="@{${(conversation.user.getAvatar()!=null) ? '/piece-jointes/telechager/'+conversation.user.getAvatar().id:'/img/avatar.svg'}}" alt="Profile" >
                            <div class="m-2">
                                <strong class="text-xs" th:text="${conversation.user.shortName}">Contact Name</strong>
                                <span class="badge small-italic-text" th:text="${conversation.user.status}">Last message</span>
                                <!--                                <span class="col-12 text-right font-italic small " th:text="${#temporals.format(conversation.user.createdAt, 'HH:mm:ss')}">Time</span>-->
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="p-0 mt-sm-0 col-sm-12" th:classappend="${(clients.size()>0) ? 'col-md-8' :'col-md-9'  }" id="chat-body">
            <div th:if="${currentConversation!=null}" class="chat-messages p-md-3 ">
                <header class="chat-header">
                    <img class="avatar-50" th:src="@{${(currentConversation.user.avatar!=null) ? '/piece-jointes/telechager/'+currentConversation.user.avatar.id:'/img/avatar.svg'}}" src="/img/avatar.svg" alt="Profile" >
                    <div class="m-2 d-flex flex-row">
                       <div class="d-flex flex-column align-items-start">
                           <strong class="text-base" th:text="${currentConversation.user.fullName}">Contact Name</strong>
                           <span class="text-right small-italic-text" th:text="${#temporals.format(currentConversation.user.createdAt, 'yyyy-MM-dd HH:mm:ss')}">Time</span>
                       </div>
                        <span class="badge small-italic-text" th:text="${currentConversation.user.status}">Last message</span>
                    </div>

                </header>
                <div class="chat-messages" id="messages-container">
                    <div class="body-message text-white" th:if="listMessages" th:each="message : ${listMessages}">
                        <div class="message-content" th:classappend="${((message.sender.id == useConnected.id) ? 'float-right text-right' : 'float-left text-left flex-row-reverse')}" >
                            <div class="d-flex flex-column " th:classappend="${((message.sender.id == useConnected.id) ? 'align-items-end' : 'align-items-start')}">
                                <div class="piece-jointe-chat" th:classappend="${((message.sender.id == useConnected.id) ? 'align-items-end' : 'align-items-start')}" th:if="${message.pieceJointes != null}">
                                    <div class="card_img_chat" th:each="file : ${message.pieceJointes}">
                                        <a href="#" th:if="${fileUtil.isImageExtension(file.extensionFichier)}" th:onclick="'showImagePreview(\'' + ${file.id} + '\')'" >
                                            <img class="img_chat"  th:src="@{*{ '/piece-jointes/telechager/'+file.id}}" th:alt="${file.originalName}">
                                        </a>
                                        <a th:if="${!(fileUtil.isImageExtension(file.extensionFichier))}" th:href="@{/piece-jointes/telechager/{id}(id=${file.id})}" th:text="${file.originalName}">Download</a>
                                    </div>
                                </div>
                                <div th:id="${'message-content-'+message.id}" class="message-content-text" th:classappend="${((message.sender.id == useConnected.id) ? 'bg-success' : 'bg-secondary')}" >
                                    <span th:text="${message.content}">Message text</span>
                                </div>
                                <span class="small-italic-text" th:classappend="${((message.sender.id == useConnected.id) ? 'text-right' : 'text-left')}" th:text="${#temporals.format(message.createdAt, 'HH:mm:ss')}">Time</span>
                            </div>
                            <div class="card-avatar-chat" >
                                <a href="#" class="image-preview-link" >
                                    <img th:if="*{(message.sender.avatar != null && message.sender.avatar.id>0)}" class="avatar-50"  th:src="@{*{ '/piece-jointes/telechager/'+message.sender.avatar.id}}" alt="avatar">
                                    <img th:if="*{!(message.sender.avatar != null && message.sender.avatar.id>0)}" class="avatar-50" th:src="@{'./../img/avatar.svg'}" alt="avatar">
                                </a>
                                <span class="small-italic-text" th:text="${ (message.sender.id == useConnected.id) ? 'you' : message.sender.fullName}">you</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${currentConversation!=null}"  class="chat-input p-3 border-top">
                <div class="input-group">
                    <input type="hidden" th:value="${useConnected.id}"  name="idConversation" id="idUserConnected">
                    <input type="hidden" th:value="${currentConversation.idConversation}" name="idConversation" id="idConversation">
                    <input type="text" class="form-control"  placeholder="write a message" name="content" id="chat-message-input">
                    <div class="input-group-append">
                        <input type="file" id="file-input" multiple hidden>
                        <label for="file-input" class="btn btn-outline-secondary"><i class="ion ion-ios-cloud-upload"></i></label>
                        <button class="btn btn-primary" onclick="sendMessage()"><i class="ion ion-md-send"></i></button>
                    </div>
                </div>
            </div>
            <div id="file-list" class="mt-2"></div>
        </div>
        <div th:if="${clients.size()>0}" class="col-md-1 d-sm-none p-0 border-left resizeable" id="contacts">
            <div class="p-2">
                <div class="d-flex flex-nowrap flex-row justify-content-between" th:each="contact : ${clients}">
                    <a title="Start conversation" th:href="@{/chat/conversation(idUser=*{contact.id})}" class="float-right" href="/chat/conversation" >
                        <i class="ion ion-md-chatbubbles" ></i>
                        <span class="text-white" th:text="*{contact.fullName.split(' ')[0]}"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div th:insert="~{fragments/fragments-share :: imagePreviewModal}"></div>
</div>
<script th:inline="javascript">

    var clients = /*<![CDATA[*/ [[${clients}]] /*]]*/ ;
</script>
<script>


    const baseUrl = document.getElementById('baseurl').value;
    const idUserConnected = document.getElementById('idUserConnected').value;
    let stompClient = null;
    let selectedFiles = [];

    window.addEventListener('load', function() {
        connect();
    });

    function connect() {
        console.log("-----------------------------connect")
        const socket = new SockJS(baseUrl + '/v1/chat');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/v1/topic/conversation', function(messageOutput) {
                showMessage(JSON.parse(messageOutput.body));
            });
        });
    }
    function sendMessage() {
        const messageInput = document.getElementById('chat-message-input');
        const idConversation = document.getElementById('idConversation').value;
        const messageContent = messageInput.value.trim();
        if ((messageContent && stompClient) || (selectedFiles.length > 0 && messageContent && stompClient)) {
            const chatMessage = {
                idUserConnected: idUserConnected,
                content: messageContent,
                idConversation: idConversation,
                files: selectedFiles.map(file => ({
                    name: file.name,
                    type: file.type,
                    data: file.data
                }))
            };

            stompClient.send("/v1/chat/message", {}, JSON.stringify(chatMessage));
            messageInput.value = '';
            selectedFiles = [];
            updateFileList();
        }
    }

    document.getElementById('chat-message-input').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            sendMessage();
        }
    });
    document.getElementById('file-input').addEventListener('change', function(event) {
        const files = Array.from(event.target.files);
        files.forEach(file => {
            const reader = new FileReader();
            reader.onload = function(event) {
                selectedFiles.push({
                    name: file.name,
                    type: file.type,
                    data: event.target.result
                });
                updateFileList();
            };
            reader.readAsDataURL(file);
        });
    });

</script>

<span th:replace="fragments/fragments::endfooter"></span>
</body>
</html>

