<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <form th:action="@{/market-data/creer}" th:object="${marketData}" method="POST">
            <div id="errorMessage" class="errors" th:if="${#fields.hasErrors('*')}" th:text="${#fields.errors('*')[0]}"> </div>
            <span>Créer des données de marché</span>
            <div class="form-group">
                <select class="form-control" th:field="*{cryptomonnaie}" id="cryptomonnaie" required>
                    <option th:each="c : ${cryptomonnaies}" th:value="${c.id}" th:text="${c.nom}"></option>
                </select>
                <div class="errors" th:if="${#fields.hasErrors('cryptomonnaie')}" th:errors="*{cryptomonnaie}"></div>
            </div>
            <div class="form-group">
                <input type="number" step="0.01" class="form-control" th:field="*{prix}" id="prix" placeholder="Prix" required>
                <div class="errors" th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}"></div>
            </div>
            <div class="form-group">
                <input type="datetime-local" class="form-control" th:field="*{dateHeure}" id="dateHeure" placeholder="Date et heure" required>
                <div class="errors" th:if="${#fields.hasErrors('dateHeure')}" th:errors="*{dateHeure}"></div>
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
        <h2>Retour à la <a th:href="@{'/market-data'}">liste des données de marché</a></h2>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>