<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <h1>Détails des données de marché</h1>
        <p>ID : <span th:text="${marketData.id}"></span></p>
        <p>Cryptomonnaie : <span th:text="${marketData.cryptomonnaie.nom}"></span></p>
        <p>Prix : <span th:text="${#numbers.formatDecimal(marketData.prix, 0, 2)}"></span></p>
        <p>Date et heure : <span th:text="${#temporals.format(marketData.dateHeure, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
        <h2>Retour à la <a th:href="@{'/market-data'}">liste des données de marché</a></h2>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>
