<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <h1>Données de marché pour la cryptomonnaie <span th:text="${cryptomonnaie.nom}"></span></h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Prix</th>
                <th>Date et heure</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${marketData}">
                <td th:text="${data.id}"></td>
                <td th:text="${#numbers.formatDecimal(data.prix, 0, 2)}"></td>
                <td th:text="${#temporals.format(data.dateHeure, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <a th:href="@{/market-data/{id}(id=${data.id})}">Détails</a>
                    <a th:href="@{/market-data/{id}/modifier(id=${data.id})}" class="btn btn-primary">Modifier</a>
                    <a th:href="@{/market-data/{id}/supprimer(id=${data.id})}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>