<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="markets-capital pt70 pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="markets-pair-list">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cryptomonnaie</th>
                            <th>Prix</th>
                            <th>Date et heure</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data : ${marketData}" data-th-href="@{/market-data/{id}(id=${data.id})}">
                            <td th:text="${data.id}"></td>
                            <td th:text="${data.cryptomonnaie.nom}"></td>
                            <td th:text="${#numbers.formatDecimal(data.prix, 0, 2)}"></td>
                            <td th:text="${#temporals.format(data.dateHeure, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <a th:href="@{/market-data/{id}(id=${data.id})}">Détails</a>
                                <a th:href="@{/market-data/cryptomonnaie/{id}(id=${data.id})}">Cryptos</a>
                                <a th:href="@{/market-data/{id}/modifier(id=${data.id})}">Modifier</a>
                                <a th:href="@{/market-data/{id}/supprimer(id=${data.id})}">Supprimer</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a th:href="@{/market-data/creer}" class="load-more btn">Créer des données de marché <i class="icon ion-md-add"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>
