<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <form th:action="@{/cryptomonnaies/creer}" th:object="${cryptomonnaie}" method="POST" enctype="multipart/form-data">
            <div id="errorMessage" class="errors" th:if="${#fields.hasErrors('*')}" th:text="${#fields.errors('*')[0]}"> </div>
            <span>Créer une cryptomonnaie</span>
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{nom}" id="nom" placeholder="Nom" required>
                <div class="errors" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{symbole}" id="symbole" placeholder="Symbole" required>
                <div class="errors" th:if="${#fields.hasErrors('symbole')}" th:errors="*{symbole}"></div>
            </div>
            <div class="form-group">
                <input type="number" step="0.01" class="form-control" th:field="*{prixActuel}" id="prixActuel" placeholder="Prix actuel" required>
                <div class="errors" th:if="${#fields.hasErrors('prixActuel')}" th:errors="*{prixActuel}"></div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{valueAdresse}" id="valueAdresse" placeholder="Adresse" >
                <div class="errors" th:if="${#fields.hasErrors('valueAdresse')}" th:errors="*{valueAdresse}"></div>
            </div>
            <div class="form-group">
                <div class="custom-file" style="width: 100%; margin: 0">
                    <input type="hidden" th:field="*{idQrCodeAdresse}" />
                    <input type="file" class="custom-file-input" id="pjQrCodeAdresse" th:field="*{qrCodeAdresse}" accept="image/png,image/jpg,image/jpeg" onchange="updateFileNameLabel(this, 'Choose QrCode Adress')">
                    <label class="custom-file-label" for="pjQrCodeAdresse"> QR Code Adress </label>
                    <a th:if="*{idQrCodeAdresse>0}" href="#" th:onclick="'showImagePreview(\'' + *{idQrCodeAdresse} + '\')'" >
                        <img class="qr-code"  th:src="@{*{ '/piece-jointes/telechager/'+idQrCodeAdresse}}" th:alt="*{namePjQrCodeAdresse}">
                    </a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
        <h2>Retour à la <a th:href="@{'/cryptomonnaies'}">liste des cryptomonnaies</a></h2>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>