<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="markets-capital pt70 pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="markets-pair-list">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Symbole</th>
                            <th>Prix actuel</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cryptomonnaie : ${cryptomonnaies}" data-th-href="@{/cryptomonnaies/{id}/modifier(id=${cryptomonnaie.id})}">
                            <td th:text="${cryptomonnaie.id}"></td>
                            <td th:text="${cryptomonnaie.nom}"></td>
                            <td th:text="${cryptomonnaie.symbole}"></td>
                            <td th:text="${#numbers.formatDecimal(cryptomonnaie.prixActuel, 0, 2)}"></td>
                            <td>
                                <a th:href="@{/cryptomonnaies/{id}/modifier(id=${cryptomonnaie.id})}">Modifier</a>
                                <a th:href="@{/cryptomonnaies/{id}/supprimer(id=${cryptomonnaie.id})}">Supprimer</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a th:href="@{/cryptomonnaies/creer}" class="load-more btn">Créer une cryptomonnaie <i class="icon ion-md-add"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>
