<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <form th:action="@{/transactions/creer}" th:object="${transaction}" method="POST">
            <div id="errorMessage" class="errors" th:if="${#fields.hasErrors('*')}" th:text="${#fields.errors('*')[0]}"> </div>
            <span>Créer une transaction</span>
            <div class="form-group">
                <select class="form-control" th:field="*{ordre}" id="ordre" required>
                    <option th:each="o : ${ordres}" th:value="${o.id}" th:text="${o.id} + ${o.getUtilisateur().fullName}+ ${o.getType()} +${o.getDateExecution()} +${o.getCryptomonnaie().getNom()}"></option>
                </select>
                <div class="errors" th:if="${#fields.hasErrors('ordre')}" th:errors="*{ordre}"></div>
            </div>
            <div class="form-group">
                <input type="number" step="0.01" class="form-control" th:field="*{prixOuverture}" id="prixOuverture" placeholder="Prix d'ouverture" required>
                <div class="errors" th:if="${#fields.hasErrors('prixOuverture')}" th:errors="*{prixOuverture}"></div>
            </div>
            <div class="form-group">
                <input type="number" step="0.01" class="form-control" th:field="*{prixFermeture}" id="prixFermeture" placeholder="Prix de fermeture" required>
                <div class="errors" th:if="${#fields.hasErrors('prixFermeture')}" th:errors="*{prixFermeture}"></div>
            </div>
            <div class="form-group">
                <input type="number" step="0.01" class="form-control" th:field="*{profit}" id="profit" placeholder="Profit" required>
                <div class="errors" th:if="${#fields.hasErrors('profit')}" th:errors="*{profit}"></div>
            </div>
            <div class="form-group">
                <input type="datetime-local" class="form-control" th:field="*{dateOuverture}" id="dateOuverture" placeholder="Date d'ouverture" required>
                <div class="errors" th:if="${#fields.hasErrors('dateOuverture')}" th:errors="*{dateOuverture}"></div>
            </div>
            <div class="form-group">
                <input type="datetime-local" class="form-control" th:field="*{dateFermeture}" id="dateFermeture" placeholder="Date de fermeture" required>
                <div class="errors" th:if="${#fields.hasErrors('dateFermeture')}" th:errors="*{dateFermeture}"></div>
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
        <h2>Retour à la <a th:href="@{'/transactions'}">liste des transactions</a></h2>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>