<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <h1>Détails de la transaction</h1>
        <div class="form-group">
            <label>ID :</label>
            <p th:text="${transaction.id}"></p>
        </div>
        <div class="form-group">
            <label>Ordre :</label>
            <p th:text="${transaction.ordre.id}"></p>
        </div>
        <div class="form-group">
            <label>Prix d'ouverture :</label>
            <p th:text="${#numbers.formatDecimal(transaction.prixOuverture, 0, 2)}"></p>
        </div>
        <div class="form-group">
            <label>Prix de fermeture :</label>
            <p th:text="${#numbers.formatDecimal(transaction.prixFermeture, 0, 2)}"></p>
        </div>
        <div class="form-group">
            <label>Profit :</label>
            <p th:text="${#numbers.formatDecimal(transaction.profit, 0, 2)}"></p>
        </div>
        <div class="form-group">
            <label>Date d'ouverture :</label>
            <p th:text="${#temporals.format(transaction.dateOuverture, 'yyyy-MM-dd HH:mm:ss')}"></p>
        </div>
        <div class="form-group">
            <label>Date de fermeture :</label>
            <p th:text="${#temporals.format(transaction.dateFermeture, 'yyyy-MM-dd HH:mm:ss')}"></p>
        </div>
        <a th:href="@{'/transactions'}" class="btn btn-primary">Retour à la liste des transactions</a>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>