<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="markets-capital pt70 pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="markets-pair-list">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ordre</th>
                            <th>Prix d'ouverture</th>
                            <th>Prix de fermeture</th>
                            <th>Profit</th>
                            <th>Date d'ouverture</th>
                            <th>Date de fermeture</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transaction : ${transactions}" data-th-href="@{/transactions/{id}(id=${transaction.id})}">
                            <td th:text="${transaction.id}"></td>
                            <td th:text="${transaction.ordre.id} +${transaction.ordre.getUtilisateur().fullName}+ ${transaction.ordre.getType()} +${transaction.ordre.getDateExecution()} +${transaction.ordre.getCryptomonnaie().getNom()}"></td>
                            <td th:text="${#numbers.formatDecimal(transaction.prixOuverture, 0, 2)}"></td>
                            <td th:text="${#numbers.formatDecimal(transaction.prixFermeture, 0, 2)}"></td>
                            <td th:text="${#numbers.formatDecimal(transaction.profit, 0, 2)}"></td>
                            <td th:text="${#temporals.format(transaction.dateOuverture, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${#temporals.format(transaction.dateFermeture, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <a th:href="@{/transactions/{id}(id=${transaction.id})}">Détails</a>
                                <a th:href="@{/transactions/utilisateur/{id}(id=${transaction.id})}">Utilisateurs</a>
                                <a th:href="@{/transactions/{id}/modifier(id=${transaction.id})}">Modifier</a>
                                <a th:href="@{/transactions/{id}/supprimer(id=${transaction.id})}">Supprimer</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a th:href="@{/transactions/creer}" class="load-more btn">Créer une transaction <i class="icon ion-md-add"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>
