<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <form th:action="@{/ordres/creer}" th:object="${ordre}" method="POST">
            <div id="errorMessage" class="errors" th:if="${#fields.hasErrors('*')}" th:text="${#fields.errors('*')[0]}"> </div>
            <span>Créer un ordre</span>
            <div class="form-group">
                <select class="form-control" th:field="*{utilisateur}" id="utilisateur" required>
                    <option th:each="u : ${utilisateurs}" th:value="${u.id}" th:text="${u.fullName}"></option>
                </select>
                <div class="errors" th:if="${#fields.hasErrors('utilisateur')}" th:errors="*{utilisateur}"></div>
            </div>
            <div class="form-group">
                <select class="form-control" th:field="*{type}" id="type" required>
                    <option th:each="t : ${T(com.example.onetrade.model.entities.enums.TypeOrdreEnum).values()}" th:value="${t}" th:text="${t.name()}"></option>
                </select>
                <div class="errors" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
            </div>
            <div class="form-group">
                <select class="form-control" th:field="*{cryptomonnaie}" id="cryptomonnaie" required>
                    <option th:each="c : ${cryptomonnaies}" th:value="${c.id}" th:text="${c.nom}"></option>
                </select>
                <div class="errors" th:if="${#fields.hasErrors('cryptomonnaie')}" th:errors="*{cryptomonnaie}"></div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" th:field="*{quantite}" id="quantite" placeholder="Quantité" required>
                <div class="errors" th:if="${#fields.hasErrors('quantite')}" th:errors="*{quantite}"></div>
            </div>
            <div class="form-group">
                <input type="number" step="0.01" class="form-control" th:field="*{prix}" id="prix" placeholder="Prix" required>
                <div class="errors" th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}"></div>
            </div>
            <div class="form-group">
                <input type="datetime-local" class="form-control" th:field="*{dateExecution}" id="dateExecution" placeholder="Date d'exécution" required>
                <div class="errors" th:if="${#fields.hasErrors('dateExecution')}" th:errors="*{dateExecution}"></div>
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
        <h2>Retour à la <a th:href="@{'/ordres'}">liste des ordres</a></h2>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>