<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <h1>Ordres de l'utilisateur <span th:text="${utilisateur.fullName}"></span></h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Cryptomonnaie</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Date d'exécution</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ordre : ${ordres}">
                <td th:text="${ordre.id}"></td>
                <td th:text="${ordre.type.name()}"></td>
                <td th:text="${ordre.cryptomonnaie.nom}"></td>
                <td th:text="${ordre.quantite}"></td>
                <td th:text="${#numbers.formatDecimal(ordre.prix, 0, 2)}"></td>
                <td th:text="${#temporals.format(ordre.dateExecution, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <a th:href="@{/ordres/{id}/modifier(id=${ordre.id})}" class="btn btn-primary">Modifier</a>
                    <a th:href="@{/ordres/{id}/supprimer(id=${ordre.id})}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/ordres/creer}" class="btn btn-primary">Créer un ordre</a>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>