<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>

<div class="markets-capital pt70 pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="markets-pair-list">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Utilisateur</th>
                            <th>Type</th>
                            <th>Cryptomonnaie</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                            <th>Date d'exécution</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ordre : ${ordres}" data-th-href="@{/ordres/{id}/modifier(id=${ordre.id})}">
                            <td th:text="${ordre.id}"></td>
                            <td th:text="${ordre.utilisateur.fullName}"></td>
                            <td th:text="${ordre.type.name()}"></td>
                            <td th:text="${ordre.cryptomonnaie.nom}"></td>
                            <td th:text="${ordre.quantite}"></td>
                            <td th:text="${#numbers.formatDecimal(ordre.prix, 0, 2)}"></td>
                            <td th:text="${#temporals.format(ordre.dateExecution, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <a th:href="@{/trading/{token}(token=${ordre.token})}">
                                    Aller
                                </a>
                                <a th:href="@{/ordres/utilisateur/{id}/(id=${ordre.getUtilisateur().getId()})}">Utilisateur</a>
                                <a th:href="@{/ordres/{id}/modifier(id=${ordre.id})}">Modifier</a>
                                <a th:href="@{/ordres/{id}/supprimer(id=${ordre.id})}">Supprimer</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a th:href="@{/ordres/creer}" class="load-more btn">Créer un ordre <i class="icon ion-md-add"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>
