<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/fragments::head"/></div>
<body>
<header>
    <div th:replace="fragments/fragments::logo"/></div>
    <div th:replace="fragments/fragments::navbar"/></div>
    <div th:replace="fragments/fragments::menu_mobile"/></div>
    <div th:replace="fragments/fragments::cart"/></div>
</header>

<main>
    <div class="menu">
        <div class="background">
            <div  sec:authorize="hasRole('BUSINESS_USER')"class="classes" style=" overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Client details</h3>

                <form th:action="@{/delete-abo/{id}(id = ${aboId})}" th:method="POST" th:object="${clientDetails}" class="tow">
                    <span  class="edit-offer"  th:text="| *{fullName}|">Name: Abo:  Entries:</span>
                    <span th:text="|Email: *{email}|">Name: Abo:  Entries:</span>
                    <th:block sec:authorize="hasRole('BUSINESS_USER')">
                    <button class="noButton" th:background="none" th:border="none"> <a class="edit-offer">Delete Abo</a></button>
                    </th:block>
                </form>
            </div>
            <div  sec:authorize="hasRole('USER')" class="classes" style=" overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Abo details</h3>

                <div  th:object="${aboDetails}" class="tow">
                    <span  class="edit-offer"  th:text="| ${aboDetails.clientName} Abo|">Name: Abo:  Entries:</span>
                    <span  th:text="|${aboDetails.name}|">Name: Abo:  Entries:</span>
                </div>
            </div>
            <br>
            <div class="classes" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Entries</h3>
                <form th:action="@{/entry/{id}(id = ${e.id})}" th:method="POST" class="entries" th:each="e : ${entries}" th:object="${e}">
                    <span  th:if="${e.date} != null" th:text="|Entry date: |">Name: Abo:  Entries:</span>
                    <span th:if="${e.date} != null" ><span th:text="|${e.date}|"></span></span>
                    <th:block th:unless="${e.inProcess}" sec:authorize="hasRole('BUSINESS_USER')">
                        <span  th:if="${e.date} == null" th:text="|New entry: |">Name: Abo:  Entries:</span>
                        <button class="noButton" th:if="${e.date} == null" th:background="none" th:border="none"> <a class="edit-offer">Save</a></button>
                    </th:block>
                    <th:block th:if="${e.inProcess}" sec:authorize="hasRole('BUSINESS_USER')">
                        <span  th:if="${e.date} == null" th:text="|Waiting confirmation.. |">Name: Abo:  Entries:</span>
                        <button class="noButton" th:if="${e.date} == null" th:background="none" th:border="none"> <a class="edit-offer">Send request again</a></button>
                    </th:block>
                </form>
            </div>



            </div>
        </div>


</main>
<img class="blueImg3" src="/img/blueImg.png" alt="blueImg">
<img class="blueImg4" src="/img/blueImg.png" alt="blueImg">
<img class="blue" src="/img/blue.jpg" alt="blue">

        <footer class="footer_hobbie_details">
            &copy; Hobbie 2021. All rights reserved.
        </footer>
</body>
</html>