<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb" style="    position: fixed;z-index: 999;width: 100%;">
    <a href="#" th:href="@{'/site'}" class="btn btn-primary btn-floating rounded-circle position-fixed" style="top: 20px; left: 20px; z-index: 1050;">
        <i class="ion ion-md-home"></i>
    </a>
</header>
<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <form>
            <span th:text="#{deposit}">Deposit</span>
            <div class="form-group">
                <label for="selectCoin" th:text="#{select_coin}">Select Coin</label>
                <div th:with="cryptoMonnaiesListe=${T(java.util.Arrays).asList('BTC/USD', 'ETH/USD', 'LTC/USD', 'USDC/USD', 'SOL/USD', 'TRX/USD', 'LINK/USD', 'ARB/USD', 'BCH/USD')}">

                    <select id="selectCoin" class="custom-select" onchange="changeCoin(this)">
                        <option th:each="crypto : ${cryptoMonnaies}"
                                th:id="${'cryptoSelected-'+crypto.id}"
                                th:data-valueAdresse="${crypto.valueAdresse}"
                                th:data-idPj="${crypto.qrCodeAdresse!=null ? crypto.qrCodeAdresse.id : 0}"
                                th:value="${crypto.id}" th:text="${crypto.nom}"
                                th:if="${#lists.contains(cryptoMonnaiesListe, crypto.symbole) == false}"></option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="selectNetwork" th:text="#{select_network}">Select Network</label>
                <select id="selectNetwork" class="custom-select">
                    <option th:each="network : ${networks}" th:value="${network.id}" th:text="${network.name}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="valueAdresse" class="" th:text="#{qr_code_address}">QR Code Adress</label>
                <input hidden type="text" class="form-control" id="valueAdresse" placeholder="Adresse" disabled >

                <div style="display: none !important" id="imgQrcodeAdress" class="justify-content-end d-flex"> </div>
            </div>
            <div id="copyQrCode" style="display: none !important" class="justify-content-end d-flex ">
                <a href="#" onclick="copyToClipboard()" class="btn btn-primary" title="copy adress">
                    <i class="ion ion-ios-copy"></i>
                </a>
            </div>

        </form>
        <h2 id="quickRecharge" style="display: none !important" class="text-right mt-2">
            <a class="btn btn-outline-primary" th:href="@{'/reglements/deposit/recharge'}" href='#' th:text="#{quick_recharge}">Quick Recharge</a>
        </h2>
    </div>
</div>


<div th:insert="~{fragments/fragments-share :: imagePreviewModal}"></div>

<script>
    function changeCoin(selectCoin) {
        const cryptoSelected = document.getElementById('cryptoSelected-'+selectCoin.value);
        const qrCodeAdress = cryptoSelected.getAttribute('data-valueAdresse');
        const idPjQrCode = cryptoSelected.getAttribute('data-idPj');

        const valueAdresse = document.getElementById('valueAdresse');
        valueAdresse.value = '';
        valueAdresse.setAttribute('hidden','hidden');
        const imgQrcodeAdress = document.getElementById('imgQrcodeAdress');
        imgQrcodeAdress.setAttribute('style','display:none !important')
        if (imgQrcodeAdress.firstChild)
            imgQrcodeAdress.firstChild.remove();

        const copyQrCode = document.getElementById('copyQrCode');
        copyQrCode.setAttribute('style','display:none !important');
        const quickRecharge = document.getElementById('quickRecharge');
        quickRecharge.setAttribute('style','display:none !important')
        if (qrCodeAdress){
            valueAdresse.removeAttribute('hidden');
            valueAdresse.value = qrCodeAdress;
        }
        if (idPjQrCode > 0) {
            let linkimQrCode = document.createElement('a');
            linkimQrCode.href=`#`;
            linkimQrCode.setAttribute('onclick',`showImagePreview(' ${idPjQrCode} ')`) ;
            let imgQrcode = document.createElement('img');
            imgQrcode.className = 'qr-code';
            imgQrcode.src = `/piece-jointes/telechager/+${idPjQrCode}`;
            imgQrcode.alt = `QR Code Adress`;
            linkimQrCode.appendChild(imgQrcode);
            imgQrcodeAdress.appendChild(linkimQrCode);
        }
        if (idPjQrCode > 0 || qrCodeAdress){
            imgQrcodeAdress.removeAttribute('style');
            quickRecharge.removeAttribute('style');
            copyQrCode.removeAttribute('style');
        }
    }

    function copyToClipboard() {
        var outputText = document.getElementById('valueAdresse').value;
        console.log(outputText)
        // Utiliser l'API Clipboard pour copier le texte
        navigator.clipboard.writeText(outputText).then(function() {
            console.log('Texte copié dans le presse-papiers');
        }).catch(function(err) {
            console.error('Erreur lors de la copie du texte: ', err);
        });
    }
</script>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>