<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="fragments/fragments::head"></div>
</head>
<body id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"></div>
        <div th:replace="fragments/fragments::navbar"></div>
    </nav>
</header>
<div class="markets-capital pt70 pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="markets-pair-list">
                    <div id="errorMessage" class="errors" th:if="${errorMessage}" th:text="${errorMessage}"  > </div>
                    <div class="text-right float-right">
                        <a href="#" class="btn btn-primary mr-1" title="Deposit"  onclick="showOperationModal('DEPOSIT')">
                            <i class="text-white icon ion-md-add-circle"> Dépôt</i>
                        </a>
                        <a href="#" class="btn btn-danger mr-1" title="Withdraw" onclick="showOperationModal('WITHDRAW')">
                            <i class="text-white icon ion-md-remove-circle"> Retrait</i>
                        </a>
                    </div>
                    <!-- Sélecteur de taille de page -->
                    <div class="mb-3 float-left text-white d-flex flex-md-nowrap align-items-center justify-content-center">
                        <label for="pageSize">Size:</label>
                        <span id="currentPage" th:field="${currentPage}" hidden="hidden"></span>
                        <span id="currentOrderBy" th:field="${currentOrderBy}" hidden="hidden"></span>
                        <span id="currentSort" th:field="${currentSort}" hidden="hidden"></span>
                        <select id="pageSize" class="form-control ml-2" onchange="updatePageSize()">
                            <option value="5" th:selected="${pageSize == 5}">5</option>
                            <option value="10" th:selected="${pageSize == 10}">10</option>
                            <option value="20" th:selected="${pageSize == 20}">20</option>
                            <option value="50" th:selected="${pageSize == 50}">50</option>
                        </select>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th th:classappend="${currentOrderBy == 'id'} ? ${currentSort} : ''" onclick="sortTable('id')">ID</th>
                            <th th:classappend="${currentOrderBy == 'client.fullName'} ? ${currentSort} : ''" onclick="sortTable('client.fullName')">Client</th>
                            <th th:classappend="${currentOrderBy == 'client.solde'} ? ${currentSort} : ''" onclick="sortTable('client.solde')">Solde</th>
                            <th th:classappend="${currentOrderBy == 'createdAt'} ? ${currentSort} : ''" onclick="sortTable('createdAt')">Date</th>
                            <th th:classappend="${currentOrderBy == 'montant'} ? ${currentSort} : ''" onclick="sortTable('montant')">Montant</th>
                            <th th:classappend="${currentOrderBy == 'reference'} ? ${currentSort} : ''" onclick="sortTable('reference')">Reference</th>
                            <th th:classappend="${currentOrderBy == 'state'} ? ${currentSort} : ''" onclick="sortTable('state')">State</th>
                            <th th:classappend="${currentOrderBy == 'type'} ? ${currentSort} : ''" onclick="sortTable('type')">Operation</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transaction : ${transactions}" ondblclick="preloadTransactionDetails(this, 'ligne')"
                            th:data-operation="${transaction.toJson()}"
                            th:data-id="${transaction.id}"
                            th:data-client-id="${transaction.client.id}"
                            th:data-montant="${transaction.montant}"
                            th:data-motif="${transaction.motif}"
                            th:data-reference="${transaction.reference}"
                            th:data-type="${transaction.type}">
                            <td class="ope_id" th:text="${transaction.id}"></td>
                            <td class="ope_client_fullName" th:text="${transaction.client.fullName}"></td>
                            <td class="ope_client_solde" th:text="${#numbers.formatDecimal(transaction.client.solde, 0, 2)}"></td>
                            <td class="ope_createdAt" th:text="${#temporals.format(transaction.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="ope_montant" th:text="${#numbers.formatDecimal(transaction.montant, 0, 2)}"></td>
                            <td class="ope_reference" th:text="${transaction.reference}"></td>
                            <td class="ope_state" th:text="${transaction.state.value}"></td>
                            <td class="ope_type" th:text="${transaction.type.value}"></td>
                            <td>
                                <a href="#" onclick="preloadTransactionDetails(this, 'details')">Détails</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation" class="mt-3" >
                        <ul class="pagination justify-content-center">
                            <!-- Précédent -->
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/reglements(orderBy=${currentOrderBy}, sort=${currentSort}, page=${currentPage - 1}, size=${pageSize})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <!-- Pages -->
                            <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, transactions.totalPages - 1)}" th:classappend="${pageNum == currentPage} ? 'active' : ''">
                                <a class="page-link" th:href="@{/reglements(orderBy=${currentOrderBy}, sort=${currentSort}, page=${pageNum}, size=${pageSize})}" th:text="${pageNum + 1}"></a>
                            </li>
                            <!-- Suivant -->
                            <li class="page-item" th:classappend="${currentPage == transactions.totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/reglements(orderBy=${currentOrderBy}, sort=${currentSort}, page=${currentPage + 1}, size=${pageSize})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/fragments-share :: reglement(customerTransactionModel=${customerTransactionModel}, clients=${clients}, source=${'reglement'})}"></div>

<script th:inline="javascript">

    function sortTable(column) {
        // Trouver l'en-tête de la colonne cliquée
        const th = document.querySelector(`th[onclick="sortTable('${column}')"]`);

        if (th) {
            // Obtenir l'ordre actuel et déterminer le nouvel ordre
            const currentOrder = th.classList.contains('asc') ? 'asc' : 'desc';
            const newOrder = currentOrder === 'asc' ? 'desc' : 'asc';

            const currentPage = document.getElementById('currentPage').getAttribute('field');
            const pageSize = document.getElementById('pageSize').value;
            // Rediriger avec les paramètres de tri
            window.location.href = `?orderBy=${column}&sort=${newOrder}`;
            window.location.href = `?orderBy=${column}&sort=${newOrder}&page=${currentPage}&size=${pageSize}`;
        } else {
            console.error(`Element with column '${column}' not found.`);
        }
    }
    function updatePageSize() {
        const currentPage = document.getElementById('currentPage').getAttribute('field');
        const orderBy = document.getElementById('currentOrderBy').getAttribute('field');
        const sort = document.getElementById('currentSort').getAttribute('field');
        const pageSize = document.getElementById('pageSize').value;
        // Rediriger vers l'URL avec la nouvelle taille de page
        window.location.href = `?orderBy=${orderBy}&sort=${sort}&page=${currentPage}&size=${pageSize}`;
    }
    function showOperationModal(operationType) {
        document.getElementById('operationType').value = operationType;
        document.getElementById('operationIdClient').value = 0;
        document.getElementById('operationMontant').value = 0;
        document.getElementById('operationReference').value = '';
        document.getElementById('operationMotif').value = '';
        document.getElementById('idSubmitOperationForm').removeAttribute('disabled');
        $('#operationModal').modal('show');
    }
    function submitOperationForm() {
        document.getElementById('operationForm').submit();
    }
    function preloadTransactionDetails(item, source) {
        const row = source==='details' ? item.closest('tr') : item;
        const idClient = row.getAttribute('data-client-id');
        const montant = row.getAttribute('data-montant');
        const motif = row.getAttribute('data-motif');
        const reference = row.getAttribute('data-reference');
        const type = row.getAttribute('data-type');

        // Remplir le formulaire de la modale avec les valeurs de la ligne
        document.getElementById('operationIdClient').value = parseInt(idClient)
        document.getElementById('operationType').value = type;
        document.getElementById('operationMontant').value = parseFloat(montant);
        document.getElementById('operationReference').value = reference;
        document.getElementById('operationMotif').value = motif;

        document.getElementById('idSubmitOperationForm').setAttribute('disabled','true');
        $('#operationModal').modal('show');
    }
</script>



<span th:replace="fragments/fragments::endfooter"></span>
</body>
</html>
