<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb" style="    position: fixed;z-index: 999;width: 100%;">
    <a href="#" th:href="@{'/site'}" class="btn btn-primary btn-floating rounded-circle position-fixed" style="top: 20px; left: 20px; z-index: 1050;">
        <i class="ion ion-md-home"></i>
    </a>
</header>
<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <form id="operationForm" th:object="${quickRechargeModel}" th:action="@{/reglements/deposit/recharge}" method="POST">
            <span th:text="#{Quick_Recharge}">Quick Recharge</span>

             <div class="form-group">
                <label for="montant">Recharge Quantity</label>
                <input type="number" class="form-control" id="montant" name="montant" placeholder="please enter quantity" required>
            </div>
            <div class="form-group">
                <label for="address"> Payement address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="adresse" required>
            </div>

            <button id="idSubmitOperationForm" type="submit" class="btn btn-primary" >Submit for review</button>

        </form>
     </div>
</div>
<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>