<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/fragments::head"/></div>
<body class="coBody">

<header>
    <div th:replace="fragments/fragments::logo"/></div>
    <div th:replace="fragments/fragments::navbar"/></div>
    <div th:replace="fragments/fragments::menu_mobile"/></div>
    <div th:replace="fragments/fragments::cart"/></div>
</header>
<main class="coBody">
    <div class="create_offer">
        <h2>Edit hobby offer</h2>
        <form method="POST" th:object="${updateHobbyBindingModel}" th:action="@{/hobbies/updated-offer/{id}(id=*{id})}" enctype="multipart/form-data" >

            <div class="row no-gutters">
                <div class="form-field2">
                    <div class="name-section">
                        <label id="name" class="label-name">
                            <span class="content-name">Hobbie Name</span>
                        </label>
                        <input class="h_n" th:field="*{name}"   type="text" name="name"  required/>

                    </div>
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors">Error message</small>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="form-field2">
                    <div class="name-section">
                        <label for="price" class="label-name">
                            <span class="content-name">Price per entry</span>
                        </label>
                        <input class="h_n" th:field="*{price}"   type="number" name="price"  id="price" min="0"  step=".01"required/>

                    </div>
                    <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="errors">Error message</small>
                </div>
            </div>

            <div class="row no-gutters">
                <span class="content-name">Category</span>
                <select class="form-test" th:field="*{category}"   id="category" name="category">

                    <option th:value="${null}" >Select category</option>
                    <option th:each="c : ${T(com.example.onetrade.model.entities.enums.CategoryNameEnum).values()}"
                            th:text="${c}"
                            th:value="${c}"
                            value="ACTIVE">Active</option>
                </select>
                <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="errors">Error message</small>
            </div>
            <div class="row no-gutters">
                <div class="form-field2">

                    <div class="name-section">
                        <label id="description" class="label-name">
                            <span class="content-name">Description</span>
                        </label>
                        <textarea class="label-name" th:field="*{description}"  type="text" name="name"  required></textarea>
                    </div>

                    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="errors">Error message</small>
                </div>
            </div>
            <div class="row no-gutters">
                <span class="content-name">Location</span>
                <select class="form-test" th:field="*{location}"   id="location" name="category">

                    <option th:value="${null}">Select location</option>
                    <option th:each="l : ${T(com.example.onetrade.model.entities.enums.LocationEnum).values()}"
                            th:text="${l}"
                            th:value="${l}"
                            value="ACTIVE">Active</option>
                </select>
                <small th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="errors">Error message</small>
            </div>
            <div class="row no-gutters">
                <div class="form-field-photos">
                    <div class="name-section">
                        <div class="row_upload">
                            <div th:if="${noImg2}" class="errors" >
                                Please upload a profile photo
                            </div>
                            <label id="photo" class="label-name">
                                <span class="content-name">Profile Photo</span>
                            </label>

                            <div class="column">
                                <input type="file" class="button3" id="add-title-image" name="img" required="required">
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="form-field">
                <button class="button button2">Update</button>
            </div>
        </form>
    </div>

    <footer class="footer_hobbie_details">
        &copy; Hobbie 2021. All rights reserved.
    </footer>
    <img class="blueImg3" src="/img/blueImg.png" alt="blueImg">
    <img class="blueImg4" src="/img/blueImg.png" alt="blueImg">
</main>

</body>
</html>


