<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/fragments::head"/></div>
<body>
<header>
    <div th:replace="fragments/fragments::logo"/></div>
    <div th:replace="fragments/fragments::navbar"/></div>
    <div th:replace="fragments/fragments::menu_mobile"/></div>
</header>

<main>
    <div class="menu">
        <div class="background">
        <div class="classes" style="height: 30vh; overflow: auto">
            <h3 class="mySticky bg-gray text-dark rounded">Clients</h3>
            <div th:each="a : ${abos}" th:object="${a}" class="tow">
                <span  class="edit-offer" th:text="| ${a.clientName} |">Name: Abo:  Entries:</span>
                <span th:text="| ${a.name} Abo|">Name: Abo:  Entries:</span>
                <a class="edit-offer" th:href="@{/abo/{id}(id = ${a.id})}"> Details</a>
            </div>
        </div>
        <div class="classes" style="height: auto; overflow: hidden">
            <h3 class="mySticky bg-gray text-dark rounded">Hobby offers</h3>
            <div th:each="hobby : ${hobby_offers}" th:object="${hobby}" class="tow">
                <span th:text="|*{name} - price per entry: *{price} CHF|"></span>
                <a class="edit-offer" th:href="@{/hobbies/offer-details/{id}(id = *{id})}"> Edit</a>
                </div>
            </div>
        </div>
    </div>
</main>
<img class="blueImg3" src="/img/blueImg.png" alt="blueImg">
<img class="blueImg4" src="/img/blueImg.png" alt="blueImg">
<img class="blue" src="/img/blue.jpg" alt="blue">

<footer class="footer_hobbie_details">
    &copy; Hobbie 2021. All rights reserved.
</footer>
</body>
</html>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"/></div>
        <div th:replace="fragments/fragments::navbar"/></div>

    </nav>
</header>


<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>