<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link th:href="@{'/img/favicon.png'}" rel="icon" href="/img/favicon.png" type="image/x-icon">
    <link th:href="@{'/css/style.css'}" rel="stylesheet" href="/css/style.css">
    <link th:href="@{'/css/monstyle.css'}" rel="stylesheet" href="/css/monstyle.css">

    <sec:session-management invalid-session-url="/login">
        <sec:concurrency-control expired-url="/login"/>
    </sec:session-management>
    <title th:text="#{market_page_title}">One Trade Safe</title>

    <script>
        function myFunction() {
            const x = document.getElementById("click");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function selectOnlyThis(id) {
            for (let i = 1; i <= 3; i++) {
                document.getElementById("checkbox" + i).checked = false;
            }
            document.getElementById(id).checked = true;
        }

        console.log(#{ isAuthenticated() })
    </script>
</head>

<th:block th:fragment="menugauche">
    <input type="checkbox" class="openSidebarMenu2" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <img th:src="@{'/img/logo_finale.jpg'}" src="/img/logo_finale.jpg" alt="logo">
    </label>

    <div id="sidebarMenu">
        <div id="bgdark" style="height: 100%;" class="text_color">

            <ul class="sidebarMenuInner">
                <th:block sec:authorize="!isAuthenticated()">

                    <li><a class="text_color" th:href="@{'/users/login'}" href="/users/register-business">
                        <span th:text="#{welcome_to}">Welcome To</span>
                        <span th:text="#{esuvate}">ESUVATE</span>
                        <span th:text="#{please_sign_in}">Please Sign in</span>
                    </a></li>

                    <li class="nav-item" id="changeThemeDark">
                        <i class="icon ion-md-moon"></i><span th:text="#{theme}">Theme</span>
                    </li>
                    <li><a class="text_color" href="#" target="_blank" th:text="#{about_us_title}">About US</a></li>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">

                    <li><span th:text="#{welcome_back}">Welcome Back to</span><span th:text="#{esuvate}">ESUVATE</span></li>

                    <li class="nav-item" id="changeThemeDark">
                        <i class="icon ion-md-moon"></i><span th:text="#{theme}">Theme</span>
                    </li>
                    <li><a class="text_color" th:href="@{'/users/account-info'}" th:text="#{identity_verification}">Identity Verification</a></li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="text_color" th:href="@{'/chat/admin'}" th:text="#{online_service}">Online Service</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')">
                        <a class="text_color" th:href="@{'/chat/user'}" th:text="#{online_service}">Online Service</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="text_color" th:href="@{'/reglements'}" th:text="#{deposit}">Deposit</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')">
                        <a class="text_color" th:href="@{'/reglements/deposit'}" th:text="#{deposit}">Deposit</a>
                    </li>

                    <li><a class="text_color" href="#" target="_blank" th:text="#{about_us}">About US</a></li>
                </th:block>
            </ul>
        </div>
    </div>
</th:block>


<th:block th:fragment="language">
    <div class="dropdown text_color">
        <button style="height: 41px; padding: 9px;" class="btn btn-2 dropdown-toggle language" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span th:text="#{english}">English</span> <span class="iconlanfuage"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <div class="dropdown-item language" th:each="langue : ${langues}">
                <a th:href="@{'?lang=' + ${langue.symbole}}">
                    <img class="drapeau-langue" th:src="@{${'/img/flags/'+langue.icon}}" th:alt="'Drapeau de ' + ${langue.value}">
                    <span th:text="${langue.value}"></span>
                </a>
            </div>
            <!--<div class="dropdown-item language">English <span class="iconlanfuage"></span></div>
            <div class="dropdown-item language">English <span class="iconlanfuage"></span></div>
            <div class="dropdown-item language">English <span class="iconlanfuage"></span></div>
            <div class="dropdown-item language">English <span class="iconlanfuage"></span></div>
            <div class="dropdown-item language">English <span class="iconlanfuage"></span></div>
            <div class="dropdown-item language">English <span class="iconlanfuage"></span></div>-->

        </div>
    </div>
</th:block>

<th:block th:fragment="menubas">
    <header class="dark-bb" style="bottom: 0; position: fixed; z-index: 5; width: 100%;">
        <nav class="navbar navbar-expand-lg nav2 text_color">
            <div class="content_menu_bas">
                <img class="icon_footer" th:src="@{'/img/teet.png'}">
                <br>
                <span class="value" th:text="#{home}">Home</span>
            </div>
            <div class="content_menu_bas">
                <img class="icon_footer" th:src="@{'/img/teet.png'}">
                <br>
                <span class="value" th:text="#{market}">Market</span>
            </div>
            <div class="content_menu_bas">
                <img class="icon_footer" th:src="@{'/img/teet.png'}">
                <br>
                <span class="value" th:text="#{exchange}">Exchange</span>
            </div>
            <div class="content_menu_bas">
                <img class="icon_footer" th:src="@{'/img/teet.png'}">
                <br>
                <span class="value" th:text="#{lever}">Lever</span>
            </div>
            <div class="content_menu_bas">
                <img class="icon_footer" th:src="@{'/img/teet.png'}">
                <br>
                <span class="value" th:text="#{asset}">Asset</span>
            </div>
        </nav>
    </header>
</th:block>


<th:block th:fragment="logo">
    <th:block sec:authorize="!isAuthenticated()">
        <a class='navbar-brand'>
            <img th:src="@{'/img/logo_finale.jpg'}" src="/img/logo_finale.jpg" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu"
                aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon ion-md-menu"></i>
        </button>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <a class='navbar-brand'>
            <img th:src="@{'/img/logo_finale.jpg'}" src="/img/logo_finale.jpg" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu"
                aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon ion-md-menu"></i>
        </button>
    </th:block>
</th:block>

<th:block th:fragment="navbar">
    <div class="collapse navbar-collapse" id="headerMenu">
        <ul sec:authorize="isAuthenticated()" class="navbar-nav mr-auto">
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" th:text="#{admin_trading}">Admin trading</a>
                <div class="dropdown-menu">
                    <a class='dropdown-item' th:href="@{'/admin_trading'}" th:text="#{trading}">Trading</a>
                    <a class="dropdown-item" th:href="@{'/admin/trading-config'}" th:text="#{config}"><span>Config</span></a>
                    <a class="dropdown-item" th:href="@{'/users'}" th:text="#{users}"><span>Utilisateurs</span></a>
                    <a class="dropdown-item" th:href="@{'/ordres'}" th:text="#{orders}"><span>Ordres</span></a>
                    <a class="dropdown-item" th:href="@{'/cryptomonnaies'}" th:text="#{cryptocurrencies}"><span>Cryptomonnaies</span></a>
                    <a class="dropdown-item" th:href="@{'/transactions'}" th:text="#{transactions}"><span>Transactions</span></a>
                    <a class="dropdown-item" th:href="@{'/reglements'}" th:text="#{regulations}"><span>Reglements</span></a>
                    <a class="dropdown-item" th:href="@{'/config/networks'}" th:text="#{networks}"><span>Networks</span></a>
                    <a class="dropdown-item" th:href="@{'/market-data'}" th:text="#{market_data}"><span>Données de marché</span></a>
                </div>
            </li>

            <li sec:authorize="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" th:text="#{dashboard}">Dashboard</a>
                <div class="dropdown-menu">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{'/admin_home'}" th:text="#{home_admin}"><span>Home admin</span></a>
                    <a sec:authorize="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{'/user_home'}" th:text="#{home_user}"><span>Home user</span></a>
                </div>
            </li>
            <li sec:authorize="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" th:text="#{user}">User</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{'/trading/1'}"><span th:text="#{online_trading}">Online trading</span></a>
                    <a class="dropdown-item" th:href="@{'/trading-history'}"><span th:text="#{trading_history}">Trading history</span></a>
                    <a class="dropdown-item" th:href="@{'/chat/user'}"><span th:text="#{help_chat}">Help Chat</span></a>
                </div>
            </li>
        </ul>

        <th:block sec:authorize="!isAuthenticated()">
            <ul class="navbar-nav ml-auto">
                <a class='btn btn-1' th:href="@{'/users/login'}" th:text="#{sign_in}">Sign In</a>
                <a class='btn btn-2' th:href="@{'/users/signup'}" th:text="#{get_started}">Get Started</a>
            </ul>
        </th:block>

        <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
            <li class="nav-item header-custom-icon">
                <a class="nav-link" href="#" id="clickFullscreen" th:text="#{fullscreen}">
                    <i class="icon ion-md-expand"></i>
                </a>
            </li>
            <li class="nav-item dropdown header-custom-icon">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" th:text="#{notifications}">
                    <i class="icon ion-md-notifications"></i>
                    <span class="circle-pulse"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="dropdown-header d-flex align-items-center justify-content-between">
                        <p class="mb-0 font-weight-medium" th:text="#{new_notifications}">6 New Notifications</p>
                        <a href="#!" class="text-muted" th:text="#{clear_all}">Clear all</a>
                    </div>
                    <div class="dropdown-body">
                        <a href="#!" class="dropdown-item">
                            <div class="icon">
                                <i class="icon ion-md-lock"></i>
                            </div>
                            <div class="content">
                                <p th:text="#{account_password_change}">Account password change</p>
                                <p class="sub-text text-muted">5 sec ago</p>
                            </div>
                        </a>
                        <a href="#!" class="dropdown-item">
                            <div class="icon">
                                <i class="icon ion-md-alert"></i>
                            </div>
                            <div class="content">
                                <p>Solve the security issue</p>
                                <p class="sub-text text-muted">10 min ago</p>
                            </div>
                        </a>
                        <a href="#!" class="dropdown-item">
                            <div class="icon">
                                <i class="icon ion-logo-android"></i>
                            </div>
                            <div class="content">
                                <p>Download android app</p>
                                <p class="sub-text text-muted">1 hrs ago</p>
                            </div>
                        </a>
                        <a href="#!" class="dropdown-item">
                            <div class="icon">
                                <i class="icon ion-logo-bitcoin"></i>
                            </div>
                            <div class="content">
                                <p>Bitcoin price is high now</p>
                                <p class="sub-text text-muted">2 hrs ago</p>
                            </div>
                        </a>
                        <a href="#!" class="dropdown-item">
                            <div class="icon">
                                <i class="icon ion-logo-usd"></i>
                            </div>
                            <div class="content">
                                <p>Payment completed</p>
                                <p class="sub-text text-muted">4 hrs ago</p>
                            </div>
                        </a>
                    </div>
                    <div class="dropdown-footer d-flex align-items-center justify-content-center">
                        <a href="#!" th:text="#{view_all}">View all</a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown header-img-icon">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <img th:src="@{'/img/avatar.svg'}" src="/img/avatar.svg" alt="avatar">
                </a>
                <div class="dropdown-menu">
                    <div class="dropdown-header d-flex flex-column align-items-center">
                        <div class="figure mb-3">
                            <img th:src="@{'/img/avatar.svg'}" src="/img/avatar.svg" alt="">
                        </div>
                        <div class="info text-center">
                            <p class="name font-weight-bold mb-0" th:text="${loggedUsername}">KFB</p>
                            <p class="email text-muted mb-3" th:text="${loggedUsername}">kfb@gmail.com</p>
                        </div>
                    </div>
                    <div class="dropdown-body">
                        <ul class="profile-nav">
                            <li sec:authorize="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')" class="nav-item">
                                <a class='nav-link' th:href="@{/users/account-info}" th:text="#{profile}"><i class="icon ion-md-person"></i><span>Profile</span></a>
                            </li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                                <a class='nav-link' href='/settings-dark' th:text="#{settings}"><i class="icon ion-md-settings"></i><span>Settings</span></a>
                            </li>
                            <li class="nav-item" id="changeThemeDark">
                                <a href="#!" class="nav-link" th:text="#{theme}"><i class="icon ion-md-moon"></i><span>Theme</span></a>
                            </li>
                            <li class="nav-item">
                                <a class='nav-link red' href="javascript: document.logoutForm1.submit()" role="menuitem" btn-3 th:text="#{logout}">
                                    Logout
                                </a>
                                <form name="logoutForm1" th:action="@{/logout}" method="post" th:hidden="true">
                                    <i class="icon ion-md-power"></i>
                                    <input hidden type="submit" value="Sign Out"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</th:block>
<th:block th:fragment="footer">
    <footer class="landing-footer-two">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="./img/logo-light.svg" alt="">
                    <p th:text="#{footer_description}">Crypo is the most advanced UI kit for making the Blockchain platform. This kit comes with 4 different exchange page, market, wallet and many more</p>
                    <ul class="social-icon">
                        <li><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                        <li><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                        <li><a href="#"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon ion-logo-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon ion-logo-github"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h3 th:text="#{footer_company}">Company</h3>
                    <ul>
                        <li><a href="#" th:text="#{footer_about}">About</a></li>
                        <li><a href="#" th:text="#{footer_careers}">Careers</a></li>
                        <li><a href="#" th:text="#{footer_affiliates}">Affiliates</a></li>
                        <li><a href="#" th:text="#{footer_investors}">Investors</a></li>
                        <li><a href="#" th:text="#{footer_legal_privacy}">Legal & privacy</a></li>
                        <li><a href="#" th:text="#{footer_cookie_policy}">Cookie policy</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h3 th:text="#{footer_individuals}">Individuals</h3>
                    <ul>
                        <li><a href="#" th:text="#{footer_buy_sell}">Buy & sell</a></li>
                        <li><a href="#" th:text="#{footer_earn_crypto}">Earn free crypto</a></li>
                        <li><a href="#" th:text="#{footer_wallet}">Wallet</a></li>
                        <li><a href="#" th:text="#{footer_card}">Card</a></li>
                        <li><a href="#" th:text="#{footer_payment_methods}">Payment methods</a></li>
                        <li><a href="#" th:text="#{footer_account_access}">Account access</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h3 th:text="#{footer_support}">Support</h3>
                    <ul>
                        <li><a href="#" th:text="#{footer_help_center}">Help center</a></li>
                        <li><a href="#" th:text="#{footer_contact_us}">Contact us</a></li>
                        <li><a href="#" th:text="#{footer_create_account}">Create account</a></li>
                        <li><a href="#" th:text="#{footer_id_verification}">ID verification</a></li>
                        <li><a href="#" th:text="#{footer_account_information}">Account information</a></li>
                        <li><a href="#" th:text="#{footer_supported_crypto}">Supported crypto</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h3 th:text="#{footer_learn}">Learn</h3>
                    <ul>
                        <li><a href="#" th:text="#{footer_browse_crypto_prices}">Browse crypto prices</a></li>
                        <li><a href="#" th:text="#{footer_crypto_basics}">Crypto basics</a></li>
                        <li><a href="#" th:text="#{footer_tips_tutorials}">Tips & tutorials</a></li>
                        <li><a href="#" th:text="#{footer_market_updates}">Market updates</a></li>
                        <li><a href="#" th:text="#{footer_how_to_send_crypto}">How to send crypto</a></li>
                        <li><a href="#" th:text="#{footer_what_is_blockchain}">What is a blockchain?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>

<th:block th:fragment="endfooter">
    <script>
        function showMessage(message) {
            if (!message || !message.sender || !message.sender.id || !message.id) {
                console.error('Invalid message format:', message);
                return;
            }

            const messagesContainer = document.getElementById('messages-container');
            if (!messagesContainer) {
                console.error('Messages container not found');
                return;
            }

            const isUserMessage = message.sender.id === parseInt(idUserConnected, 10);

            // Create message container
            const bodyMessage = document.createElement('div');
            bodyMessage.className = `body-message text-white`;

            const messageDiv = document.createElement('div');
            messageDiv.className = `message-content ${isUserMessage ? 'float-right text-right' : 'float-left text-left' }`;

            // Create avatar
            const avatarDiv = document.createElement('div');
            avatarDiv.className = 'card-avatar-chat';
            const avatarLink = document.createElement('a');
            avatarLink.href = '#';
            avatarLink.className = 'image-preview-link';
            const avatarImg = document.createElement('img');
            avatarImg.className = 'avatar-50';
            avatarImg.src = message.sender.avatar && message.sender.avatar.id > 0 ? `/piece-jointes/telechager/${message.sender.avatar.id}` : './../img/avatar.svg';
            avatarImg.alt = 'avatar';
            avatarLink.appendChild(avatarImg);
            avatarDiv.appendChild(avatarLink);

            // Create sender info
            const senderSpan = document.createElement('span');
            senderSpan.className = `small-italic-text`;
            senderSpan.textContent = isUserMessage ? 'you' : message.sender.fullName;
            avatarDiv.appendChild(senderSpan);

            // Create message content
            const messageContentDiv = document.createElement('div');
            messageContentDiv.className = `d-flex flex-column ${isUserMessage ? 'align-items-end':'align-items-start'}`;

            if (message.pieceJointes) {
                const filesDiv = document.createElement('div');
                filesDiv.className = `piece-jointe-chat ${isUserMessage ? 'align-items-end':'align-items-start'}`;
                //const pieceJointeChatDiv = document.createElement('div');
                //pieceJointeChatDiv.className = `piece-jointe-chat ${isUserMessage ? 'align-items-end':'align-items-start'}`;
                message.pieceJointes.forEach(file => {
                    const cardImgChatDiv = document.createElement('div');
                    cardImgChatDiv.className = `card_img_chat`;
                    const fileLink = document.createElement('a');
                    const isImage = ['jpg', 'jpeg', 'png', 'gif'].includes(file.extensionFichier.toLowerCase());
                    fileLink.href = isImage ? '#' : `/piece-jointes/telechager/${file.id}`;
                    if (isImage) {
                        fileLink.onclick = () => showImagePreview(file.id);
                        const fileImg = document.createElement('img');
                        fileImg.src = `/piece-jointes/telechager/${file.id}`;
                        fileImg.alt = file.originalName;
                        fileImg.className = `img_chat`;
                        fileLink.appendChild(fileImg);
                    } else {
                        fileLink.textContent = file.originalName;
                    }
                    cardImgChatDiv.appendChild(fileLink);
                    filesDiv.appendChild(cardImgChatDiv);
                    // filesDiv.appendChild(document.createElement('br'));
                });
                messageContentDiv.appendChild(filesDiv);
            }

            const messageTextDiv = document.createElement('div');
            messageTextDiv.className = `message-content-text ${isUserMessage ? 'bg-success':'bg-secondary'}`;
            messageTextDiv.id = `message-content-${message.id}`;
            const messageTextContent = document.createElement('span');
            messageTextContent.textContent = message.content;
            messageTextDiv.appendChild(messageTextContent);
            messageContentDiv.appendChild(messageTextDiv);

            const timeSpan = document.createElement('span');
            timeSpan.className = `small-italic-text ${isUserMessage ? 'text-right':'text-left'}`;
            timeSpan.textContent = new Date(message.createdAt).toLocaleTimeString();
            messageContentDiv.appendChild(timeSpan);

            // Append elements based on message type
            messageDiv.appendChild(isUserMessage ? messageContentDiv : avatarDiv);
            messageDiv.appendChild(isUserMessage ? avatarDiv : messageContentDiv);

            // Insert the new message at the top of the container
            // messagesContainer.insertBefore(messageDiv, messagesContainer.firstChild);
            bodyMessage.appendChild(messageDiv);
            messagesContainer.appendChild(bodyMessage);
        }

        function showImagePreview(idImageSrc) {
            document.getElementById('previewedImage').src = '/piece-jointes/telechager/'+idImageSrc;
            document.getElementById('downloadImage').href = '/piece-jointes/telechager/'+idImageSrc;
            $('#imagePreviewModal').modal('show');
        }
        function updateFileList() {
            const fileList = document.getElementById('file-list');
            fileList.innerHTML = '';
            selectedFiles.forEach((file, index) => {
                const fileItem = document.createElement('div');
                fileItem.className = 'file-item';
                fileItem.innerHTML = `
                <span>${file.name}</span>
                <button onclick="removeFile(${index})">&times;</button>
            `;
                fileList.appendChild(fileItem);
            });
        }
        function removeFile(index) {
            selectedFiles.splice(index, 1);
            updateFileList();
        }
        function updateFileNameLabel(inputId, defaultLabel) {
            var input = inputId; //document.getElementById(inputId);
            var label = input.nextElementSibling;
            input.addEventListener('change', function() {
                var fileName = (input.files.length>0) ? input.files[0]?.name : defaultLabel;
                label.textContent = fileName;
            });
            // Initialiser le label s'il y a déjà un fichier sélectionné
            var fileName = (input.files.length>0) ? input.files[0]?.name : defaultLabel;
            label.textContent = fileName;
        }
    </script>
    <script th:src="@{'/js/jquery-3.4.1.min.js'}" src="/js/jquery-3.4.1.min.js"></script>

    <script th:src="@{'/js/popper.min.js'}" src="/js/popper.min.js"></script>
    <script th:src="@{'/js/bootstrap.min.js'}" src="/js/bootstrap.min.js"></script>
    <script th:src="@{'/js/amcharts-core.min.js'}" src="/js/amcharts-core.min.js"></script>
    <script th:src="@{'/js/amcharts.min.js'}" src="/js/amcharts.min.js"></script>
    <script th:src="@{'/js/custom.js'}" src="/js/custom.js"></script>
</th:block>

<body id="dark">
</body>

</html>