<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragments_title}">Fragments</title>
</head>
<body>

<div th:fragment="reglement(customerTransactionModel, clients, source)">
    <!-- Modale pour les opérations de dépôt/retrait -->
    <div class="modal fade" id="operationModal" tabindex="-1" role="dialog" aria-labelledby="operationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="operationModalLabel" th:text="#{operation_modal_title}">Opération</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="operationForm" th:object="${customerTransactionModel}" th:action="@{${'/reglements/add?source='+source}}" method="post">
                        <div class="form-group">
                            <label for="operationIdClient" th:text="#{operation_label_client}">Client</label>
                            <select class="form-control" id="operationIdClient" name="idClient" required>
                                <option th:value="${0}" th:text="#{operation_select_customer}">Select customer</option>
                                <option th:each="client : ${clients}"
                                        th:text="${client.fullName}"
                                        th:value="${client.id}">Active</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="operationType" th:text="#{operation_label_type}">Type</label>
                            <select class="form-control" id="operationType" name="type" required>
                                <option value="DEPOSIT" th:text="#{operation_type_deposit}">Dépôt</option>
                                <option value="WITHDRAW" th:text="#{operation_type_withdraw}">Retrait</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="operationMontant" th:text="#{operation_label_amount}">Montant</label>
                            <input type="number" class="form-control" id="operationMontant" name="montant" required>
                        </div>
                        <div class="form-group">
                            <label for="operationReference" th:text="#{operation_label_reference}">Référence</label>
                            <input type="text" class="form-control" id="operationReference" name="reference" required>
                        </div>
                        <div class="form-group">
                            <label for="operationMotif" th:text="#{operation_label_motif}">Motif</label>
                            <input type="text" class="form-control" id="operationMotif" name="motif" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{operation_button_close}">Fermer</button>
                    <button id="idSubmitOperationForm" type="button" class="btn btn-primary" onclick="submitOperationForm()" th:text="#{operation_button_submit}">Soumettre</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fragment pour la deuxième section (Security Information) -->
<div th:fragment="imagePreviewModal">
    <div class="modal fade" id="imagePreviewModal" tabindex="-1" role="dialog" aria-labelledby="imagePreviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imagePreviewModalLabel" th:text="#{image_preview_modal_title}">Image Preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img id="previewedImage" src="#" class="img-fluid" alt="Previewed Image">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{image_preview_modal_button_close}">Close</button>
                    <a type="button" id="downloadImage" class="btn btn-primary" href="#" th:text="#{image_preview_modal_button_download}">Télécharger</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
