<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page_title}">Fragments</title>
</head>
<body>

<!-- Fragment pour la première section (General Information) -->
<div th:fragment="profils(updateClientBindingModel, dontMatch, isExists, userConnected)">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between" th:object="${updateClientBindingModel}">
                <h5 class="card-title" th:text="#{general_information}">General Information</h5>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="text-white text-right">
                    <i th:title="*{stateAccount.value}" th:text="*{' ' + stateAccount.value}" th:if="*{stateAccount.name().equals('WAITING_FOR_EMAIL_VERIFICATION')}" class="icon p-1 rounded-sm ion-ios-sync badge-warning"></i>
                    <i th:title="*{stateAccount.value}" th:text="*{' ' + stateAccount.value}" th:if="*{stateAccount.name().equals('WAITING_FOR_ADDITIONAL_INFORMATION')}" class="icon p-1 rounded-sm ion-ios-sync badge-warning"></i>
                    <i th:title="*{stateAccount.value}" th:text="*{' ' + stateAccount.value}" th:if="*{stateAccount.name().equals('WAITING_FOR_VALIDATION')}" class="text-info icon p-1 rounded-sm ion-ios-add-circle"></i>
                    <i th:title="*{stateAccount.value}" th:text="*{' ' + stateAccount.value}" th:if="*{stateAccount.name().equals('ACTIVE')}" class="text-success icon p-1 rounded-sm ion-ios-checkmark-circle"></i>
                    <i th:title="*{stateAccount.value}" th:text="*{' ' + stateAccount.value}" th:if="*{stateAccount.name().equals('REJECT')}" class="icon p-1 rounded-sm ion-ios-checkmark-circle badge-danger"></i>
                    <i th:title="*{stateAccount.value}" th:text="*{' ' + stateAccount.value}" th:if="*{stateAccount.name().equals('DEACTIVATE')}" class="icon p-1 rounded-sm ion-ios-lock badge-info"></i>
                    <div class="mt-3" >
                        <a th:title="*{stateAccount.ACTIVE.value}" class="mr-1" th:href="@{/users/{id}/state/{state}(id=${updateClientBindingModel.id}, state='ACTIVE')}" th:if="*{!stateAccount.name().equals('ACTIVE')}"><i class="text-white icon ion-md-checkmark-circle"></i></a>
                        <a th:title="*{stateAccount.WAITING_FOR_ADDITIONAL_INFORMATION.value}" class="mr-1" th:href="@{/users/{id}/state/{state}(id=${updateClientBindingModel.id}, state='WAITING_FOR_ADDITIONAL_INFORMATION')}" th:if="*{!stateAccount.name().equals('WAITING_FOR_ADDITIONAL_INFORMATION')}"><i class="text-white icon ion-md-add-circle"></i></a>
                        <a th:title="*{stateAccount.REJECT.value}" class="mr-1" th:href="@{/users/{id}/state/{state}(id=${updateClientBindingModel.id}, state='REJECT')}" th:if="*{!stateAccount.name().equals('REJECT')}"><i class="text-white icon ion-ios-archive"></i></a>
                        <a th:title="*{stateAccount.DEACTIVATE.value}" class="mr-1" th:href="@{/users/{id}/state/{state}(id=${updateClientBindingModel.id}, state='DEACTIVATE')}" th:if="*{!stateAccount.name().equals('DEACTIVATE')}"><i class="text-white icon ion-ios-lock"></i></a>
                    </div>
                </div>

            </div>
            <div class="settings-profile">
                <form th:object="${updateClientBindingModel}" method="POST" th:action="@{/users/update-user}" enctype="multipart/form-data">

                    <input type="hidden" th:field="*{id}" />
                    <div class="">
                        <a href="#" class="image-preview-link" th:data-image-id="*{idPjAvatar}">
                            <img class="avatar" th:if="*{idPjAvatar>0}" th:src="@{*{idPjAvatar}}" alt="avatar">
                            <img class="avatar" th:if="*{!(idPjAvatar>0)}" th:src="@{'./../img/avatar.svg'}" alt="avatar">
                        </a>
                        <div class="custom-file">
                            <input type="hidden" th:field="*{idPjAvatar}" />
                            <input type="file" class="custom-file-input" id="pjAvatar" th:field="*{avatar}" accept="image/png,image/jpg,image/jpeg" onchange="updateFileNameLabel(this, 'Choose avatar')" >
                            <label class="custom-file-label" for="pjAvatar" th:text="#{choose_avatar}">Choose avatar</label>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-md-6">
                            <label for="fullName" th:text="#{full_name}">Full Name</label>
                            <input th:field="*{fullname}" id="fullName" type="text" class="form-control" placeholder="Full name">
                        </div>
                        <!--                        <div class="col-md-6">-->
                        <!--                            <label for="email">Email</label>-->
                        <!--                            <input th:field="*{email}" id="email" type="text" class="form-control" placeholder="Enter your email" disabled>-->
                        <!--                            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errors">Invalid email</small>-->
                        <!--                        </div>-->
                        <!--<div class="col-md-6">
                            <label for="phoneNumber">Phone</label>
                            <input id="phoneNumber" type="text" class="form-control" placeholder="Enter phone number">
                        </div>-->
                        <!--                        <div class="col-md-6">-->
                        <!--                            <label for="selectLanguage">Language</label>-->
                        <!--                            <select id="selectLanguage" class="custom-select">-->
                        <!--                                <option selected>English</option>-->
                        <!--                                &lt;!&ndash;<option>Russian</option>&ndash;&gt;-->
                        <!--                            </select>-->
                        <!--                        </div>
                                                <div class="col-md-6">
                                                    <label for="selectCurrency">Currency</label>
                                                    <select id="selectCurrency" class="custom-select">
                                                        <option selected>USD</option>
                                                    </select>
                                                </div> -->
                        <div class="col-md-6">
                            <div class="custom-file" style="width: 100%; margin: 0">
                                <input type="hidden" th:field="*{idPjFrontIdCard}" />
                                <input type="file" class="custom-file-input" id="pjFrontIdCard" th:field="*{frontIdCard}" accept="image/png,image/jpg,image/jpeg" onchange="updateFileNameLabel(this, 'Choose forward profile')">
                                <label class="custom-file-label" for="pjFrontIdCard" th:text="#{front_photo}">Front Photo</label>
                                <a href="#" class="image-preview-link" th:data-image-id="*{idPjFrontIdCard}" th:text="*{namePjFrontIdCard}">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="custom-file" style="width: 100%; margin: 0">
                                <input type="hidden" th:field="*{idPjBackIdCard}" />
                                <input type="file" class="custom-file-input" id="pjBackIdCard" th:field="*{backIdCard}" accept="image/png,image/jpg,image/jpeg" onchange="updateFileNameLabel(this, 'Choose Back Photo')" >
                                <label class="custom-file-label" for="pjBackIdCard" th:text="#{back_photo}">Back Photo</label>
                                <a href="#" class="image-preview-link" th:data-image-id="*{idPjBackIdCard}" th:text="*{namePjBackIdCard}">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="custom-file" style="width: 100%; margin: 0">
                                <input type="hidden" th:field="*{idPjSelfy}" />
                                <input type="file" class="custom-file-input" id="pjSelfy" th:field="*{selfy}" accept="image/png,image/jpg,image/jpeg" onchange="updateFileNameLabel(this, 'Choose Selfie Photo')" >
                                <label class="custom-file-label" for="pjSelfy" th:text="#{selfie_photo}">Selfie Photo</label>
                                <a href="#" class="image-preview-link" th:data-image-id="*{idPjSelfy}" th:text="*{namePjSelfy}">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <input type="submit" value="Update">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--<div class="card">
        <div class="card-body">
            <h5 class="card-title">Security Information</h5>
            <div th:marginheight="10px" th:if="${dontMatch}" class="errors" >
                Passwords don't match
            </div>
            <div th:marginheight="10px" th:if="${isExists}" class="errors" >
                This email already exist.
            </div>
            ---                                --!!
            <div class="settings-profile">
                <form method="POST" th:object="${updateClientBindingModel}" th:action="@{/users/update-user}">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="email1">email</label>
                            <input id="email1" class="form-control" th:field="*{email}"  th:value="*{email}" type="email" name="name"  required disabled>
                            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errors">Invalid email</small>
                        </div>
                        <div class="col-md-6">
                            <label for="currentPass">Current password</label>
                            <input id="currentPass" type="text" class="form-control" placeholder="Enter your password">
                        </div>
                        <div class="col-md-6">
                            <label for="password">New password</label>
                            <input id="password" class="form-control" th:field="*{password}" type="password" name="password"   required placeholder="Enter new password">
                            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errors">Invalid password</small>
                        </div>
                        <div class="col-md-6">
                            <label for="confirmPassword">Confirm Password</label>
                            <input id="confirmPassword" class="form-control" th:field="*{password}" type="password" name="confirmPassword"  required>
                            <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{password}" class="errors">Invalid password</small>
                        </div>
                        <div class="col-md-6">
                            <label for="securityOne">Security questions #1</label>
                            <select id="securityOne" class="custom-select">
                                <option selected>What was the name of your first pet?</option>
                                <option>What's your Mother's middle name?</option>
                                <option>What was the name of your first school?</option>
                                <option>Where did you travel for the first time?</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="securityAnsOne">Answer</label>
                            <input id="securityAnsOne" type="text" class="form-control" placeholder="Enter your answer">
                        </div>
                        <div class="col-md-6">
                            <label for="securityTwo">Security questions #2</label>
                            <select id="securityTwo" class="custom-select">
                                <option selected>Choose...</option>
                                <option>What was the name of your first pet?</option>
                                <option>What's your Mother's middle name?</option>
                                <option>What was the name of your first school?</option>
                                <option>Where did you travel for the first time?</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="securityAnsTwo">Answer</label>
                            <input id="securityAnsTwo" type="text" class="form-control" placeholder="Enter your answer">
                        </div>
                        <div class="col-md-6">
                            <label for="securityThree">Security questions #3</label>
                            <select id="securityThree" class="custom-select">
                                <option selected>Choose...</option>
                                <option>What was the name of your first pet?</option>
                                <option>What's your Mother's middle name?</option>
                                <option>What was the name of your first school?</option>
                                <option>Where did you travel for the first time?</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="securityFore">Answer</label>
                            <input id="securityFore" type="text" class="form-control" placeholder="Enter your answer">
                        </div>
                        <div class="col-md-12">
                            <input type="submit" value="Update">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>-->
</div>

<!-- Fragment pour la deuxième section (Security Information) -->
<div th:fragment="wallet">
    <div class="wallet">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link d-flex justify-content-between align-items-center active" data-toggle="pill"
                       href="#coinBTC" role="tab" aria-selected="true">
                        <div class="d-flex">
                            <img src="./assets/img/icon/18.png" alt="btc">
                            <div>
                                <h2>BTC</h2>
                                <p>Bitcoin</p>
                            </div>
                        </div>
                        <div>
                            <h3>4.5484254</h3>
                            <p class="text-right"><i class="icon ion-md-lock"></i> 0.0000000</p>
                        </div>
                    </a>
                    <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="pill"
                       href="#coinETH" role="tab" aria-selected="true">
                        <div class="d-flex">
                            <img src="./assets/img/icon/1.png" alt="btc">
                            <div>
                                <h2>ETH</h2>
                                <p>Ethereum</p>
                            </div>
                        </div>
                        <div>
                            <h3>13.454845</h3>
                            <p class="text-right"><i class="icon ion-md-lock"></i> 0.0000000</p>
                        </div>
                    </a>
                    <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="pill"
                       href="#coinBNB" role="tab" aria-selected="true">
                        <div class="d-flex">
                            <img src="./assets/img/icon/9.png" alt="btc">
                            <div>
                                <h2>BNB</h2>
                                <p>Binance</p>
                            </div>
                        </div>
                        <div>
                            <h3>35.4842458</h3>
                            <p class="text-right"><i class="icon ion-md-lock"></i> 0.0000000</p>
                        </div>
                    </a>
                    <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="pill"
                       href="#coinTRX" role="tab" aria-selected="true">
                        <div class="d-flex">
                            <img src="./assets/img/icon/6.png" alt="btc">
                            <div>
                                <h2>TRX</h2>
                                <p>Tron</p>
                            </div>
                        </div>
                        <div>
                            <h3>4.458941</h3>
                            <p class="text-right"><i class="icon ion-md-lock"></i> 0.0000000</p>
                        </div>
                    </a>
                    <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="pill"
                       href="#coinEOS" role="tab" aria-selected="true">
                        <div class="d-flex">
                            <img src="./assets/img/icon/2.png" alt="btc">
                            <div>
                                <h2>EOS</h2>
                                <p>Eosio</p>
                            </div>
                        </div>
                        <div>
                            <h3>33.478951</h3>
                            <p class="text-right"><i class="icon ion-md-lock"></i> 0.0000000</p>
                        </div>
                    </a>
                    <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="pill"
                       href="#coinXMR" role="tab" aria-selected="true">
                        <div class="d-flex">
                            <img src="./assets/img/icon/7.png" alt="btc">
                            <div>
                                <h2>XMR</h2>
                                <p>Monero</p>
                            </div>
                        </div>
                        <div>
                            <h3>99.465975</h3>
                            <p class="text-right"><i class="icon ion-md-lock"></i> 0.0000000</p>
                        </div>
                    </a>
                    <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="pill"
                       href="#coinKCS" role="tab" aria-selected="true">
                        <div class="d-flex">
                            <img src="./assets/img/icon/4.png" alt="btc">
                            <div>
                                <h2>KCS</h2>
                                <p>Kstarcoin</p>
                            </div>
                        </div>
                        <div>
                            <h3>114.57564</h3>
                            <p class="text-right"><i class="icon ion-md-lock"></i> 0.0000000</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="coinBTC" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Balances</h5>
                                <ul>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-cash"></i>
                                            <h2>Total Equity</h2>
                                        </div>
                                        <div>
                                            <h3>5.5894 BTC</h3>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-checkmark"></i>
                                            <h2>Available Margin</h2>
                                        </div>
                                        <div>
                                            <h3>2.480 BTC</h3>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn green">Deposit</button>
                                <button class="btn red">Withdraw</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Wallet Deposit Address</h5>
                                <div class="row wallet-address">
                                    <div class="col-md-8">
                                        <p>Deposits to this address are unlimited. Note that you may not be able to withdraw all
                                            of your
                                            funds at once if you deposit more than your daily withdrawal limit.</p>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="Ad87deD4gEe8dG57Ede4eEg5dREs4d5e8f4e">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-primary">COPY</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./assets/img/qr-code-light.svg" alt="qr-code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Latest Transactions</h5>
                                <div class="wallet-history">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>25-04-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>4.5454334</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>25-05-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>0.5484468</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-06-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>25-07-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>1.45894147</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-08-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="coinETH" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Balances</h5>
                                <ul>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-cash"></i>
                                            <h2>Total Equity</h2>
                                        </div>
                                        <div>
                                            <h3>4.1542 ETH</h3>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-checkmark"></i>
                                            <h2>Available Margin</h2>
                                        </div>
                                        <div>
                                            <h3>1.334 ETH</h3>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn green">Deposit</button>
                                <button class="btn red">Withdraw</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Wallet Deposit Address</h5>
                                <div class="row wallet-address">
                                    <div class="col-md-8">
                                        <p>Deposits to this address are unlimited. Note that you may not be able to withdraw all
                                            of your
                                            funds at once if you deposit more than your daily withdrawal limit.</p>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="Ad87deD4gEe8dG57Ede4eEg5dREs4d5e8f4e">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-primary">COPY</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./assets/img/qr-code-light.svg" alt="qr-code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Latest Transactions</h5>
                                <div class="wallet-history">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>25-04-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>4.5454334</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>25-05-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>0.5484468</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-06-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>25-07-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>1.45894147</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-08-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="coinBNB" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Balances</h5>
                                <ul>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-cash"></i>
                                            <h2>Total Equity</h2>
                                        </div>
                                        <div>
                                            <h3>7.342 BNB</h3>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-checkmark"></i>
                                            <h2>Available Margin</h2>
                                        </div>
                                        <div>
                                            <h3>0.332 BNB</h3>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn green">Deposit</button>
                                <button class="btn red">Withdraw</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Wallet Deposit Address</h5>
                                <div class="row wallet-address">
                                    <div class="col-md-8">
                                        <p>Deposits to this address are unlimited. Note that you may not be able to withdraw all
                                            of your
                                            funds at once if you deposit more than your daily withdrawal limit.</p>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="Ad87deD4gEe8dG57Ede4eEg5dREs4d5e8f4e">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-primary">COPY</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./assets/img/qr-code-light.svg" alt="qr-code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Latest Transactions</h5>
                                <div class="wallet-history">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>25-04-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>4.5454334</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>25-05-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>0.5484468</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-06-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>25-07-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>1.45894147</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-08-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="coinTRX" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Balances</h5>
                                <ul>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-cash"></i>
                                            <h2>Total Equity</h2>
                                        </div>
                                        <div>
                                            <h3>4.3344 TRX</h3>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-checkmark"></i>
                                            <h2>Available Margin</h2>
                                        </div>
                                        <div>
                                            <h3>1.453 TRX</h3>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn green">Deposit</button>
                                <button class="btn red">Withdraw</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Wallet Deposit Address</h5>
                                <div class="row wallet-address">
                                    <div class="col-md-8">
                                        <p>Deposits to this address are unlimited. Note that you may not be able to withdraw all
                                            of your
                                            funds at once if you deposit more than your daily withdrawal limit.</p>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="Ad87deD4gEe8dG57Ede4eEg5dREs4d5e8f4e">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-primary">COPY</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./assets/img/qr-code-light.svg" alt="qr-code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Latest Transactions</h5>
                                <div class="wallet-history">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>25-04-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>4.5454334</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>25-05-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>0.5484468</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-06-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>25-07-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>1.45894147</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-08-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="coinEOS" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Balances</h5>
                                <ul>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-cash"></i>
                                            <h2>Total Equity</h2>
                                        </div>
                                        <div>
                                            <h3>33.35 EOS</h3>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-checkmark"></i>
                                            <h2>Available Margin</h2>
                                        </div>
                                        <div>
                                            <h3>4.445 EOS</h3>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn green">Deposit</button>
                                <button class="btn red">Withdraw</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Wallet Deposit Address</h5>
                                <div class="row wallet-address">
                                    <div class="col-md-8">
                                        <p>Deposits to this address are unlimited. Note that you may not be able to withdraw all
                                            of your
                                            funds at once if you deposit more than your daily withdrawal limit.</p>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="Ad87deD4gEe8dG57Ede4eEg5dREs4d5e8f4e">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-primary">COPY</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./assets/img/qr-code-light.svg" alt="qr-code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Latest Transactions</h5>
                                <div class="wallet-history">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>25-04-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>4.5454334</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>25-05-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>0.5484468</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-06-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>25-07-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>1.45894147</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-08-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="coinXMR" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Balances</h5>
                                <ul>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-cash"></i>
                                            <h2>Total Equity</h2>
                                        </div>
                                        <div>
                                            <h3>34.333 XMR</h3>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-checkmark"></i>
                                            <h2>Available Margin</h2>
                                        </div>
                                        <div>
                                            <h3>2.354 XMR</h3>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn green">Deposit</button>
                                <button class="btn red">Withdraw</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Wallet Deposit Address</h5>
                                <div class="row wallet-address">
                                    <div class="col-md-8">
                                        <p>Deposits to this address are unlimited. Note that you may not be able to withdraw all
                                            of your
                                            funds at once if you deposit more than your daily withdrawal limit.</p>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="Ad87deD4gEe8dG57Ede4eEg5dREs4d5e8f4e">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-primary">COPY</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./assets/img/qr-code-light.svg" alt="qr-code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Latest Transactions</h5>
                                <div class="wallet-history">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>25-04-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>4.5454334</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>25-05-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>0.5484468</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-06-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>25-07-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>1.45894147</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-08-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="coinKCS" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Balances</h5>
                                <ul>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-cash"></i>
                                            <h2>Total Equity</h2>
                                        </div>
                                        <div>
                                            <h3>86.577 KCS</h3>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="icon ion-md-checkmark"></i>
                                            <h2>Available Margin</h2>
                                        </div>
                                        <div>
                                            <h3>5.78 KCS</h3>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn green">Deposit</button>
                                <button class="btn red">Withdraw</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Wallet Deposit Address</h5>
                                <div class="row wallet-address">
                                    <div class="col-md-8">
                                        <p>Deposits to this address are unlimited. Note that you may not be able to withdraw all
                                            of your
                                            funds at once if you deposit more than your daily withdrawal limit.</p>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="Ad87deD4gEe8dG57Ede4eEg5dREs4d5e8f4e">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-primary">COPY</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="./assets/img/qr-code-light.svg" alt="qr-code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Latest Transactions</h5>
                                <div class="wallet-history">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>25-04-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>4.5454334</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>25-05-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>0.5484468</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-06-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>25-07-2019</td>
                                            <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                            <td>1.45894147</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>25-08-2019</td>
                                            <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                            <td>2.5454545</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="setting">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Your API Keys</h5>
            <div class="wallet-history">
                <table class="table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Key</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>zRmWVcrAZ1C0RZkFMu7K5v0KWC9jUJLt</td>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="apiStatus1" checked>
                                <label class="custom-control-label" for="apiStatus1"></label>
                            </div>
                        </td>
                        <td><i class="icon ion-md-trash"></i></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Rv5dgnKdmVPyHwxeExBYz8uFwYQz3Jvg</td>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="apiStatus2">
                                <label class="custom-control-label" for="apiStatus2"></label>
                            </div>
                        </td>
                        <td><i class="icon ion-md-trash"></i></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>VxEYIs1HwgmtKTUMA4aknjSEjjePZIWu</td>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="apiStatus3">
                                <label class="custom-control-label" for="apiStatus3"></label>
                            </div>
                        </td>
                        <td><i class="icon ion-md-trash"></i></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>M01DueJ4x3awI1SSLGT3CP1EeLSnqt8o</td>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="apiStatus4">
                                <label class="custom-control-label" for="apiStatus4"></label>
                            </div>
                        </td>
                        <td><i class="icon ion-md-trash"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>
