<tbody  id="market12">
<tr>
    <td>ETH/USDT</td>
    <td id="price-2961">0.0</td>
    <td id="variation-2961" class="text-success">0.0%</td>
</tr>
<tr>
    <td>USD/USDT</td>
    <td id="price-2959">0.0</td>
    <td id="variation-2959" class="text-danger">0.0%</td>
</tr>
<tr>
    <td>BTC/USDT</td>
    <td id="price-2960">0.0</td>
    <td id="variation-2960" class="text-success">0.0%</td>
</tr>
<tr>
    <td>LTC/USDT</td>
    <td id="price-2962" style="color: green; font-weight: bold; font-size: 120%;">0.0</td>
    <td id="variation-2962" class="text-success">0.0%</td>
</tr>
<tr>
    <td>USDC/USDT</td>
    <td id="price-2963">0.00</td>
    <td id="variation-2963" class="text-danger">0.0%</td>
</tr>
<tr>
    <td>SOL/USDT</td>
    <td id="price-2964">0.0</td>
    <td id="variation-2964" class="text-success">0.0%</td>
</tr>
<tr>
    <td>TRX/USDT</td>
    <td id="price-2965">0.0</td>
    <td id="variation-2965" class="text-danger">0.0%</td>
</tr>
<tr>
    <td>LINK/USDT</td>
    <td id="price-2966">0.0</td>
    <td id="variation-2966" class="text-success">0.0%</td>
</tr>
<tr>
    <td>ARB/USDT</td>
    <td id="price-2967">0.0</td>
    <td id="variation-2967" class="text-success">0.0%</td>
</tr>
<tr>
    <td>BCH/USDT</td>
    <td id="price-2968">0.0</td>
    <td id="variation-2968" class="text-danger">0.0%</td>
</tr>
</tbody>