<!-- Bootstrap core JavaScript -->

<script th:src="@{'/js/jquery-3.4.1.min.js'}" src="/js/jquery-3.4.1.min.js"></script>

<script th:src="@{'/js/popper.min.js'}" src="/js/popper.min.js"></script>
<script th:src="@{'/js/bootstrap.min.js'}" src="/js/bootstrap.min.js"></script>
<script th:src="@{'/js/amcharts-core.min.js'}" src="/js/amcharts-core.min.js"></script>
<script th:src="@{'/js/amcharts.min.js'}" src="/js/amcharts.min.js"></script>
<script th:src="@{'/js/custom.js'}" src="/js/custom.js"></script>
<!-- JS needed for this page -->
<script th:src="@{'/js/main.js'}" src="/js/main.js"></script>