<!-- Sidebar -->
<nav class="sidebar">
  <div class="dismiss">
    <i class="icon ion-md-close"></i>
  </div>

  <ul class="list-unstyled menu-elements">
    <th:block sec:authorize="!isAuthenticated()">
      <li>
        <br><br>
        <a class="scroll-link text_color" th:href="@{'/users/login'}">
          <span th:text="#{welcome_to}">Welcome To</span>
          <span>ESUVATE</span> <span th:text="#{please_sign_in}">Please Sign in</span>
        </a>
      </li>

      <li class="nav-item" id="changeThemeDark">
        <a class="scroll-link text_color" href="#">
          <i class="icon ion-md-moon"></i><span th:text="#{theme}">Theme</span>
        </a>
      </li>
      <li>
        <a class="scroll-link text_color" th:href="@{'/about-us-site'}">
          <i class="icon ion-md-information-circle"></i><span th:text="#{about_us}">About US</span>
        </a>
      </li>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
      <li>
        <span th:text="#{welcome_back_to}">Welcome Back to</span> <span>ESUVATE</span>
      </li>

      <li class="scroll-link nav-item" id="changeThemeDark">
        <a class="scroll-link text_color" href="#">
          <i class="icon ion-md-moon"></i><span th:text="#{theme}">Theme</span>
        </a>
      </li>
      <li>
        <a class="scroll-link text_color" th:href="@{'/users/account-info'}">
          <i class="icon ion-md-person"></i><span th:text="#{identity_verification}">Identity Verification</span>
        </a>
      </li>

      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="scroll-link text_color" th:href="@{'/chat/admin'}">
          <i class="icon ion-md-headset"></i><span th:text="#{online_service}">Online Service</span>
        </a>
      </li>
      <li sec:authorize="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')">
        <a class="scroll-link text_color" th:href="@{'/chat/user'}">
          <i class="icon ion-md-chatboxes"></i><span th:text="#{online_service}">Online Service</span>
        </a>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="scroll-link text_color" th:href="@{'/reglements'}">
          <i class="icon ion-md-cash"></i><span th:text="#{deposit}">Deposit</span>
        </a>
      </li>
      <li sec:authorize="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')">
        <a class="scroll-link text_color" th:href="@{'/reglements/deposit'}">
          <i class="icon ion-md-send"></i><span th:text="#{deposit}">Deposit</span>
        </a>
      </li>

      <li>
        <a class="scroll-link text_color active" href="#" th:href="@{'/about-us-site'}">
          <i class="icon ion-md-information-circle"></i><span th:text="#{about_us}">About US</span>
        </a>
      </li>
      <li>
        <a class="scroll-link text_color red" href="javascript: document.logoutForm1.submit()" role="menuitem">
          <span th:text="#{logout}">Logout</span>
        </a>
        <form name="logoutForm1" th:action="@{/logout}" method="post" th:hidden="true">
          <i class="icon ion-md-power"></i>
          <input hidden type="submit" th:value="#{sign_out}" value="Sign Out" />
        </form>
      </li>
    </th:block>
  </ul>

  <div class="dark-light-buttons">
    <a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button" th:text="#{dark_mode}">Dark</a>
    <a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button" th:text="#{light_mode}">Light</a>
  </div>
</nav>
<!-- End sidebar -->

<!-- Dark overlay -->
<div class="overlay"></div>
