<link th:href="@{'/img/logo.png'}" rel="icon" href="/img/logo.png" type="image/x-icon">
<link th:href="@{'/css/style.css'}" rel="stylesheet" href="/css/style.css">
<link th:href="@{'/css/monstyle.css'}" rel="stylesheet" href="/css/monstyle.css">
<link th:href="@{'/css/main.css'}" rel="stylesheet" href="/css/main.css">