<!-- As a heading -->
<nav class="navbar fixed-top navbar-light bg-light">

  <a class="navbar-brand open-menu" href="#" role="button">
    <img th:src="@{'/img/logo.png'}" src="/img/logo.png" alt="Logo Exusvate" height="30">
  </a>

  <div class="dropdown">
    <a class="dropdown-toggle text-decoration-none" href="#" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
      <span><i class="icon ion-md-translate text-black" width="20" height="20"></i></span> Language<span th:text="${lang}"></span>
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" th:each="langue : ${langues}" th:href="@{'?lang=' + ${langue.symbole}}">
        <img width="20" height="20" th:src="@{${'/img/flags/'+langue.icon}}" th:alt="'flag of ' + ${langue.value}">
        <span th:text="${langue.value}"></span>
      </a>
      <!--a class="dropdown-item active" href="#"><img src="english_flag.png" alt="English flag"> English</a>
      <a class="dropdown-item" href="#"><img src="chinese_flag.png" alt="Chinese flag"> 中文</a>
      <a class="dropdown-item" href="#"><img src="traditional_chinese_flag.png" alt="Traditional Chinese flag"> 繁體中文</a>
      <a class="dropdown-item" href="#"><img src="japanese_flag.png" alt="Japanese flag"> 日本語</a>
      <a class="dropdown-item" href="#"><img src="indonesian_flag.png" alt="Indonesian flag"> Indonesia</a>
      <a class="dropdown-item" href="#"><img src="spanish_flag.png" alt="Spanish flag"> Español</a>
      <a class="dropdown-item" href="#"><img src="german_flag.png" alt="German flag"> Deutsch</a>
      <a class="dropdown-item" href="#"><img src="french_flag.png" alt="French flag"> Français</a-->
    </div>
  </div>
</nav>
