<!-- Bottom Nav Bar -->
<footer class="footer">
  <div id="buttonGroup" class="btn-group selectors" role="group" aria-label="Basic example">
    <button id="home" type="button" class="btn btn-secondary button-active">
      <div class="selector-holder">
        <i class="icon ion-md-home"></i>
        <a th:href="@{'/site'}" href="#">
          <span th:text="#{footer_home}">Home</span>
        </a>
      </div>
    </button>
    <button id="Markets" type="button" class="btn btn-secondary button-inactive">
      <div class="selector-holder">
        <i class="icon ion-md-globe"></i>
        <a th:href="@{'/market-site'}" href="#">
          <span th:text="#{footer_markets}">Markets</span>
        </a>
      </div>
    </button>
    <button id="Exchange" type="button" class="btn btn-secondary button-inactive">
      <div class="selector-holder">
        <i class="icon ion-md-swap"></i>
        <a th:href="@{'/exchange-site'}" href="#">
          <span th:text="#{footer_exchange}">Exchange</span>
        </a>
      </div>
    </button>
    <button id="Lever" type="button" class="btn btn-secondary button-inactive">
      <div class="selector-holder">
        <i class="icon ion-md-trending-up"></i>
        <a th:href="@{'/site-lever'}" href="#">
          <span th:text="#{footer_lever}">Lever</span>
        </a>
      </div>
    </button>
    <button id="Assets" type="button" class="btn btn-secondary button-inactive">
      <div class="selector-holder">
        <i class="icon ion-md-briefcase"></i>
        <a th:href="@{'/assets-site'}" href="#">
          <span th:text="#{footer_assets}">Assets</span>
        </a>
      </div>
    </button>
  </div>
</footer>
