<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Create your life here!">
<meta name="author" content="Betch ottokem">
<link rel="icon" href="#">
<link rel="preconnect" href="https://fonts.gstatic.com">
