.nav2{
    /*position: fixed;*/
    bottom: 0;
    z-index: 999;
    width: 100%;
    justify-content: space-between;
    padding: 0rem 0rem !important;
    border-top: 1px solid #131722;
}
.blacnk_space{
    display: flex;
    border-top: 1px solid #2a2e39;
    padding: 100px 0;
    text-align: center;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.language{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconlanfuage{
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid red;
    background-color: red;
    display: inline-block;
}
.slider {
    /* margin-top: 15px;
    margin-bottom: 15px;*/
    overflow: hidden;
}

.slider .slide {
    animation: slider 30s infinite ease-in-out;
    display: flex;
    margin-top: 56px;
    /* Si on veut faire glisser vers la droite */
    /* Il faut aussi changer l'animation(transform) en valeurs positives */
    /* flex-direction: row-reverse; */
}
@keyframes slider{
    0%,
    20% {
        transform: translateX(0);
    }
    25%,
    45% {
        transform: translateX(-100%);
    }
    50%,
    70% {
        transform: translateX(-200%);
    }
    75%,
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}


/* /////////////////// */

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    z-index: 5;
    height: 100%;
    position: fixed;
    left: 0;
    width: 325px;
    margin-top: 57px;
    transform: translateX(-328px);
    transition: transform 250ms ease-in-out;
    background: #e0e3eb;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    left: 15px;
    width: 33px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.USDT{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/prixmarche.jpg');
}
.content_menu_bas{
    text-align: center;
    width: 20%;
    padding: .5rem 0;
}
.icon_footer{
    width: 24px;
    height: 24px;
}