html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

#conversations, #chat-body, #contacts {
    overflow-y: auto;
    height: calc(100% - 56px); /* Adjust for header height if any */
}

.chat-messages {
    height: calc(100% - 56px); /* Adjust for input height */
    overflow-y: scroll;
}

.chat-input {
    height: 56px; /* Adjust input height */
}

.resizeable {
    resize: horizontal;
    overflow: auto;
}
