<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/site-head-meta}"></div>
    <title>Exusvate Account</title>
    <div th:replace="~{fragments/site-head-css}"></div>
    <div th:replace="~{fragments/site-head-fonts}"></div>
</head>
<body>
<div th:replace="~{fragments/site-header}"></div>

<div th:replace="~{fragments/site-sidebar}"></div>

<!-- Begin page content -->
<div class="container-fluid p-0">
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <!--                <div class="text-danger" th:text="${userConnected.getRoles()}">  </div>-->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="settings-profile" role="tabpanel" aria-labelledby="settings-profile-tab">
                        <!--                        <div th:insert="fragments/fragments-account-info :: profils(${updateClientBindingModel}, ${dontMatch}, ${isExists})"></div>-->
                        <div th:insert="~{fragments/fragments-account-info :: profils(updateClientBindingModel=${updateClientBindingModel}, dontMatch=${dontMatch}, isExists=${isExists}, userConnected=${userConnected})}"></div>
                    </div>
                    <!-- <div class="tab-pane fade" id="settings-wallet" role="tabpanel" aria-labelledby="settings-wallet-tab">
                         <div th:insert="fragments/fragments-account-info :: wallet"></div>

                     </div>
                     <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                         <div th:insert="fragments/fragments-account-info :: setting"></div>
                     </div>-->
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/fragments-share :: imagePreviewModal}"></div>

</div>

<div th:replace="~{fragments/site-footer}"></div>
<div th:replace="~{fragments/site-scripts}"></div>

<script th:inline="javascript">
    // Fonction pour mettre à jour le label du fichier sélectionné



    var previewLinks = document.querySelectorAll('.image-preview-link');

    previewLinks.forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            console.log(link)
            var idImageSrc = link.getAttribute('data-image-id');
            showImagePreview(idImageSrc);
        });
    });

    // Votre script pour gérer l'affichage du modal et la prévisualisation des images
   /* function showImagePreview(imageSrc) {
        document.getElementById('previewedImage').src = imageSrc;
        document.getElementById('downloadImage').href = imageSrc;
        $('#imagePreviewModal').modal('show');
    }*/

</script>
</body>
</html>