<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/site-head-meta}"></div>
    <title>Exusvate Successful active account</title>
    <div th:replace="~{fragments/site-head-css}"></div>
    <div th:replace="~{fragments/site-head-fonts}"></div>
</head>
<body>
<div th:replace="~{fragments/site-header}"></div>

<div th:replace="~{fragments/site-sidebar}"></div>

<!-- Begin page content -->
<div class="auth-page vh-100 d-flex justify-content-center text-center">
    <div class="my-auto" >
        <h3 class="font-weight-bold text-white" th:text="${tilte}"> Successful active account </h3>
        <p th:text="${contentMessage}">Your account has been successfully activated. Please complete your identification in your profile.</p>

        <a class='btn' th:href='@{/users/login}'>Login <i class="icon ion-md-log-in"></i></a>
    </div>
</div>

<div th:replace="~{fragments/site-footer}"></div>
<div th:replace="~{fragments/site-scripts}"></div>
</body>

</html>