<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"></div>
        <div th:replace="fragments/fragments::navbar"></div>

    </nav>
</header>
<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <form th:object="${resetPassWordModel}" th:action="@{/users/reset/password/set2}" action="/users/reset/password/set2/" method="POST">
            <div id="errorMessage" class="errors" th:if="${errorMessage}" th:text="${errorMessage}"  > </div>
            <span>Reset password</span>
            <input id="tokeModel" hidden="hidden" th:field="*{token}">
            <div class="form-group">
                <input type="password" class="form-control" name="password" th:field="*{password}" id="password" placeholder="New password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirmPassword" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Confirm password" required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"></span>
</body>

</html>