<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:replace="~{fragments/site-head-meta}"></div>
  <title>Exusvate Account activation</title>
  <div th:replace="~{fragments/site-head-css}"></div>
  <div th:replace="~{fragments/site-head-fonts}"></div>
</head>
<body>
<div th:replace="~{fragments/site-header}"></div>

<div th:replace="~{fragments/site-sidebar}"></div>

<!-- Begin page content -->
<div class="auth-page vh-100 d-flex justify-content-center text-center">
  <div class="my-auto" >
    <h3 class="font-weight-bold text-white">Account activation</h3>
    <div>
      <p>An account activation email has been sent to your mailbox</p>
    </div>
    <div>
      <p > You have not received any e-mail ?
        <a class="btn btn-1 p-2" th:href='@{/users/active-account/resent-code(email=${email})}'> Resend email <i class="icon ion-md-refresh-circle"></i></a>
      </p>
      <a class='btn' th:href='@{/users/login}' href='/users/login'>Login <i class="icon ion-md-log-in"></i></a>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger" id="errorMessage">
      <p class="m-0" th:text="${errorMessage}"></p>
    </div>
  </div>
</div>

<div th:replace="~{fragments/site-footer}"></div>
<div th:replace="~{fragments/site-scripts}"></div>
</body>

</html>