<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="fragments/fragments::head"></div>
</head>
<body id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"></div>
        <div th:replace="fragments/fragments::navbar"></div>
    </nav>
</header>
<div class="markets-capital pt70 pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="markets-pair-list">
                    <!-- Sélecteur de taille de page -->
                    <div class="mb-3 float-right text-white d-flex flex-md-nowrap align-items-center justify-content-center">
                        <label for="pageSize">Size:</label>
                        <span id="currentPage" th:field="${currentPage}" hidden="hidden"></span>
                        <span id="currentOrderBy" th:field="${currentOrderBy}" hidden="hidden"></span>
                        <span id="currentSort" th:field="${currentSort}" hidden="hidden"></span>
                        <select id="pageSize" class="form-control ml-2" onchange="updatePageSize()">
                            <option value="5" th:selected="${pageSize == 5}">5</option>
                            <option value="10" th:selected="${pageSize == 10}">10</option>
                            <option value="20" th:selected="${pageSize == 20}">20</option>
                            <option value="50" th:selected="${pageSize == 50}">50</option>
                        </select>
                    </div>
                    <table class="table sortable ">
                        <thead >
                        <tr class="sortable">
                            <th th:classappend="${currentOrderBy == 'id'} ? ${currentSort} : ''" onclick="sortTable('id')">ID</th>
                            <th th:classappend="${currentOrderBy == 'fullName'} ? ${currentSort} : ''" onclick="sortTable('fullName')">Nom</th>
                            <th th:classappend="${currentOrderBy == 'email'} ? ${currentSort} : ''" onclick="sortTable('email')">Email</th>
                            <th th:classappend="${currentOrderBy == 'createdAt'} ? ${currentSort} : ''" onclick="sortTable('createdAt')">Date creation</th>
                            <th th:classappend="${currentOrderBy == 'solde'} ? ${currentSort} : ''" onclick="sortTable('solde')">Solde</th>
                            <th th:classappend="${currentOrderBy == 'state'} ? ${currentSort} : ''" onclick="sortTable('state')">State</th>
                            <th th:classappend="${currentOrderBy == 'status'} ? ${currentSort} : ''" onclick="sortTable('status')">Status</th>
                            <th th:classappend="${currentOrderBy == 'position'} ? ${currentSort} : ''" onclick="sortTable('position')">Position</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}" data-th-attr="data-user-id=${user.id}" ondblclick="preloadUserDetails(this, 'ligne')"
                            th:data-baseUrl="${baseUrl}"
                            th:data-user="${user.toString()}"
                            th:data-fullname="${user.fullName}"
                            th:data-email="${user.email}"
                            th:data-solde="${user.solde}"
                            th:data-state="${user.state}"
                            th:data-state-value="${user.state.value}"
                            th:data-status="${user.status}"
                            th:data-backIdCard="${(user.backIdCard!=null) ? user.backIdCard.toString() : null}"
                            th:data-backIdCard-id="${(user.backIdCard!=null) ? user.backIdCard.id : 0}"
                            th:data-backIdCard-chemin="${(user.backIdCard!=null) ? user.backIdCard.chemin : ''}"
                            th:data-backIdCard-originalName="${(user.backIdCard!=null) ? user.backIdCard.originalName : ''}"
                            th:data-frontIdCard-id="${ (user.frontIdCard != null) ? user.frontIdCard.id : 0}"
                            th:data-frontIdCard-chemin="${ (user.frontIdCard != null) ? user.frontIdCard.chemin : ''}"
                            th:data-frontIdCard-originalName="${ (user.frontIdCard != null) ? user.frontIdCard.originalName : ''}"
                            th:data-selfy-id="${(user.selfy!=null) ? user.selfy.id : 0}"
                            th:data-selfy-chemin="${(user.selfy!=null) ? user.selfy.chemin : ''}"
                            th:data-selfy-originalName="${(user.selfy!=null) ? user.selfy.originalName : ''}"
                        >
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.fullName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${user.solde > 0 ? #numbers.formatDecimal(user.solde, 0, 2) : user.solde}"></td>
                            <td>
                                <span class="text-white">
                                     <i th:title="${user.state.value}" th:text="${' ' + user.state.value}" th:if="${user.state.name().equals('WAITING_FOR_EMAIL_VERIFICATION')}" class="text-warning icon p-1 rounded-sm ion-ios-sync"></i>
                                     <i th:title="${user.state.value}" th:text="${' ' + user.state.value}" th:if="${user.state.name().equals('WAITING_FOR_ADDITIONAL_INFORMATION')}" class="text-warning icon p-1 rounded-sm ion-ios-sync"></i>
                                     <i th:title="${user.state.value}" th:text="${' ' + user.state.value}" th:if="${user.state.name().equals('WAITING_FOR_VALIDATION')}" class="text-info icon p-1 rounded-sm ion-ios-add-circle"></i>
                                     <i th:title="${user.state.value}" th:text="${' ' + user.state.value}" th:if="${user.state.name().equals('ACTIVE')}" class="text-success icon p-1 rounded-sm ion-ios-checkmark-circle"></i>
                                     <i th:title="${user.state.value}" th:text="${' ' + user.state.value}" th:if="${user.state.name().equals('REJECT')}" class="text-danger icon p-1 rounded-sm ion-ios-close"></i>
                                     <i th:title="${user.state.value}" th:text="${' ' + user.state.value}" th:if="${user.state.name().equals('DEACTIVATE')}" class="text-danger icon p-1 rounded-sm ion-ios-lock"></i>
                                </span>
                            </td>
                            <td th:text="${user.status}"></td>
                            <td th:text="${user.position.value}"></td>
                            <td class="text-xl-center">
                                <!--                                <a class="mr-1" th:href="@{/users/{id}(id=${user.id})}" title="See Profile"> <i class="text-white icon ion-ios-alert"></i> </a>-->
                                <a class="mr-1" href="#" th:href="@{/users/{id}(id=${user.id})}" title="See Profile"> <i class="text-white icon ion-ios-alert"></i> </a>
                                <a th:title="${user.state.ACTIVE.value}" class="mr-1" th:href="@{/users/{id}/state/{state}(id=${user.id}, state='ACTIVE')}" th:if="${!user.state.name().equals('ACTIVE')}"><i class="text-white icon ion-md-checkmark-circle"></i></a>
                                <a th:title="${user.state.WAITING_FOR_ADDITIONAL_INFORMATION.value}" class="mr-1" th:href="@{/users/{id}/state/{state}(id=${user.id}, state='WAITING_FOR_ADDITIONAL_INFORMATION')}"><i class="text-white icon ion-md-add-circle"></i></a>
                                <a th:title="${user.state.REJECT.value}" class="mr-1" th:href="@{/users/{id}/state/{state}(id=${user.id}, state='REJECT')}"><i class="text-white icon ion-ios-archive"></i></a>
                                <a th:title="${user.state.DEACTIVATE.value}" class="mr-1" th:href="@{/users/{id}/state/{state}(id=${user.id}, state='DEACTIVATE')}"><i class="text-white icon ion-ios-lock"></i></a>
                                <!-- Ajouter des liens pour les opérations de dépôt/retrait -->
                                <a href="#" class="mr-1" title="Deposit" th:onclick="'showOperationModal(\'' + ${user.id} + '\', \'DEPOSIT\')'"><i class="text-white icon ion-md-card"></i></a>
                                <a href="#" class="mr-1" title="Withdraw" th:onclick="'showOperationModal(' + ${user.id} + ', \'WITHDRAW\')'"><i class="text-white icon ion-md-log-in"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation" class="mt-3" >
                        <ul class="pagination justify-content-center">
                            <!-- Précédent -->
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/users(orderBy=${currentOrderBy}, sort=${currentSort}, page=${currentPage - 1}, size=${pageSize})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <!-- Pages -->
                            <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, users.totalPages - 1)}" th:classappend="${pageNum == currentPage} ? 'active' : ''">
                                <a class="page-link" th:href="@{/users(orderBy=${currentOrderBy}, sort=${currentSort}, page=${pageNum}, size=${pageSize})}" th:text="${pageNum + 1}"></a>
                            </li>
                            <!-- Suivant -->
                            <li class="page-item" th:classappend="${currentPage == users.totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/users(orderBy=${currentOrderBy}, sort=${currentSort}, page=${currentPage + 1}, size=${pageSize})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modale pour les opérations de dépôt/retrait -->
<div class="modal fade" id="infosUserModal" tabindex="-1" role="dialog" aria-labelledby="infosUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infosUserModalLabel">Detail User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="infoUserForm" >
                    <div class="card-body">
                        <h5 class="card-title">General Information</h5>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="infoUserFullName">Full Name</label>
                                <input type="text" class="form-control" id="infoUserFullName" name="fullName" required>
                            </div>
                            <div class="col-md-6">
                                <label for="infoUserEmail">Email</label>
                                <input type="text" class="form-control" id="infoUserEmail" name="email" required>
                            </div>
                            <div class="col-md-6">
                                <label for="infoUserSolde">Solde</label>
                                <input type="number" class="form-control" id="infoUserSolde" name="solde" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">More information</h5>
                        <div class="form-row">
                            <div class="col-md-4">
                                <label> Front Photo </label>
                                <a href="#" class="image-preview-link" >
                                    <img id="infoUserFrontIdCardId" class="" src="#" alt=" ">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <label>Back Photo</label>
                                <a href="#" class="image-preview-link" >
                                    <img id="infoUserBackIdCardId" class="" src="#" alt=" ">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <label>Selfie Photo</label>
                                <a href="#" class="image-preview-link" >
                                    <img id="infoUserSelfyId" class="" src="#" alt=" ">
                                </a>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imagePreviewModal" tabindex="-1" role="dialog" aria-labelledby="imagePreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imagePreviewModalLabel">Image Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center ">
                <img id="previewedImage" src="#" class="img-fluid" alt="Previewed Image">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</div>
<div th:insert="~{fragments/fragments-share :: reglement(customerTransactionModel=${customerTransactionModel}, clients=${clients}, source=${'user'})}"></div>


<script>
    function redirectToUser(row) {
        const userId = row.getAttribute("data-user-id");
        if (userId) {
            window.location.href = `/users/${userId}`;
        } else {
            console.error("User ID not found");
        }
    }
    function sortTable(column) {
        // Trouver l'en-tête de la colonne cliquée
        const th = document.querySelector(`th[onclick="sortTable('${column}')"]`);

        if (th) {
            // Obtenir l'ordre actuel et déterminer le nouvel ordre
            const currentOrder = th.classList.contains('asc') ? 'asc' : 'desc';
            const newOrder = currentOrder === 'asc' ? 'desc' : 'asc';

            const currentPage = document.getElementById('currentPage').getAttribute('field');
            const pageSize = document.getElementById('pageSize').value;
            // Rediriger avec les paramètres de tri
            window.location.href = `?orderBy=${column}&sort=${newOrder}`;
            window.location.href = `?orderBy=${column}&sort=${newOrder}&page=${currentPage}&size=${pageSize}`;
        } else {
            console.error(`Element with column '${column}' not found.`);
        }
    }
    function updatePageSize() {
        const currentPage = document.getElementById('currentPage').getAttribute('field');
        const orderBy = document.getElementById('currentOrderBy').getAttribute('field');
        const sort = document.getElementById('currentSort').getAttribute('field');
        const pageSize = document.getElementById('pageSize').value;
        // Rediriger vers l'URL avec la nouvelle taille de page
        window.location.href = `?orderBy=${orderBy}&sort=${sort}&page=${currentPage}&size=${pageSize}`;
    }
    function showOperationModal(userId, operationType) {
        document.getElementById('operationType').value = operationType;
        let client = document.getElementById('operationIdClient');
        // client.setAttribute('disabled','true');
        client.value =  parseInt(userId);
        document.getElementById('operationMontant').value = 0;
        document.getElementById('operationReference').value = '';
        document.getElementById('operationMotif').value = '';
        document.getElementById('idSubmitOperationForm').removeAttribute('disabled');
        $('#operationModal').modal('show');
    }
    function submitOperationForm() {
        document.getElementById('operationForm').submit();
    }
    function preloadUserDetails(item, source) {
        const row = source==='details' ? item.closest('tr') : item;
        const data_user = row.getAttribute('data-user');
        console.log('data_user', data_user)
        const data_baseUrl = row.getAttribute('data-baseUrl');
        const data_fullname = row.getAttribute('data-fullname');
        const data_email = row.getAttribute('data-email');
        const data_solde = row.getAttribute('data-solde');
        const data_state_value = row.getAttribute('data-state-value');
        const data_state = row.getAttribute('data-state');
        const data_status = row.getAttribute('data-status');
        const data_backIdCard = row.getAttribute('data-backIdCard');
        const data_backIdCard_id = row.getAttribute('data-backIdCard-id');
        const data_backIdCard_chemin = row.getAttribute('data-backIdCard-chemin');
        const data_backIdCard_originalName = row.getAttribute('data-backIdCard-originalName');
        const data_frontIdCard_id = row.getAttribute('data-frontIdCard-id');
        const data_frontIdCard_chemin = row.getAttribute('data-frontIdCard-chemin');
        const data_frontIdCard_originalName = row.getAttribute('data-frontIdCard-originalName');
        const data_selfy_id = row.getAttribute('data-selfy-id');
        const data_selfy_chemin = row.getAttribute('data-selfy-chemin');
        const data_selfy_originalName = row.getAttribute('data-selfy-originalName');

        // Remplir le formulaire de la modale avec les valeurs de la ligne
        document.getElementById('infoUserFullName').value = data_fullname;
        document.getElementById('infoUserEmail').value = data_email;
        document.getElementById('infoUserSolde').value = parseFloat(data_solde);

        var infoUserFrontIdCardId = document.getElementById('infoUserFrontIdCardId');
        infoUserFrontIdCardId.src = `${data_baseUrl}/piece-jointes/telechager/${data_frontIdCard_id}`;
        var infoUserBackIdCardId = document.getElementById('infoUserBackIdCardId');
        infoUserBackIdCardId.src = `${data_baseUrl}/piece-jointes/telechager/${data_backIdCard_id}`;
        var infoUserSelfyId = document.getElementById('infoUserSelfyId');
        infoUserSelfyId.src = `${data_baseUrl}/piece-jointes/telechager/${data_selfy_id}`;

        $('#infosUserModal').modal('show');


        infoUserFrontIdCardId.addEventListener('click', function(event) {
            event.preventDefault();
            openImagePreviewModal(`${data_baseUrl}/piece-jointes/telechager/${data_frontIdCard_id}`);
        });
        infoUserBackIdCardId.addEventListener('click', function(event) {
            event.preventDefault();
            openImagePreviewModal(`${data_baseUrl}/piece-jointes/telechager/${data_backIdCard_id}`);
        });
        infoUserSelfyId.addEventListener('click', function(event) {
            event.preventDefault();
            openImagePreviewModal(`${data_baseUrl}/piece-jointes/telechager/${data_selfy_id}`);
        });

        function openImagePreviewModal(imageSrc) {
            document.getElementById('previewedImage').src = imageSrc;
            $('#imagePreviewModal').modal('show');
        }
    }

</script>

<span th:replace="fragments/fragments::endfooter"></span>
</body>
</html>
