<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="~{fragments/site-head-meta}"></div>
	<title th:text="#{market_page_title}">Exusvate Market</title>
	<div th:replace="~{fragments/site-head-css}"></div>
	<div th:replace="~{fragments/site-head-fonts}"></div>
</head>
<body>
<div th:replace="~{fragments/site-header}"></div>
<div th:replace="~{fragments/site-sidebar}"></div>

<!-- Begin page content -->
<div class="container">
	<br>
	<h1 class="mt-2" th:text="#{about_us_title}">About Us</h1>
	<p th:text="#{about_us_description}">
		Exusvate, established in June 2017, is a financial platform backed by several world-class enterprises and influential figures, dedicated to facilitating public investment and currency exchange. These initiatives were primarily launched offline in recent years, with full market integration expected by the end of 2022.
	</p>

	<h2 th:text="#{goal_title}">Goal</h2>
	<p th:text="#{goal_description}">To become a global leader akin to Alipay.</p>

	<h2 th:text="#{investment_title}">Investment</h2>
	<ul>
		<li th:text="#{investment_bitcoin}">Bitcoin</li>
		<li th:text="#{investment_coinbase}">Coinbase</li>
		<li th:text="#{investment_square}">Square (founded by Jack Dorsey)</li>
		<li th:text="#{investment_alibaba}">Alibaba</li>
	</ul>

	<h2 th:text="#{influential_people_title}">Influential People</h2>
	<ul>
		<li th:text="#{influential_person_satoshi}">Satoshi Nakamoto</li>
		<li th:text="#{influential_person_winklevoss}">Winklevoss Brothers</li>
		<li th:text="#{influential_person_jack_dorsey}">Jack Dorsey</li>
	</ul>

	<h2 th:text="#{type_title}">Type</h2>
	<p th:text="#{type_description}">Comprehensive currency</p>
</div>

<div th:replace="~{fragments/site-footer}"></div>
<div th:replace="~{fragments/site-scripts}"></div>
</body>
</html>
