<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="~{fragments/site-head-meta}"></div>
	<title th:text="#{page.title}">Exusvate Market</title>
	<div th:replace="~{fragments/site-head-css}"></div>
	<div th:replace="~{fragments/site-head-fonts}"></div>
</head>
<body>
<div th:replace="~{fragments/site-header}"></div>

<div th:replace="~{fragments/site-sidebar}"></div>

<!-- Begin page content -->
<div class="container-fluid p-0">

	<input type="hidden" class="form-control" th:value="${baseUrlApp}" name="baseurl" id="baseurl" placeholder="#{baseurl.placeholder}" required>

	<br>

	<div class="col-md-12 mt-4">
		<div class="markets-pair-list">
			<!-- Begin Tabs -->
			<ul class="nav nav-tabs" style="justify-content: center; " id="myTab" role="tablist">
				<li class="nav-item" style="text-align: center;">
					<a class="nav-link active" id="lever-tab" data-toggle="tab" href="#lever" role="tab" aria-controls="lever" aria-selected="false" th:text="#{lever}">Lever</a>
				</li>
				<li class="nav-item" style="text-align: center;">
					<a class="nav-link" id="exchange-tab" data-toggle="tab" href="#exchange" role="tab" aria-controls="exchange" aria-selected="false" th:text="#{exchange}">Exchange</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show" id="lever" role="tabpanel" aria-labelledby="lever-tab">
					<!-- Contenu de l'onglet Lever -->
					<div class="card htrading">
						<div class="card-header">
							<div class="row">
								<div class="col-md-6">
									<h4>
										<span>Funding Account total assets($)</span>
									</h4>
								</div>
								<div class="col-md-6 text-right">
									<p>
										<span th:text="${#numbers.formatDecimal(user.getSolde(), 0, 2)}" id="balance"></span>
									</p>
								</div>
							</div>
						</div>
					</div>

					<br>
					<th:block th:each="c : ${cryptomonnaies}">
						<br>
						<div class="card htrading">
							<div class="card-header">
								<div class="row">
									<div class="col-md-6">
										<h4>
											<span th:text="${c.getNom()}"></span>
										</h4>
									</div>
									<div class="col-md-6 text-right">
										<p>
											<span th:text="${c.getPrixActuel()}"></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
				<div class="tab-pane fade" id="exchange" role="tabpanel" aria-labelledby="exchange-tab">
					<!-- Contenu de l'onglet Exchange -->
					<!-- Contenu de l'onglet Lever -->
					<div class="card htrading">
						<div class="card-header">
							<div class="row">
								<div class="col-md-6">
									<h4>
										<span>Funding Account total assets($)</span>
									</h4>
								</div>
								<div class="col-md-6 text-right">
									<p>
										<span th:text="${#numbers.formatDecimal(user.getSolde(), 0, 2)}" id="balance"></span>
									</p>
								</div>
							</div>
						</div>
					</div>

					<br>
					<th:block th:each="c : ${cryptomonnaies}">
						<br>
						<div class="card htrading">
							<div class="card-header">
								<div class="row">
									<div class="col-md-6">
										<h4>
											<span th:text="${c.getNom()}"></span>
										</h4>
									</div>
									<div class="col-md-6 text-right">
										<p>
											<span th:text="${c.getPrixActuel()}"></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			<!-- End Tabs -->
		</div>
	</div>
</div>
</div>
<div th:replace="~{fragments/site-footer}"></div>
<div th:replace="~{fragments/site-scripts}"></div>
	  <script language="JavaScript">
		  const baseUrl = document.getElementById('baseurl').value;

		  // Récupérer les références
		  const marketTable=document.getElementById('market12');
		  let ws;

		  document.addEventListener('DOMContentLoaded', function() {
			  // Récupérer la valeur sélectionnée
			  const selectedMarket = "";

			  if (ws && ws.readyState === WebSocket.OPEN) {
				  ws.close();
			  }

			  ws = new WebSocket(baseUrl+"/ws3/home");

			  ws.onopen = function() {
				  console.log("WebSocket connection opened");
				  let subscriptionRequest = {
					  symbols: [selectedMarket]
				  };
				  ws.send(JSON.stringify(subscriptionRequest));
			  };

			  ws.onmessage = function(event) {
				  let marketData = JSON.parse(event.data);

				  // Vider le tableau avant de le remplir à nouveau
				  marketTable.innerHTML = '';
				  let valeuractuelle = 0;

				  // Récupérer le prix actuel le plus récent
				  let latestPrice = marketData.reduce((max, data) => (data.prix > max.prix ? data : max), marketData[0]);

				  //
				  valeuractuelle.value=latestPrice.prix;
				  // Parcourir les données du marché et créer les lignes du tableau
				  for (let i = 0; i < marketData.length; i++) {
					  let data = marketData[i];
					  //console.log(data);
					  // Créer une nouvelle ligne de tableau
					  let newRow = document.createElement('tr');

					  //Variation
					  let variation = ((data.prix - data.cryptomonnaie.prixActuel) / data.cryptomonnaie.prixActuel) * 100 || parseFloat((((data.cryptomonnaie.change)/(data.cryptomonnaie.close))*100));


					  // Ajouter les cellules de la nouvelle ligne
					  let pairCell = document.createElement('td');
					  pairCell.textContent = data.cryptomonnaie.symbole+'T';
					  newRow.appendChild(pairCell);

					  let priceCell = document.createElement('td');
					  priceCell.id = `price-${data.id}`;
					  priceCell.textContent = data.prix.toFixed(5);
					  priceCell.style.color = data.prix === latestPrice.prix ? 'green' : '';
					  priceCell.style.fontWeight = data.prix === latestPrice.prix ? 'bold' : '';
					  priceCell.style.fontSize = data.prix === latestPrice.prix ? '120%' : '';
					  newRow.appendChild(priceCell);

					  let variationCell = document.createElement('td');
					  variationCell.id = `variation-${data.id}`;
					  variationCell.textContent = `${variation.toFixed(2)}%`;
					  variationCell.className = variation > 0 ? 'text-success' : 'text-danger';
					  newRow.appendChild(variationCell);

					  // Insérer la nouvelle ligne dans le tableau
					  marketTable.appendChild(newRow);
				  }
			  }

			  ws.onclose = function() {
				  console.log("WebSocket connection closed");
			  };
		  });
		  //

	  </script>
   </body>
</html>

