<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"></div>
<body  id="dark">
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <div th:replace="fragments/fragments::logo"></div>
        <div th:replace="fragments/fragments::navbar"></div>

    </nav>
</header>
<div class="error-page vh-100 d-flex justify-content-center text-center">
    <div class="my-auto">
        <h2>403</h2>
        <p th:text="${message}"></p>
        <a class='btn' href='/home' th:text="#{home_button}">Home <i class="icon ion-md-home"></i></a>
        <a class='btn' th:href='@{/users/login}' th:text="#{login_button}">Login <i class="icon ion-md-log-in"></i></a>
    </div>
</div>


<span th:replace="fragments/fragments::endfooter"></span>
</body>

</html>