<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head>
	   <div th:replace="~{fragments/site-head-meta}"></div>
	   <title th:text="#{page.title}">Exusvate Lever</title>
	   <div th:replace="~{fragments/site-head-css}"></div>
	   <div th:replace="~{fragments/site-head-fonts}"></div>
   </head>
   <body>
      <div th:replace="~{fragments/site-header}"></div>

	  <div th:replace="~{fragments/site-sidebar}"></div>

      <!-- Begin page content -->
	  <div class="container-fluid">
		  <div class="row">
			  <div class="col-md-12">
				  <div class="card">
					  <div class="card-header d-flex align-items-center text-sm bg-dark text-white">
						  <p class="flex-grow-1">
							  <button href="#" class="btn btn-dark" role="button" data-toggle="modal" data-target="#marketModal">
							  	<i class="icon ion-md-menu"></i>
							  </button>
							  <span id="selSymbole1" th:text="#{symbol.default}">ETH/USDT</span>
						  </p>
						  <div class="d-flex">
							  <button href="#" class="btn btn-dark" role="button" data-toggle="modal" data-target="#marketChart">
								  <i class="icon ion-md-map"></i>
							  </button>&nbsp;
							  <a href="#"  th:href="@{'/site-lever'}" class="btn btn-dark" role="button" data-toggle="modal" data-target="#tradingDetailModal">
								  <i class="icon ion-md-copy"></i>
							  </a>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
		  <div class="row trading_platform">
			  <div class="col-5">
				  <div class="card">
					  <!--div class="card-header">
                          <h4>Marché</h4>
                      </div-->
					  <!--
                      <div class="card-body overflow-auto">
                          <table class="table table-striped overflow-auto" id="markettable">
                              <thead>
                              <tr>
                                  <th>Paire</th>
                                  <th>Prix</th>
                                  <th>Variation</th>
                              </tr>
                              </thead>
                              <tbody id="market-rows">
                              <tr th:each="market : ${markets}">
                                  <td th:text="${market.getCryptomonnaie().getNom()}+'USDT'"></td>
                                  <td th:id="'price-' + ${market.getId()}" th:text="${#numbers.formatDecimal(market.getPrix(), 0, 2)}"></td>
                                  <td th:class="${market.getId() > 0 ? 'text-success' : 'text-danger'}" th:id="'variation-' + ${market.getId()}" th:text="${#numbers.formatDecimal(market.getId(), 0, 2)}+'%'"></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      -->
					  <div class="card-body montableau">
						  <table class="table table-striped" id="markettable">
							  <thead>
							  <tr>
								  <th>
									  <span th:text="#{price}">Price</span>
									  <br>
									  <span id="custome_symbole" th:text="#{currency_symbol}">(ETH)</span>
								  </th>
								  <th>
									  <span th:text="#{amount}">Amount</span>
									  <br>
									  <span th:text="#{currency_usdt}">(USDT)</span>
								  </th>
							  </tr>
							  </thead>
							  <tbody id="market-rows"></tbody>
						  </table>
					  </div>
				  </div>
			  </div>
			  <div class="col-7">
				  <div class="card">
					  <!--div class="card-header">
                          <h4>Trading</h4>
                      </div-->
					  <div class="card-body overflow-auto">
						  <form th:action="@{/trading/order}" th:object="${order}" method="POST" id="orderForm">
							  <div class="row">
								  <div class="form-group col-6">
									  <button class="form-control small" style="background-color: green;" type="button" name="typebuy" id="typebuy" value="ACHAT" th:text="#{buy}">
										  BUY
									  </button>
								  </div>
								  <div class="form-group col-6">
									  <button class="form-control small" style="background-color: red;" type="button" name="typesell" id="typesell" value="VENTE" th:text="#{sell}">
										  SELL
									  </button>
								  </div>
							  </div>
							  <div class="form-group">
								  <label for="stopLoss" th:text="#{stop_loss}">Stop Lost</label>
								  <input type="number" class="form-control" name="stopLoss" id="stopLoss" th:placeholder="#{stop_loss_placeholder}" required>
							  </div>
							  <div class="form-group">
								  <label for="takeProfit" th:text="#{take_profit}">Take Profit</label>
								  <input type="number" class="form-control" name="takeProfit" id="takeProfit" th:placeholder="#{take_profit_placeholder}" required>
							  </div>
							  <div class="form-group row">
								  &nbsp;&nbsp;
								  <input type="hidden" class="form-control" value="ACHAT" name="type" id="type" placeholder="type" required>
								  <input type="hidden" class="form-control" name="market" id="market" placeholder="baseurl" required>
								  <div class="form-check form-check-inline col eve">
									  <input class="form-check-input" type="radio" name="leverage" id="leverage1" value="1" checked>
									  <label class="form-check-label" for="leverage1" th:text="#{leverage_1x}">1X</label>
								  </div>
								  <div class="form-check form-check-inline col eve">
									  <input class="form-check-input" type="radio" name="leverage" id="leverage5" value="5">
									  <label class="form-check-label" for="leverage5" th:text="#{leverage_5x}">5X</label>
								  </div>
								  <div class="form-check form-check-inline col eve">
									  <input class="form-check-input" type="radio" name="leverage" id="leverage50" value="50">
									  <label class="form-check-label" for="leverage50" th:text="#{leverage_50x}">50X</label>
								  </div>
								  <div class="form-check form-check-inline col eve">
									  <input class="form-check-input" type="radio" name="leverage" id="leverage100" value="100">
									  <label class="form-check-label" for="leverage100" th:text="#{leverage_100x}">100X</label>
								  </div>
							  </div>
							  <div class="form-group">
								  <label for="amount" th:text="#{trading_hand_number}">Trading Hand number</label>
								  <input type="number" class="form-control" name="amount" id="amount" placeholder="Enter the trading Hand number" required>
								  <input type="hidden" class="form-control" name="valeuractuelle" id="valeuractuelle" placeholder="valeuractuelle" required>
								  <input type="hidden" class="form-control" th:value="${baseUrlApp}" name="baseurl" id="baseurl" placeholder="baseurl" required>
							  </div>
							  <div class="form-group small">
								  <label for="balance" th:text="#{available_balance}">Available Balance</label>
								  <input type="text" class="form-control" th:value="${#numbers.formatDecimal(user.getSolde(), 0, 2)}" id="balance" disabled>
							  </div>
							  <br>
							  <button type="button" id="confimbtnbuy" class="btn btn-success btn-lg btn-block small" th:text="#{buy_long}" style="background-color: green;" data-toggle="modal" data-target="#confirmModal">
								  Buy (Long)
							  </button>
							  <br><br>
							  <button type="button" id="confimbtnsell" class="btn btn-danger btn-lg btn-block small" th:text="#{sell_short}" style="background-color: red;" data-toggle="modal" data-target="#confirmModal" disabled>
								  Sell (Short)
							  </button>
							  <!--button type="submit" class="btn btn-primary">Buy (Long)</button-->
						  </form>
					  </div>
				  </div>
			  </div>
		  </div>

		  <div class="row ordrelever">
			  <div class="col-md-12">
				  <div class="card">
					  <div class="card-header">
						  <h4 th:text="#{current_orders_title}"></h4>
					  </div>
					  <div class="card-body montableaubas overflow-auto">
						  <table class="table table-striped">
							  <thead>
							  <tr>
								  <th th:text="#{type_column}"></th>
								  <th th:text="#{time_column}"></th>
								  <th th:text="#{price_column}"></th>
								  <th th:text="#{amount_column}"></th>
								  <th th:text="#{operation_column}"></th>
								  <th th:text="#{actions_column}"></th>
							  </tr>
							  </thead>
							  <tbody>
							  <tr th:each="order : ${openOrders}">
								  <td th:text="${order.type.name()}"></td>
								  <td th:text="${#temporals.format(order.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
								  <td th:text="${#numbers.formatDecimal(order.getPrix(), 0, 2)}"></td>
								  <td th:text="${order.getQuantite()}"></td>
								  <td th:text="${order.type == T(com.example.onetrade.model.entities.enums.TypeOrdreEnum).ACHAT ? #{long_operation} : #{short_operation}}"></td>
								  <td>
									  <a th:href="@{/trading/{token}(token=${order.token})}" th:text="#{go_action}"></a>
								  </td>
							  </tr>
							  </tbody>
						  </table>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>


	  <!-- Modal de confirmation -->
	  <div class="modal modal-fullscreen-xl fade" id="marketChart" tabindex="-1" role="dialog" aria-labelledby="marketChartModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				  <div class="modal-header">
					  <h5 class="modal-title" th:text="#{market_chart_title}"></h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
					  </button>
				  </div>
				  <div class="modal-body">
					  <div class="main-chart">
						  <!-- TradingView Widget BEGIN -->
						  <div class="tradingview-widget-container">
							  <div id="tradingview_e8053">
								  <div id="tradingview_49267-wrapper" style="position: relative; box-sizing: content-box; font-family: -apple-system, BlinkMacSystemFont, &quot;Trebuchet MS&quot;, Roboto, Ubuntu, sans-serif; margin: 0px auto !important; padding: 0px !important; width: 100%; height: 100%;"><iframe title="advanced chart TradingView widget" lang="en" id="tradingview_49267" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen="true" src="https://s.tradingview.com/widgetembed/?hideideas=1&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en#%7B%22symbol%22%3A%22BITSTAMP%3ABTCUSD%22%2C%22frameElementId%22%3A%22tradingview_49267%22%2C%22interval%22%3A%22D%22%2C%22hide_side_toolbar%22%3A%220%22%2C%22allow_symbol_change%22%3A%221%22%2C%22save_image%22%3A%221%22%2C%22studies%22%3A%22%5B%5D%22%2C%22theme%22%3A%22Dark%22%2C%22style%22%3A%221%22%2C%22timezone%22%3A%22Etc%2FUTC%22%2C%22withdateranges%22%3A%221%22%2C%22show_popup_button%22%3A%221%22%2C%22studies_overrides%22%3A%22%7B%7D%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22chart%22%2C%22utm_term%22%3A%22BITSTAMP%3ABTCUSD%22%2C%22page-uri%22%3A%22__NHTTP__%22%7D" style="width: 100%; height: 100%; margin: 0px !important; padding: 0px !important;"></iframe></div>
							  </div>
						  </div>
						  <!-- TradingView Widget END -->
					  </div>
				  </div>
				  <div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel_button}"></button>
				  </div>
			  </div>
		  </div>
	  </div>

	  <!-- Modal de confirmation -->
	  <div class="modal modal-fullscreen-xl fade" id="marketModal" tabindex="-1" role="dialog" aria-labelledby="marketModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				  <div class="modal-header">
					  <h5 class="modal-title"><span th:text="#{market_symbol_title}"> Market Symbol: </span><span id="selSymbol">../..</span></h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
					  </button>
				  </div>
				  <div class="modal-body">
					  <div class="markets-pair-list">
						  <table class="table overflow-block">
							  <thead>
							  <tr>
								  <th th:text="#{name_column}">Name</th>
								  <th th:text="#{last_price_column}">Last Price</th>
								  <th th:text="#{updowns_column}">UpDowns</th>
							  </tr>
							  </thead>
							  <div th:replace="~{fragments/site-tbody-table.html}"></div>
						  </table>
					  </div>
				  </div>
				  <div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel_button}"></button>
				  </div>
			  </div>
		  </div>
	  </div>

	  <!-- Modal de confirmation -->
	  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				  <div class="modal-header">
					  <h5 class="modal-title" th:text="#{confirm_order_title}">Confirmer l'ordre</h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
					  </button>
				  </div>
				  <div class="modal-body">
					  <p id="cryptomonaie" th:text="#{default_crypto_pair}">USDO/USDT</p>
					  <ul>
						  <li><span th:text="#{type_label} + ': '"></span><span id="modalType"></span></li>
						  <li><span th:text="#{amount_label} + ': '"></span><span id="modalAmount"></span></li>
						  <li><span th:text="#{leverage_label} + ': '"></span><span id="modalLeverage"></span></li>
						  <li><span th:text="#{handling_fee_label} + ': '"></span><span id="modalHandlingFee"></span></li>
						  <li><span th:text="#{stop_loss_label} + ': '"></span><span id="tmodalStopLoss"></span></li>
						  <li><span th:text="#{take_profit_label} + ': '"></span><span id="tmodalTakeProfit"></span></li>
					  </ul>
				  </div>
				  <div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel_button}"></button>
					  <button type="button" class="btn btn-primary" id="confirmOrderBtn" th:text="#{confirm_button}"></button>
				  </div>
			  </div>
		  </div>
	  </div>

	  <!-- Modal de Détail du trading -->
	  <div class="modal fade" id="tradingDetailModal" tabindex="-1" role="dialog" aria-labelledby="tradingDetailModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				  <div class="modal-header">
					  <h5 class="modal-title" th:text="#{choose_symbol_title}">Choose a symbol</h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
					  </button>
				  </div>
				  <div class="modal-body">
					  <select class="form-control" name="market1" id="market1" required>
						  <option th:each="c : ${cryptomonnaies}" th:value="${c.getSymbole()}" th:text="${c.getNom()}"></option>
					  </select>
					  <br><br>
					  <ul>
						  <li> <span th:text="#{qtly_label} + ': '"></span><span id="selQlt">0.0</span></li>
						  <li> <span th:text="#{change_label} + ': '"></span><span id="selChange">0%</span></li>
						  <li> <span th:text="#{volume_label} + ': '"></span><span id="selVolume">0.0D</span></li>
					  </ul>
				  </div>
				  <div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel_button}"></button>
				  </div>
			  </div>
		  </div>
	  </div>
	  <br><br><br><br><br>
	  <div th:replace="~{fragments/site-footer}"></div>
	  <div th:replace="~{fragments/site-scripts}"></div>
	  <script src="https://s3.tradingview.com/tv.js"></script>

	  <script language="JavaScript">
		  const baseUrl = document.getElementById('baseurl').value;

		  // Récupérer les références
		  const buyButton = document.getElementById('confimbtnbuy');
		  const sellButton = document.getElementById('confimbtnsell');
		  const typebuyButton = document.getElementById('typebuy');
		  const typesellButton = document.getElementById('typesell');
		  const marketSelect = document.getElementById('market');
		  const marketTable = document.getElementById('market-rows');
		  const tamount=document.getElementById('amount');
		  //const tconfirmBtn=document.getElementById('confimbtn');
		  const tbalance=document.getElementById('balance');
		  const tmarket=document.getElementById('market');
		  const tmarket1=document.getElementById('market1');
		  const tmodalType=document.getElementById('modalType');
		  const tmodalAmount=document.getElementById('modalAmount');
		  const ttype=document.getElementById('type');
		  const tmodalLeverage=document.getElementById('modalLeverage');
		  const tmodalHandlingFee=document.getElementById('modalHandlingFee');
		  const cryptomonaie=document.getElementById('cryptomonaie');
		  const tconfirmOrderBtn=document.getElementById('confirmOrderBtn');
		  const tmodalStopLoss=document.getElementById('tmodalStopLoss');
		  const tmodalTakeProfit=document.getElementById('tmodalTakeProfit');
		  // Récupérer les références
		  const marketTable2=document.getElementById('market12');
		  let ws;
		  let ws2;

		  function getLeverageValue() {
			  const selectedRadio = document.querySelector('input[name="leverage"]:checked');
			  if (selectedRadio) {
				  return selectedRadio.value;
			  } else {
				  // Aucun bouton radio sélectionné
				  return null; // ou une valeur par défaut
			  }
		  }
		  // Écouter l'événement "click"
		  typebuyButton.addEventListener('click', function() {
			  buyButton.disabled=false;
			  sellButton.disabled=true;
			  ttype.value="ACHAT"
		  });
		  typesellButton.addEventListener('click', function() {

			  buyButton.disabled=true;
			  sellButton.disabled=false;
			  ttype.value="VENTE"
		  });
		  function updateMarketData(selectedMarketD) {
			  // Récupérer la valeur sélectionnée
			  const selectedMarket = selectedMarketD;
			  marketSelect.value=selectedMarket;
			  createTradingViewWidget(selectedMarket);
			  if (ws && ws.readyState === WebSocket.OPEN) {
				  ws.close();
			  }

			  ws = new WebSocket(baseUrl+"/ws2");

			  ws.onopen = function() {
				  console.log("WebSocket connection opened");
				  let subscriptionRequest = {
					  symbols: [selectedMarket]
				  };
				  ws.send(JSON.stringify(subscriptionRequest));
			  };

			  ws.onmessage = function(event) {
				  let marketData = JSON.parse(event.data);

				  let centerValue=false;
				  // Vider le tableau avant de le remplir à nouveau
				  marketTable.innerHTML = '';
				  let valeuractuelle = document.getElementById('valeuractuelle');

				  // Récupérer le prix actuel le plus récent
				  let latestPrice = marketData.recentMarketData.reduce((max, data) => (data.prix > max.prix ? data : max), marketData.recentMarketData[0]);

				  //
				  valeuractuelle.value=latestPrice.prix;

				  //
				  // Séparer et trier les données
				  let above = [];
				  let below = [];

				  marketData.recentMarketData.forEach(data => {
					  if (data.prix > latestPrice.prix) {
						  above.push(data);
					  } else if (data.prix < latestPrice.prix) {
						  below.push(data);
					  }
				  });
				  while (above.length<6){
					  above.push(latestPrice);
				  }
				  while (below.length<6){
					  below.push(latestPrice);
				  }

				  // Trier les valeurs
				  above.sort((a, b) => b.prix - a.prix); // Supérieurs triés par ordre décroissant
				  below.sort((a, b) => a.prix - b.prix); // Inférieurs triés par ordre croissant

				  // Créer le tableau avec 6 lignes au-dessus et 6 lignes en dessous
				  let rows = [];
				  for (let i = 0; i < 6; i++) {
					  if (above[i]) {
						  rows.push(above[i]);
					  }
				  }

				  // Ajouter la valeur actuelle
				  rows.push(latestPrice);

				  for (let i = 0; i < 6; i++) {
					  if (below[i]) {
						  rows.push(below[i]);
					  }
				  }
				  //
				  console.log(rows);
				  console.log(marketData.recentMarketData);
				  // Parcourir les données du marché et créer les lignes du tableau
				  //for (let i = 0; i < marketData.recentMarketData.length; i++) {
				  for (let i = 0; i < rows.length; i++) {
					  //let data = marketData.recentMarketData[i];
					  let data = rows[i];
					  let dataCompare = marketData.compaireDefaultMarketData[i];
					  //Variation
					  let variations = ((data.prix - data.cryptomonnaie.prixActuel) / data.cryptomonnaie.prixActuel) * 100 || parseFloat((((data.cryptomonnaie.change)/(data.cryptomonnaie.close))*100));

					  //Informations utiles
					  document.getElementById('selSymbol').innerText=data.cryptomonnaie.symbole+'T';
					  document.getElementById('selSymbole1').innerText=data.cryptomonnaie.symbole+'T';
					  document.getElementById('custome_symbole').innerText="("+data.cryptomonnaie.symbole.split("/")[0]+")";
					  document.getElementById('selQlt').innerText=data.prix.toFixed(2);
					  document.getElementById('selChange').innerText=variations.toFixed(2)+'%';
					  document.getElementById('selChange').style.color = data.prix < latestPrice.prix ? '#26a69a' : '#ef5350';
					  document.getElementById('selVolume').innerText=parseFloat(data.cryptomonnaie.volume)+'D';
					  // Créer une nouvelle ligne de tableau
					  let newRow = document.createElement('tr');

					  // Ajouter les cellules de la nouvelle ligne
					  //let pairCell = document.createElement('td');
					  //pairCell.textContent = data.cryptomonnaie.symbole;
					  //newRow.appendChild(pairCell);

					  //Premiere collection de données du marché
					  let priceCell = document.createElement('td');
					  priceCell.id = `price-${data.id}`;
					  if(data.prix === latestPrice.prix && i==6){
						  //priceCell.innerHTML=" 1 <br> ≃ $"+data.prix.toFixed(5);
						  priceCell.innerHTML=" "+data.prix.toFixed(5);
					  }else{
						  priceCell.textContent = data.prix.toFixed(3);
					  }
					  if(i<6){
						  priceCell.style.color = 'green';
						  priceCell.style.fontWeight = 'bold';
						  priceCell.style.fontSize = '120%';
					  }else{
						  priceCell.style.color = 'red';
						  priceCell.style.fontWeight = 'bold';
						  priceCell.style.fontSize = '100%';
					  }
					  if(data.prix === latestPrice.prix && i==6){
						  priceCell.style.color = 'green';
						  priceCell.style.fontWeight = 'bold';
						  priceCell.style.fontSize = '140%';
					  }
					  /*priceCell.style.color = data.prix === latestPrice.prix ? 'green' : '';
					  priceCell.style.fontWeight = data.prix === latestPrice.prix ? 'bold' : '';
					  priceCell.style.fontSize = data.prix === latestPrice.prix ? '120%' : '';*/
					  if(data.prix === latestPrice.prix && i==6){
						  priceCell.colSpan=2;
						  priceCell.style.textAlign='center';
					  }

					  newRow.appendChild(priceCell);

					  //Deuxieme collection du marché
					  if((data.prix != latestPrice.prix) || (i!=6)){
						  let priceCellCompaire = document.createElement('td');
						  priceCellCompaire.id = `price-${dataCompare.id}`;
						  //priceCellCompaire.textContent = dataCompare.prix.toFixed(2);
						  priceCellCompaire.textContent = variations.toFixed(2)+'%';
						  if(i<6){
							  priceCellCompaire.style.color = 'green';
							  priceCellCompaire.style.fontWeight = 'bold';
							  priceCellCompaire.style.fontSize = '120%';
						  }else{
							  priceCellCompaire.style.color = 'red';
							  priceCellCompaire.style.fontWeight = 'bold';
							  priceCellCompaire.style.fontSize = '100%';
						  }
						  if(data.prix === latestPrice.prix && i==6){
							  priceCellCompaire.style.color = 'green';
							  priceCellCompaire.style.fontWeight = 'bold';
							  priceCellCompaire.style.fontSize = '140%';
						  }
						  /*priceCellCompaire.style.color = dataCompare.prix === latestPrice.prix ? 'green' : '';
						  priceCellCompaire.style.fontWeight = dataCompare.prix === latestPrice.prix ? 'bold' : '';
						  priceCellCompaire.style.fontSize = dataCompare.prix === latestPrice.prix ? '120%' : '';*/
						  newRow.appendChild(priceCellCompaire);
					  }


					  //let variationCell = document.createElement('td');
					  //variationCell.id = `variation-${data.id}`;
					  //let variation = ((data.prix - data.cryptomonnaie.prixActuel) / data.cryptomonnaie.prixActuel) * 100;
					  //variationCell.textContent = `${variation.toFixed(2)}%`;
					  //variationCell.className = variation > 0 ? 'text-success' : 'text-danger';
					  //newRow.appendChild(variationCell);

					  // Insérer la nouvelle ligne dans le tableau
					  marketTable.appendChild(newRow);
				  }
			  }

			  ws.onclose = function() {
				  console.log("WebSocket connection closed");
			  };
		  }
		  ////
		  tmarket1.addEventListener('change', function() {
			  updateMarketData(this.value)
		  });
		  //
		  // Exécuter l'événement "change" sur le marketSelect au chargement de la page
		  window.addEventListener('load', function() {
			  const marketSelect = document.getElementById('market1');
			  marketSelect.dispatchEvent(new Event('change'));
		  });
		  //

		  document.addEventListener('DOMContentLoaded', function() {
			  buyButton.addEventListener('click', function() {

				  const amount = parseFloat(tamount.value);
				  const balance = parseFloat(tbalance.value.replace(',', '.'));
				  const leverage = parseInt(getLeverageValue());
				  const market = tmarket.value;

				  // Récupération des valeurs de la configuration
				  const stopLossPercentage = parseFloat(document.getElementById('stopLoss').value);
				  const takeProfitPercentage = parseFloat(document.getElementById('takeProfit').value);

				  // Calculs
				  const handlingFee = 0; // Remplacez par le calcul réel si nécessaire
				  // Prix d'entrée, à récupérer d'un champ de formulaire
				  const stopLossPrice = stopLossPercentage;
				  const takeProfitPrice =takeProfitPercentage;

				  // Validation
				  if (amount > balance) {
					  alert("Solde insuffisant");
					  //return;
				  }

				  // Mise à jour du modal
				  tmodalType.innerText = ttype.value;
				  tmodalAmount.innerText = amount;
				  tmodalLeverage.innerText = leverage + 'X';
				  tmodalHandlingFee.innerText = handlingFee;
				  tmodalStopLoss.innerText = stopLossPrice.toFixed(4); // Afficher le prix de stop loss
				  tmodalTakeProfit.innerText = takeProfitPrice.toFixed(4); // Afficher le prix de take profit
				  cryptomonaie.innerText = market;
			  });
			  sellButton.addEventListener('click', function() {

				  const amount = parseFloat(tamount.value);
				  const balance = parseFloat(tbalance.value.replace(',', '.'));
				  const leverage = parseInt(getLeverageValue());
				  const market = tmarket.value;

				  // Récupération des valeurs de la configuration
				  const stopLoss = parseFloat(document.getElementById('stopLoss').value);
				  const takeProfit = parseFloat(document.getElementById('takeProfit').value);

				  // Calculs
				  const margin = amount / leverage;
				  const handlingFee = 0; // Remplacez par le calcul réel si nécessaire
				  // Prix d'entrée, à récupérer d'un champ de formulaire
				  const stopLossPrice = stopLoss;
				  const takeProfitPrice = takeProfit;

				  // Validation
				  if (amount > balance) {
					  alert("Solde insuffisant");
					  //return;
				  }

				  // Mise à jour du modal
				  tmodalType.innerText = ttype.value;
				  tmodalAmount.innerText = amount;
				  tmodalLeverage.innerText = leverage + 'X';
				  tmodalHandlingFee.innerText = handlingFee;
				  tmodalStopLoss.innerText = stopLossPrice.toFixed(4); // Afficher le prix de stop loss
				  tmodalTakeProfit.innerText = takeProfitPrice.toFixed(4); // Afficher le prix de take profit
				  cryptomonaie.innerText = market;
			  });
			  //

			  tconfirmOrderBtn.addEventListener('click', function() {
				  const amount = parseFloat(tamount.value);
				  const balance = parseFloat(tbalance.value.replace(',', '.'));
				  if (amount > balance) {
					  alert("Solde insuffisant");
					  return;
				  }
				  document.getElementById('orderForm').submit();
			  });


			  //

			  // Récupérer la valeur sélectionnée
			  const selectedMarket2 = "";

			  /*if (ws2 && ws2.readyState === WebSocket.OPEN) {
				  ws2.close();
			  }*/

			  ws2 = new WebSocket(baseUrl+"/ws3/home");

			  ws2.onopen = function() {
				  console.log("WebSocket connection opened");
				  let subscriptionRequest2 = {
					  symbols: [selectedMarket2]
				  };
				  ws2.send(JSON.stringify(subscriptionRequest2));
			  };

			  ws2.onmessage = function(event) {
				  let marketData = JSON.parse(event.data);

				  // Vider le tableau avant de le remplir à nouveau
				  marketTable2.innerHTML = '';
				  let valeuractuelle = 0;

				  // Récupérer le prix actuel le plus récent
				  let latestPrice = marketData.reduce((max, data) => (data.prix > max.prix ? data : max), marketData[0]);

				  //
				  valeuractuelle.value=latestPrice.prix;
				  // Parcourir les données du marché et créer les lignes du tableau
				  for (let i = 0; i < marketData.length; i++) {
					  let data = marketData[i];
					  //console.log(data);
					  // Créer une nouvelle ligne de tableau
					  let newRow = document.createElement('tr');

					  //Variation
					  let variation = ((data.prix - data.cryptomonnaie.prixActuel) / data.cryptomonnaie.prixActuel) * 100 || parseFloat((((data.cryptomonnaie.change)/(data.cryptomonnaie.close))*100));


					  // Ajouter les cellules de la nouvelle ligne
					  let pairCell = document.createElement('td');
					  pairCell.textContent = data.cryptomonnaie.symbole+'T';
					  newRow.appendChild(pairCell);

					  let priceCell = document.createElement('td');
					  priceCell.id = `price-${data.id}`;
					  priceCell.textContent = data.prix.toFixed(5);
					  priceCell.style.color = data.prix === latestPrice.prix ? 'green' : '';
					  priceCell.style.fontWeight = data.prix === latestPrice.prix ? 'bold' : '';
					  priceCell.style.fontSize = data.prix === latestPrice.prix ? '120%' : '';
					  newRow.appendChild(priceCell);

					  let variationCell = document.createElement('td');
					  variationCell.id = `variation-${data.id}`;
					  variationCell.textContent = `${variation.toFixed(2)}%`;
					  variationCell.className = variation > 0 ? 'text-success' : 'text-danger';
					  newRow.appendChild(variationCell);

					  // Insérer la nouvelle ligne dans le tableau
					  marketTable2.appendChild(newRow);
				  }
			  }

			  ws2.onclose = function() {
				  console.log("WebSocket connection closed");
			  };
		  });

		  // Add a click event listener to the table
		  marketTable2.addEventListener('click', (event) => {
			  //alert(event.target.tagName);
			  // Check if the clicked element is a table row (<tr>)
			  if (event.target.tagName === 'TR') {
				  // Get the first cell (containing the name) of the clicked row
				  const nameCell = event.target.querySelector('td:first-child');

				  // Get the text content of the name cell
				  const name = nameCell.textContent;

				  // Display the name in an alert
				  //alert(name);
			  }
			  if (event.target.tagName === 'TD') {
				  // Le clic a été effectué sur une cellule
				  console.log("Vous avez cliqué sur une cellule !");
				  const td = event.target;
				  //const tr = td.parentNode.parentNode; // Accède au <tr> grand-parent
				  const tr = td.parentNode;
				  // Récupérer le contenu de la cellule
				  //const cellContent = event.target.textContent;
				  //const cellContent = td.textContent;
				  // Get the first cell (containing the name) of the clicked row
				  const nameCell = tr.querySelector('td:first-child');
				  // Get the text content of the name cell
				  const nameCrypto = nameCell.textContent;
				  updateMarketData(nameCrypto.slice(0, -1))
				  //console.log("Le contenu de la cellule correcte est : " + nameCrypto);
				  //alert(nameCrypto);
			  }
		  });

		  function createTradingViewWidget(symbol) {
			  new TradingView.widget(
					  {
						  "width": "100%",
						  "height": 550,
						  "symbol": "BITSTAMP:"+symbol.replace(/\//g, ""),
						  "interval": "D",
						  "timezone": "Etc/UTC",
						  "theme": "Light",
						  "style": "1",
						  "locale": "en",
						  "toolbar_bg": "#f1f3f6",
						  "enable_publishing": false,
						  "withdateranges": true,
						  "hide_side_toolbar": false,
						  "allow_symbol_change": true,
						  "show_popup_button": true,
						  "popup_width": "1000",
						  "popup_height": "650",
						  "container_id": "tradingview_e8053"
					  }
			  );
		  }
	  </script>
   </body>
</html>

