<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb" style="    position: fixed;z-index: 999;width: 100%;">
    <a href="#" th:href="@{'/site'}" class="btn btn-primary btn-floating rounded-circle position-fixed" style="top: 20px; left: 20px; z-index: 1050;">
        <i class="ion ion-md-home"></i>
    </a>
</header>
<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <form th:action="@{/users/login}" method="POST">
            <div id="errorMessage" class="errors" th:if="${badCredentials}" th:text="${errorMessage}"  > </div>
            <span th:text="#{Sign_In}">Sign In</span>
            <div class="form-group">
                <input type="email" class="form-control" name="email" th:value="${email}" id="email" th:placeholder="#{Email}" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" th:placeholder="#{Password}" required>
            </div>
            <div class="text-right">
                <a th:text="#{Forgot_Password}" th:href="@{'/users/reset/password/set1'}" href='/users/reset/password/set1'>Forgot Password?</a>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="form-checkbox">
                <label th:text="#{Remember_me}" class="custom-control-label" for="form-checkbox">Remember me</label>
            </div>
            <button th:text="#{Sign_In}" type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <h2><span th:text="#{Don_t_have_an_account}" style="white-space: nowrap; display: inline;">Don't have an account? </span><a th:href="@{'/users/signup'}" href='/users/signup' th:text="#{Sign_up_here}" style="margin-left: 15px; display: inline;"> &nbsp;&nbsp;Sign up here</a></h2>
    </div>
</div>

<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>