<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb" style="position: fixed; z-index: 999; width: 100%;">
    <a href="#" th:href="@{'/site'}" class="btn btn-primary btn-floating rounded-circle position-fixed" style="top: 20px; left: 20px; z-index: 1050;">
        <i class="ion ion-md-home"></i>
    </a>

    <!--nav class="navbar">
        <div/></div>
        <div/></div>
        <div th:replace="fragments/fragments::language" />
        </div>

    </nav-->
</header>

<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <form id="resetPasswordEmail" >
            <div id="errorMessage" class="errors" th:if="${errorMessage}" th:text="${errorMessage}"  > </div>
            <span th:text="#{Forgot_Password}">Forgot Password</span>
            <div class="form-group">
                <input type="email" class="form-control" name="email" th:value="${email}" id="email" placeholder="Email" required>
            </div>
            <button type="button" onclick="submitForm()"  class="btn btn-primary" th:text="#{send_token}">send token</button>
        </form>
        <h2 th:if="${multipleSend}" th:text="#{You_have_not_received_any_e_mail}">You have not received any e-mail ?  <a onclick="submitForm()" href='#' th:text="#{resend_token}">resend token</a>
        </h2>
    </div>
</div>

<script th:inline="javascript" >
    function submitForm() {
        const inputEmail = document.getElementById('email');
        console.log(inputEmail)
        window.location.href = '/users/reset/password/set1?email='+encodeURIComponent(inputEmail.value)
    }
</script>


<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>