<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb" style="    position: fixed;z-index: 999;width: 100%;">
    <a href="#" th:href="@{'/site'}" class="btn btn-primary btn-floating rounded-circle position-fixed" style="top: 20px; left: 20px; z-index: 1050;">
        <i class="ion ion-md-home"></i>
    </a>

    <!--nav class="navbar">
        <div/></div>
        <div/></div>
        <div th:replace="fragments/fragments::language" />
        </div>

    </nav-->
</header>

<div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
        <div id="errorMessage" th:marginheight="10px" th:if="${dontMatch}" class="errors">
            <span th:text="#{passwords_dont_match}">Passwords don't match</span>
        </div>
        <div th:marginheight="10px" th:if="${isExists}" class="errors">
            <span th:text="#{username_or_email_exists}">This username or email already exist.</span>
        </div>
        <form id="userInfo" method="POST" th:object="${signUpBindingModel}" th:action="@{/users/signup}">
            <span th:text="#{create_account}">Create Account</span>
            <div class="form-group">
                <input class="form-control" placeholder="Full Name" th:field="*{fullname}" type="text" name="name" required/>
                <small th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" class="errors">
                    <span th:text="#{invalid_username}">Invalid username</span>
                </small>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Email" th:field="*{email}" type="email" name="name" required/>
                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errors">
                    <span th:text="#{invalid_email}">Invalid email</span>
                </small>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Password" th:field="*{password}" type="password" name="password" id="password" required/>
                <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errors">
                    <span th:text="#{invalid_password}">Invalid password</span>
                </small>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Confirm Password" th:field="*{confirmPassword}" type="password" name="confirmPassword" id="confirmPassword" required/>
                <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="errors">
                    <span th:text="#{invalid_confirm_password}">Invalid confirm password</span>
                </small>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="form-checkbox">
                <label class="custom-control-label" for="form-checkbox">
                    <span th:text="#{agree_terms_conditions}" style="white-space: nowrap; display: inline;">I agree to the  </span><a href="#!" th:href="@{'/about-us-site'}" th:text="#{terms_conditions_link}" style="margin-left: 15px;display: inline;">&nbsp;&nbsp; Terms & Conditions</a>
                </label>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{create_account_button}">Create Account</button>
        </form>
        <h2>
            <span th:text="#{already_have_account}" style="white-space: nowrap; display: inline;"> Already have an account? </span><a th:href="@{'/users/login'}" href='/users/login' th:text="#{sign_in_here}" style="margin-left: 15px;display: inline;">&nbsp;&nbsp; Sign in here</a>
        </h2>
    </div>
</div>
<span th:replace="fragments/fragments::endfooter"/></span>
</body>
<script>

    function selectOnlyThis(id) {
        for (let i = 1; i <= 3; i++)
        {
            document.getElementById("checkbox" + i).checked = false;
        }
        document.getElementById(id).checked = true;
    }
</script>
</html>