<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="fragments/fragments::head"></div>
</head>
<body id="dark">
<header class="dark-bb" style="    position: fixed;
    z-index: 999;
    top: 0;
    height: 60px;
    width: 100%;">
    <div th:replace="fragments/fragments::menugauche" />

    <nav class="navbar navbar-expand-lg">
        <div></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>
<div th:replace="fragments/fragments::menubas" />

<div class="markets-capital pt70 pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="markets-pair-list">
                    <div id="errorMessage" class="errors" th:if="${errorMessage}" th:text="${errorMessage}"> </div>
                    <div class="text-right float-right">
                        <a href="#" class="btn btn-primary mr-1" title="#{new_network_title}" onclick="showNetworkModal()">
                            <i class="text-white icon ion-md-add-circle"> #{add} </i>
                        </a>
                    </div>
                    <!-- Sélecteur de taille de page -->
                    <div class="mb-3 float-left text-white d-flex flex-md-nowrap align-items-center justify-content-center">
                        <label for="pageSize" th:text="#{size_label}">Size:</label>
                        <span id="currentPage" th:field="${currentPage}" hidden="hidden"></span>
                        <span id="currentOrderBy" th:field="${currentOrderBy}" hidden="hidden"></span>
                        <span id="currentSort" th:field="${currentSort}" hidden="hidden"></span>
                        <select id="pageSize" class="form-control ml-2" onchange="updatePageSize()">
                            <option value="5" th:selected="${pageSize == 5}">5</option>
                            <option value="10" th:selected="${pageSize == 10}">10</option>
                            <option value="20" th:selected="${pageSize == 20}">20</option>
                            <option value="50" th:selected="${pageSize == 50}">50</option>
                        </select>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th th:classappend="${currentOrderBy == 'id'} ? ${currentSort} : ''" onclick="sortTable('id')" th:text="#{id_label}">ID</th>
                            <th th:classappend="${currentOrderBy == 'name'} ? ${currentSort} : ''" onclick="sortTable('name')" th:text="#{name_label}">Name</th>
                            <th th:classappend="${currentOrderBy == 'description'} ? ${currentSort} : ''" onclick="sortTable('description')" th:text="#{description_label}">Description</th>
                            <th th:classappend="${currentOrderBy == 'createdAt'} ? ${currentSort} : ''" onclick="sortTable('createdAt')" th:text="#{date_label}">Date</th>
                            <th th:text="#{actions_label}">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="network : ${networks}" ondblclick="preloadTransactionDetails(this, 'ligne')"
                            th:data-id="${network.id}"
                            th:data-name="${network.name}"
                            th:data-description="${network.description}"
                            th:data-createdAt="${network.createdAt}">
                            <td class="ope_id" th:text="${network.id}"></td>
                            <td class="ope_name" th:text="${network.name}"></td>
                            <td class="ope_description" th:text="${network.description}"></td>
                            <td class="ope_createdAt" th:text="${#temporals.format(network.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="text-center">
                                <a href="#" onclick="preloadTransactionDetails(this, 'details')"><i class="text-white icon ion-md-information-circle" th:text="#{info_label}"></i></a>
                                <a href="#" onclick="preloadTransactionDetails(this, 'update')"><i class="text-white icon ion-ios-paper" th:text="#{edit_label}"></i></a>
                                <a title="#{delete_title}" th:href="@{/config/networks/{id}/delete(id=${network.id})}"><i class="text-white icon ion-md-trash" th:text="#{delete_label}"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation" class="mt-3">
                        <ul class="pagination justify-content-center">
                            <!-- Précédent -->
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/config/networks(orderBy=${currentOrderBy}, sort=${currentSort}, page=${currentPage - 1}, size=${pageSize})}" aria-label="#{previous_label}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <!-- Pages -->
                            <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, networks.totalPages - 1)}" th:classappend="${pageNum == currentPage} ? 'active' : ''">
                                <a class="page-link" th:href="@{/reglements(orderBy=${currentOrderBy}, sort=${currentSort}, page=${pageNum}, size=${pageSize})}" th:text="${pageNum + 1}"></a>
                            </li>
                            <!-- Suivant -->
                            <li class="page-item" th:classappend="${currentPage == networks.totalPages - 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{/reglements(orderBy=${currentOrderBy}, sort=${currentSort}, page=${currentPage + 1}, size=${pageSize})}" aria-label="#{next_label}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modale pour les opérations de dépôt/retrait -->
<div class="modal fade" id="operationModal" tabindex="-1" role="dialog" aria-labelledby="operationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="operationModalLabel" th:text="#{network_label}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="operationForm" th:object="${networkModel}" th:action="@{/config/networks}" method="post">
                    <input type="hidden" id="dataIdNetwork" name="id" required>
                    <div class="form-group">
                        <label for="dataNom" th:text="#{name_label}"></label>
                        <input type="text" class="form-control" id="dataNom" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="dataDescription" th:text="#{description_label}"></label>
                        <input type="text" class="form-control" id="dataDescription" name="description" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{close_label}"></button>
                <button id="idSubmitNetworkForm" type="button" class="btn btn-primary" onclick="submitOperationForm()" th:text="#{submit_label}"></button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    function sortTable(column) {
        // Trouver l'en-tête de la colonne cliquée
        const th = document.querySelector(`th[onclick="sortTable('${column}')"]`);

        if (th) {
            // Obtenir l'ordre actuel et déterminer le nouvel ordre
            const currentOrder = th.classList.contains('asc') ? 'asc' : 'desc';
            const newOrder = currentOrder === 'asc' ? 'desc' : 'asc';

            const currentPage = document.getElementById('currentPage').getAttribute('field');
            const pageSize = document.getElementById('pageSize').value;
            // Rediriger avec les paramètres de tri
            window.location.href = `?orderBy=${column}&sort=${newOrder}`;
            window.location.href = `?orderBy=${column}&sort=${newOrder}&page=${currentPage}&size=${pageSize}`;
        } else {
            console.error(`Element with column '${column}' not found.`);
        }
    }
    function updatePageSize() {
        const currentPage = document.getElementById('currentPage').getAttribute('field');
        const orderBy = document.getElementById('currentOrderBy').getAttribute('field');
        const sort = document.getElementById('currentSort').getAttribute('field');
        const pageSize = document.getElementById('pageSize').value;
        // Rediriger vers l'URL avec la nouvelle taille de page
        window.location.href = `?orderBy=${orderBy}&sort=${sort}&page=${currentPage}&size=${pageSize}`;
    }
    function showNetworkModal() {
        document.getElementById('dataIdNetwork').value = 0;
        document.getElementById('dataNom').value = '';
        document.getElementById('dataDescription').value = '';
        document.getElementById('idSubmitNetworkForm').setAttribute('style','display:block !important');
        $('#operationModal').modal('show');
    }
    function submitOperationForm() {
        document.getElementById('operationForm').submit();
    }
    function preloadTransactionDetails(item, source) {
        const row = (source==='details' || source==='update') ? item.closest('tr') : item;
        const id = row.getAttribute('data-id');
        const name = row.getAttribute('data-name');
        const description = row.getAttribute('data-description');

        // Remplir le formulaire de la modale avec les valeurs de la ligne
        document.getElementById('dataIdNetwork').value = parseInt(id)
        document.getElementById('dataNom').value = name;
        document.getElementById('dataDescription').value = description;
        console.log(source)
        if (source==='details')
            document.getElementById('idSubmitNetworkForm').setAttribute('style','display:none !important');
        else
            document.getElementById('idSubmitNetworkForm').setAttribute('style','display:block !important');
        $('#operationModal').modal('show');
    }
</script>



<span th:replace="fragments/fragments::endfooter"></span>
</body>
</html>
