<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <div th:replace="fragments/fragments::menugauche" />

    <nav class="navbar navbar-expand-lg">
        <div></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>
<div th:replace="fragments/fragments::menubas" />

<div class="markets-capital pt70 pb40">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="markets-capital-item">
                    <a th:href="@{'/users'}" href="">
                        <h2>
                            <i class="icon ion-md-people"></i>
                            <span>Users</span>
                        </h2>
                        <div class="markets-capital-details">
                            <h4>User Management</h4>
                            <h3 class="green">Go to <i class="icon ion-md-arrow-down"></i></h3>
                        </div>
                        <div class="markets-capital-chart" data-charts="[50,59,81,81,56,55,40,80,90,82]"
                             data-bg="rgba(255,35,31,.1)" data-border="bd0300">
                            <canvas></canvas>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="markets-capital-item">
                    <a th:href="@{'/admin_trading'}">
                        <h2>
                            <i class="icon ion-md-arrow-dropleft-circle"></i>
                            <span>Trading</span>
                        </h2>
                        <div class="markets-capital-details">
                            <h4>Trading management</h4>
                            <h3 class="green">Go to  <i class="icon ion-md-arrow-up"></i></h3>
                        </div>
                        <div class="markets-capital-chart" data-charts="[50,42,82,45,40,55,72,80,60,82]"
                             data-bg="rgba(38,222,129,.1)" data-border="18d877">
                            <canvas></canvas>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="markets-capital-item">
                    <a th:href="@{'/chat/admin'}">
                        <h2>
                            <i class="icon ion-md-chatbubbles"></i>
                            <span>Chat</span>
                        </h2>
                        <div class="markets-capital-details">
                            <h4>Chat management</h4>
                            <h3 class="green">Accéder <i class="icon ion-md-arrow-up"></i></h3>
                        </div>
                        <div class="markets-capital-chart" data-charts="[80,60,82,45,40,55,72,50,42,82]"
                             data-bg="rgba(38,222,129,.1)" data-border="18d877">
                            <canvas></canvas>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a th:href="@{'/admin/trading-config'}">
                    <div class="markets-capital-item">
                        <h2>
                            <i class="icon ion-md-settings"></i>
                            <span>settings</span>
                        </h2>
                        <div class="markets-capital-details">
                            <h4>settings</h4>
                            <h3 class="green">Go to <i class="icon ion-md-arrow-up"></i></h3>
                        </div>
                        <div class="markets-capital-chart" data-charts="[50,42,72,80,60,82,82,45,40,55]"
                             data-bg="rgba(38,222,129,.1)" data-border="18d877">
                            <canvas></canvas>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Ordres -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="markets-capital-item">
                    <a th:href="@{'/ordres'}">
                        <h2>
                            <i class="icon ion-md-cart"></i>
                            <span>Ordres</span>
                        </h2>
                        <div class="markets-capital-details">
                            <h4>Gestion des ordres</h4>
                            <h3 class="green">Accéder <i class="icon ion-md-arrow-up"></i></h3>
                        </div>
                        <div class="markets-capital-chart" data-charts="[82,45,40,55,72,80,60,50,42,82]"
                             data-bg="rgba(38,222,129,.1)" data-border="18d877">
                            <canvas></canvas>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Cryptomonnaies -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="markets-capital-item">
                    <a th:href="@{'/cryptomonnaies'}">
                        <h2>
                            <i class="icon ion-md-cash"></i>
                            <span>Cryptomonnaies</span>
                        </h2>
                        <div class="markets-capital-details">
                            <h4>Gestion des cryptomonnaies</h4>
                            <h3 class="green">Accéder <i class="icon ion-md-arrow-up"></i></h3>
                        </div>
                        <div class="markets-capital-chart" data-charts="[45,40,55,72,80,60,82,50,42,82]"
                             data-bg="rgba(38,222,129,.1)" data-border="18d877">
                            <canvas></canvas>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Transactions -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="markets-capital-item">
                    <a th:href="@{'/transactions'}">
                        <h2>
                            <i class="icon ion-md-stats"></i>
                            <span>Transactions</span>
                        </h2>
                        <div class="markets-capital-details">
                            <h4>Gestion des transactions</h4>
                            <h3 class="green">Accéder <i class="icon ion-md-arrow-up"></i></h3>
                        </div>
                        <div class="markets-capital-chart" data-charts="[72,80,60,82,45,40,55,50,42,82]"
                             data-bg="rgba(38,222,129,.1)" data-border="18d877">
                            <canvas></canvas>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Versement/retrait -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="markets-capital-item">
                    <a th:href="@{'/reglements'}">
                        <h2>
                            <i class="icon ion-md-stats"></i>
                            <span>Reglements</span>
                        </h2>
                        <div class="markets-capital-details">
                            <h4>Gestion des Reglements</h4>
                            <h3 class="green">Accéder <i class="icon ion-md-arrow-up"></i></h3>
                        </div>
                        <div class="markets-capital-chart" data-charts="[72,80,60,82,45,40,55,50,42,82]"
                             data-bg="rgba(38,222,129,.1)" data-border="18d877">
                            <canvas></canvas>
                        </div>
                    </a>
                </div>
            </div>
            <!-- NetWork -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="markets-capital-item">
                    <a th:href="@{'/config/networks'}">
                        <h2>
                            <i class="icon ion-md-stats"></i>
                            <span>Network</span>
                        </h2>
                        <div class="markets-capital-details">
                            <h4>Gestion des Network</h4>
                            <h3 class="green">Accéder <i class="icon ion-md-arrow-up"></i></h3>
                        </div>
                        <div class="markets-capital-chart" data-charts="[72,80,60,82,45,40,55,50,42,82]"
                             data-bg="rgba(38,222,129,.1)" data-border="18d877">
                            <canvas></canvas>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Données de marché -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="markets-capital-item">
                    <a th:href="@{'/market-data'}">
                        <h2>
                            <i class="icon ion-md-analytics"></i>
                            <span>Données de marché</span>
                        </h2>
                        <div class="markets-capital-details">
                            <h4>Gestion des données de marché</h4>
                            <h3 class="green">Accéder <i class="icon ion-md-arrow-up"></i></h3>
                        </div>
                        <div class="markets-capital-chart" data-charts="[80,60,82,45,40,55,72,50,42,82]"
                             data-bg="rgba(38,222,129,.1)" data-border="18d877">
                            <canvas></canvas>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


<span th:replace="fragments/fragments::endfooter"/></span>
</body>
</html>