<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/site-head-meta}"></div>
    <title>Exusvate Home</title>
    <div th:replace="~{fragments/site-head-css}"></div>
    <div th:replace="~{fragments/site-head-fonts}"></div>
</head>
<body>
<div th:replace="~{fragments/site-header}"></div>

<div th:replace="~{fragments/site-sidebar}"></div>

<!-- Begin page content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card htrading">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <input type="hidden" name="baseurl" id="baseurl" th:value="${baseUrlApp}">
                                <span th:text="#{trading_details_title}"></span>
                            </h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>
                                <span id="earnlost" th:text="${#numbers.formatDecimal(0, 0, 2)} + ' USDT'"></span>
                            </p>
                            <button class="btn btn-primary" th:text="#{one_key_closing_button}"></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <input type="hidden" name="order_token" id="order_token" th:value="${order.token}">
                        <span th:text="${order.type}"></span>
                        <span th:text="${order.cryptomonnaie.symbole}"></span>/USDT
                        x<span th:text="${#numbers.formatDecimal(order.leverage*order.getQuantite(), 0, 0)}"></span>
                        <span th:text="#{hand_label}"></span>
                    </h5>
                    <table id="MyTableTrading" class="table table-striped">
                        <tbody>
                        <tr>
                            <td th:text="#{opening_price_label}"></td>
                            <td th:text="#{take_profit_label}"></td>
                            <td th:text="#{equivalent_quantity_label}"></td>
                        </tr>
                        <tr>
                            <td th:text="${#numbers.formatDecimal(order.prix, 0, 4)}"></td>
                            <td th:text="${#numbers.formatDecimal(0, 0, 4)}"></td>
                            <td th:text="${#numbers.formatDecimal(order.quantite, 0, 5)}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{current_price_label}"></td>
                            <td th:text="#{stop_loss_price_label}"></td>
                            <td th:text="#{available_margin_label}"></td>
                        </tr>
                        <tr>
                            <td th:text="${#numbers.formatDecimal(0, 0, 4)}"></td>
                            <td th:text="${#numbers.formatDecimal(0, 0, 4)}"></td>
                            <td th:text="${#numbers.formatDecimal(0, 0, 4)}"></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span th:text="#{open_time_label}"></span>:
                                <span th:text="${#temporals.format(order.dateExecution, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="text-right">
                        <button class="btn btn-primary" th:text="#{set_stop_loss_button}"></button>
                        <button class="btn btn-danger" th:text="#{close_button}"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/site-footer}"></div>
<div th:replace="~{fragments/site-scripts}"></div>
<script language="JavaScript">
    // Function to update table cells
    function updateMarketData(data) {
        const table = document.getElementById("MyTableTrading"); // Replace with actual table ID
        const earnlost = document.getElementById("earnlost");
        // Update specific cells based on data properties
        earnlost.textContent = data.profitValue.toFixed(4)+"USDT";
        table.rows[1].cells[1].textContent = data.takeProfitValue.toFixed(4); // Current price
        table.rows[3].cells[0].textContent = data.currentValue.toFixed(4); // currentValue price
        table.rows[3].cells[1].textContent = data.stopLossValue.toFixed(4); // Available margin
        table.rows[5].cells[0].textContent = data.marginValue.toFixed(4);
        //table.rows[3].cells[1].textContent = data.stopLossValue.toFixed(4);
    }
    // Exécuter l'événement "change" sur le marketSelect au chargement de la page
    window.addEventListener('load', function() {
        let ws;
        const baseUrl = document.getElementById('baseurl').value;
        const order_token=document.getElementById('order_token');
        if (ws && ws.readyState === WebSocket.OPEN) {
            ws.close();
        }
        try {
            ws = new WebSocket(baseUrl + "/trading");
        } catch (error) {
            console.error("Error creating WebSocket:", error);
            return;
        }

        ws.onopen = function() {
            console.log("WebSocket connection opened");
            let subscriptionRequest = order_token.value;
            ws.send(JSON.stringify(subscriptionRequest));
        };

        ws.onmessage = function(event) {
            let marketData = JSON.parse(event.data);

            console.log("Market Data:");
            console.log("  Profit Value:", marketData.profitValue);
            console.log("  Stop Loss Value:", marketData.stopLossValue);
            console.log("  Take Profit Value:", marketData.takeProfitValue);
            console.log("  Margin Value:", marketData.marginValue);
            // Add logging for dateExecution if needed
            console.log("  Execution Date:", marketData.dateExecution);
            updateMarketData(marketData);
        }

        ws.onclose = function() {
            console.log("WebSocket connection closed");
        };
    });
</script>
</body>
</html>