<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/site-head-meta}"></div>
    <title>Exusvate Exchanges</title>
    <div th:replace="~{fragments/site-head-css}"></div>
    <div th:replace="~{fragments/site-head-fonts}"></div>
</head>
<body>
<div th:replace="~{fragments/site-header}"></div>

<div th:replace="~{fragments/site-sidebar}"></div>

<!-- Begin page content -->
<div class="container-fluid">
    <div class="card htrading">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <h4 th:text="#{trading_history_title}"></h4>
                </div>
            </div>
        </div>
        <div class="card-body overflow-auto">
            <th:block th:each="trade : ${trades}">
                <div class="row">
                    <div class="col-8">
                        <h6 class="card-title mt-3">
                            <span th:text="${trade.getOrdre().type}"></span>
                            <span th:text="${trade.getOrdre().cryptomonnaie.symbole}"></span>
                            x<span th:text="${#numbers.formatDecimal(trade.getOrdre().leverage*trade.getOrdre().getQuantite(), 0, 0)}"></span>
                            <span th:text="#{hand_label}"></span>
                        </h6>
                    </div>
                    <div class="col-md-4 text-right">
                        <p><span th:text="#{profit_label}"> P: </span> <span id="earnlost" th:text="${#numbers.formatDecimal(trade.getProfit(), 0, 4)}"></span></p>
                    </div>
                </div>
                <table class="table overflow-auto table-striped mt-3 mb-2">
                    <tbody>
                    <tr>
                        <td th:text="#{opening_price_label}"></td>
                        <td th:text="#{take_profit_label}"></td>
                        <td th:text="#{equivalent_quantity_label}"></td>
                    </tr>
                    <tr>
                        <td th:text="${#numbers.formatDecimal(trade.getOrdre().getPrix(), 0, 4)}"></td>
                        <td th:text="${#numbers.formatDecimal(trade.getOrdre().getTakeProfit(), 0, 4)}"></td>
                        <td th:text="${#numbers.formatDecimal(trade.getOrdre().getQuantite(), 0, 5)}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{current_price_label}"></td>
                        <td th:text="#{stop_loss_price_label}"></td>
                        <td th:text="#{available_margin_label}"></td>
                    </tr>
                    <tr>
                        <td th:text="${#numbers.formatDecimal(trade.getOrdre().getCryptomonnaie().getPrixActuel(), 0, 4)}"></td>
                        <td th:text="${#numbers.formatDecimal(trade.getOrdre().getStopLoss(), 0, 4)}"></td>
                        <td th:text="${#numbers.formatDecimal((trade.getOrdre().getQuantite() * trade.getOrdre().getLeverage()) * 0.05, 0, 4)}"></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <span th:text="#{open_time_label}"></span>:
                            <span th:text="${#temporals.format(trade.getDateOuverture(), 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
    </div>
</div>


<div th:replace="~{fragments/site-footer}"></div>
<div th:replace="~{fragments/site-scripts}"></div>
</body>
</html>