<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <div th:replace="fragments/fragments::menugauche" />

    <nav class="navbar navbar-expand-lg">
        <div></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>
<div th:replace="fragments/fragments::menubas" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 th:text="#{trading_title}">Trading</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/trading/order}" th:object="${order}" method="POST" id="orderForm">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="type" th:text="#{type_label}">Type</label>
                                <select class="form-control" th:field="*{type}" id="type" required>
                                    <option th:each="t : ${T(com.example.onetrade.model.entities.enums.TypeOrdreEnum).values()}" th:value="${t}" th:text="${t.name()}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="market" th:text="#{currency_label}">Monaies</label>
                                <select class="form-control" name="market" id="market" required>
                                    <option th:each="c : ${cryptomonnaies}" th:value="${c.getSymbole()}" th:text="${c.getNom()}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="leverage" th:text="#{leverage_label}">Levier</label>
                                <select class="form-control" name="leverage" id="leverage" required>
                                    <option th:each="l : ${leverages}" th:value="${l}" th:text="${l}+'X'"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="amount" th:text="#{amount_label}">Montant</label>
                                <input type="number" class="form-control" name="amount" id="amount" th:placeholder="#{amount_placeholder}" required>
                                <input type="hidden" class="form-control" name="valeuractuelle" id="valeuractuelle" th:placeholder="#{current_value_placeholder}" required>
                                <input type="hidden" class="form-control" th:value="${baseUrlApp}" name="baseurl" id="baseurl" th:placeholder="#{base_url_placeholder}" required>
                                <input type="hidden" class="form-control" th:value="${config.getStopLossPercentage()}" name="stopLossPercentage" id="stopLossPercentage" th:placeholder="#{stop_loss_placeholder}" required>
                                <input type="hidden" class="form-control" th:value="${config.getTakeProfitPercentage()}" name="takeProfitPercentage" id="takeProfitPercentage" th:placeholder="#{take_profit_placeholder}" required>
                                <input type="hidden" class="form-control" th:value="${config.getMarginPercentage()}" name="margin_percentage" id="margin_percentage" th:placeholder="#{margin_percentage_placeholder}" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="balance" th:text="#{balance_label}">Solde</label>
                                <input type="text" class="form-control" th:value="${#numbers.formatDecimal(user.getSolde(), 0, 2)}" id="balance" disabled>
                            </div>
                        </div>
                        <button type="button" id="confimbtn" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal" th:text="#{buy_long_button}">
                            Buy (Long)
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 th:text="#{market_title}">Marché</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="markettable">
                        <thead>
                        <tr>
                            <th th:text="#{pair_column}">Paire</th>
                            <th th:text="#{price_column}">Prix</th>
                            <th th:text="#{variation_column}">Variation</th>
                        </tr>
                        </thead>
                        <tbody id="market-rows">
                        <tr th:each="market : ${markets}">
                            <td th:text="${market.getCryptomonnaie().getNom()}"></td>
                            <td th:id="'price-' + ${market.getId()}" th:text="${#numbers.formatDecimal(market.getPrix(), 0, 2)}"></td>
                            <td th:class="${market.getId() > 0 ? 'text-success' : 'text-danger'}" th:id="'variation-' + ${market.getId()}" th:text="${#numbers.formatDecimal(market.getId(), 0, 2)}+'%'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 th:text="#{open_orders_title}">Ordres en cours</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{type_column}">Type</th>
                            <th th:text="#{time_column}">Heure</th>
                            <th th:text="#{price_column}">Prix</th>
                            <th th:text="#{amount_column}">Montant</th>
                            <th th:text="#{operation_column}">Opération</th>
                            <th th:text="#{actions_column}">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${openOrders}">
                            <td th:text="${order.type.name()}"></td>
                            <td th:text="${#temporals.format(order.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${#numbers.formatDecimal(order.getPrix(), 0, 2)}"></td>
                            <td th:text="${order.getQuantite()}"></td>
                            <td th:text="${order.type == T(com.example.onetrade.model.entities.enums.TypeOrdreEnum).ACHAT ? 'Long' : 'Short'}"></td>
                            <td>
                                <a th:href="@{/trading/{token}(token=${order.token})}" th:text="#{go_link}">Aller</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal de confirmation -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel" th:text="#{confirm_order_title}">Confirmer l'ordre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="cryptomonaie" th:text="#{cryptocurrency_pair}">USDO/USDT</p>
                <ul>
                    <li>
                        <span th:text="#{order_type}">Type:</span>
                        <span id="modalType"></span>
                    </li>
                    <li>
                        <span th:text="#{order_amount}">Montant:</span>
                        <span id="modalAmount"></span>
                    </li>
                    <li>
                        <span th:text="#{leverage}">Levier:</span>
                        <span id="modalLeverage"></span>
                    </li>
                    <li>
                        <span th:text="#{handling_fee}">Handling fee:</span>
                        <span id="modalHandlingFee"></span>
                    </li>
                    <li>
                        <span th:text="#{margin}">Margin:</span>
                        <span id="modalMargin"></span>
                    </li>
                    <li>
                        <span th:text="#{stop_loss}">StopLoss:</span>
                        <span id="tmodalStopLoss"></span>
                    </li>
                    <li>
                        <span th:text="#{take_profit}">TakeProfit:</span>
                        <span id="tmodalTakeProfit"></span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">Annuler</button>
                <button type="button" class="btn btn-primary" id="confirmOrderBtn" th:text="#{confirm_order_button}">Confirmer</button>
            </div>
        </div>
    </div>
</div>



<span th:replace="fragments/fragments::endfooter"/></span>
<script language="JavaScript">
    const baseUrl = document.getElementById('baseurl').value;

    // Récupérer les références
    const buyButton = document.getElementById('confimbtn');
    const typeSelect = document.getElementById('type');
    const marketSelect = document.getElementById('market');
    const marketTable = document.getElementById('market-rows');
    const tamount=document.getElementById('amount');
    const tconfirmBtn=document.getElementById('confimbtn');
    const tbalance=document.getElementById('balance');
    const tleverage=document.getElementById('leverage');
    const tmarket=document.getElementById('market');
    const tmodalType=document.getElementById('modalType');
    const tmodalAmount=document.getElementById('modalAmount');
    const ttype=document.getElementById('type');
    const tmodalLeverage=document.getElementById('modalLeverage');
    const tmodalHandlingFee=document.getElementById('modalHandlingFee');
    const tmodalMargin=document.getElementById('modalMargin');
    const cryptomonaie=document.getElementById('cryptomonaie');
    const tconfirmOrderBtn=document.getElementById('confirmOrderBtn');
    const tmodalStopLoss=document.getElementById('tmodalStopLoss');
    const tmodalTakeProfit=document.getElementById('tmodalTakeProfit');
    let ws;

    // Écouter l'événement "change"
    typeSelect.addEventListener('change', function() {
// Récupérer la valeur sélectionnée dans le champ "Type"
        const selectedType = this.value;

// Mettre à jour le texte du bouton en fonction de la valeur sélectionnée
        if (selectedType === 'ACHAT') {
            buyButton.textContent = 'Buy (Long)';
        } else {
            buyButton.textContent = 'Sell (Short)';
        }
    });
    marketSelect.addEventListener('change', function() {
        // Récupérer la valeur sélectionnée
        const selectedMarket = this.value;

        if (ws && ws.readyState === WebSocket.OPEN) {
            ws.close();
        }

        ws = new WebSocket(baseUrl+"/ws");

        ws.onopen = function() {
            console.log("WebSocket connection opened");
            let subscriptionRequest = {
                symbols: [selectedMarket]
            };
            ws.send(JSON.stringify(subscriptionRequest));
        };

        ws.onmessage = function(event) {
            let marketData = JSON.parse(event.data);

            // Vider le tableau avant de le remplir à nouveau
            marketTable.innerHTML = '';
            let valeuractuelle = document.getElementById('valeuractuelle');

            // Récupérer le prix actuel le plus récent
            let latestPrice = marketData.reduce((max, data) => (data.prix > max.prix ? data : max), marketData[0]);

            //
            valeuractuelle.value=latestPrice.prix;
            // Parcourir les données du marché et créer les lignes du tableau
            for (let i = 0; i < marketData.length; i++) {
                let data = marketData[i];

                // Créer une nouvelle ligne de tableau
                let newRow = document.createElement('tr');

                // Ajouter les cellules de la nouvelle ligne
                let pairCell = document.createElement('td');
                pairCell.textContent = data.cryptomonnaie.symbole+'T';
                newRow.appendChild(pairCell);

                let priceCell = document.createElement('td');
                priceCell.id = `price-${data.id}`;
                priceCell.textContent = data.prix.toFixed(5);
                priceCell.style.color = data.prix === latestPrice.prix ? 'green' : '';
                priceCell.style.fontWeight = data.prix === latestPrice.prix ? 'bold' : '';
                priceCell.style.fontSize = data.prix === latestPrice.prix ? '120%' : '';
                newRow.appendChild(priceCell);

                let variationCell = document.createElement('td');
                variationCell.id = `variation-${data.id}`;
                let variation = ((data.prix - data.cryptomonnaie.prixActuel) / data.cryptomonnaie.prixActuel) * 100 || parseFloat((((data.cryptomonnaie.change)/(data.cryptomonnaie.close))*100));
                variationCell.textContent = `${variation.toFixed(2)}%`;
                variationCell.className = variation > 0 ? 'text-success' : 'text-danger';
                newRow.appendChild(variationCell);

                // Insérer la nouvelle ligne dans le tableau
                marketTable.appendChild(newRow);
            }
        }

        ws.onclose = function() {
            console.log("WebSocket connection closed");
        };
    });
    // Exécuter l'événement "change" sur le marketSelect au chargement de la page
    window.addEventListener('load', function() {
        const marketSelect = document.getElementById('market');
        marketSelect.dispatchEvent(new Event('change'));
    });
    //

    document.addEventListener('DOMContentLoaded', function() {
        tconfirmBtn.addEventListener('click', function() {

            const amount = parseFloat(tamount.value);
            const balance = parseFloat(tbalance.value.replace(',', '.'));
            const leverage = parseInt(tleverage.value);
            const market = tmarket.value;

            // Récupération des valeurs de la configuration
            const stopLossPercentage = parseFloat(document.getElementById('stopLossPercentage').value) / 100; // Convertir en décimal
            const takeProfitPercentage = parseFloat(document.getElementById('takeProfitPercentage').value) / 100; // Convertir en décimal
            const marginPercentage = parseFloat(document.getElementById('margin_percentage').value) / 100; // Convertir en décimal

            // Calculs
            const margin = amount / leverage;
            const handlingFee = 0; // Remplacez par le calcul réel si nécessaire
            // Prix d'entrée, à récupérer d'un champ de formulaire
            const stopLossPrice = amount * (1 - stopLossPercentage); // Prix de stop loss
            const takeProfitPrice = amount * (1 + takeProfitPercentage); // Prix de take profit

            // Validation
            if (amount > balance) {
                alert("Solde insuffisant");
                //return;
            }

            // Mise à jour du modal
            tmodalType.innerText = ttype.value;
            tmodalAmount.innerText = amount;
            tmodalLeverage.innerText = leverage + 'X';
            tmodalHandlingFee.innerText = handlingFee;
            tmodalMargin.innerText = margin.toFixed(4);
            tmodalStopLoss.innerText = stopLossPrice.toFixed(4); // Afficher le prix de stop loss
            tmodalTakeProfit.innerText = takeProfitPrice.toFixed(4); // Afficher le prix de take profit
            cryptomonaie.innerText = market;
        });
        //

        tconfirmOrderBtn.addEventListener('click', function() {
            document.getElementById('orderForm').submit();
        });
    });
</script>
</body>
</html>