<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="fragments/fragments::head"/></div>
<body  id="dark">
<header class="dark-bb">
    <div th:replace="fragments/fragments::menugauche" />

    <nav class="navbar navbar-expand-lg">
        <div></div>
        <div th:replace="fragments/fragments::navbar"/></div>
    </nav>
</header>
<div th:replace="fragments/fragments::menubas" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <select class="form-control" name="market1" id="market1" required>
                                        <option th:each="c : ${cryptomonnaies}" th:value="${c.getSymbole()}" th:text="${c.getNom()}"></option>
                                    </select>
                                </div>
                                <div class="col-6" th:text="#{crypto_pair_title}">BTCUSDT Qtly 1227</div>
                            </div>
                            <div th:text="#{percentage_change}">-4.16%</div>
                        </div>
                        <div class="col-6">
                            <div th:text="#{volume_label} + ': 150 D'">Volume: 150 D</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body overflow-auto">
                    <table class="table table-striped overflow-auto" id="markettable">
                        <thead>
                        <tr>
                            <th th:text="#{price_label} + ' (USDT)'">Price (USDT)</th>
                            <th th:text="#{amount_label} + ' (BTC)'">Amount (BTC)</th>
                        </tr>
                        </thead>
                        <tbody id="market-rows">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body overflow-auto">
                    <form th:action="@{/trading/order}" th:object="${order}" method="POST" id="orderForm">
                        <div class="row">
                            <div class="form-group col-6">
                                <button class="form-control" type="button" name="typebuy" id="typebuy" value="ACHAT" th:text="#{buy_button}">
                                    BUY
                                </button>
                            </div>
                            <div class="form-group col-6">
                                <button class="form-control" type="button" name="typesell" id="typesell" value="VENTE" th:text="#{sell_button}">
                                    SELL
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputStopLost" class="col-sm-2 col-form-label" th:text="#{stop_loss_label}">Stop Lost</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:value="${config.getStopLossPercentage()}" id="inputStopLost" placeholder="" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputTakeProfit" class="col-sm-2 col-form-label" th:text="#{take_profit_label}">Take Profit</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:value="${config.getTakeProfitPercentage()}" id="inputTakeProfit" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <input type="hidden" class="form-control" value="ACHAT" name="type" id="type" placeholder="type" required>
                            <input type="hidden" class="form-control" name="market" id="market" placeholder="baseurl" required>
                            <div class="form-check form-check-inline col">
                                <input class="form-check-input" type="radio" name="leverage" id="leverage1" value="1" checked>
                                <label class="form-check-label" for="leverage1" th:text="#{leverage_1x}">1X</label>
                            </div>
                            <div class="form-check form-check-inline col">
                                <input class="form-check-input" type="radio" name="leverage" id="leverage5" value="5">
                                <label class="form-check-label" for="leverage5" th:text="#{leverage_5x}">5X</label>
                            </div>
                            <div class="form-check form-check-inline col">
                                <input class="form-check-input" type="radio" name="leverage" id="leverage50" value="50">
                                <label class="form-check-label" for="leverage50" th:text="#{leverage_50x}">50X</label>
                            </div>
                            <div class="form-check form-check-inline col">
                                <input class="form-check-input" type="radio" name="leverage" id="leverage100" value="100">
                                <label class="form-check-label" for="leverage100" th:text="#{leverage_100x}">100X</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" th:text="#{trading_hand_number_label}">Trading Hand number</label>
                            <input type="number" class="form-control" name="amount" id="amount" th:placeholder="#{trading_hand_number_placeholder}" required>
                            <input type="hidden" class="form-control" name="valeuractuelle" id="valeuractuelle" placeholder="valeuractuelle" required>
                            <input type="hidden" class="form-control" th:value="${baseUrlApp}" name="baseurl" id="baseurl" placeholder="baseurl" required>
                            <input type="hidden" class="form-control" th:value="${config.getStopLossPercentage()}" name="stopLossPercentage" id="stopLossPercentage" placeholder="stopLossPercentage" required>
                            <input type="hidden" class="form-control" th:value="${config.getTakeProfitPercentage()}" name="takeProfitPercentage" id="takeProfitPercentage" placeholder="takeProfitPercentage" required>
                            <input type="hidden" class="form-control" th:value="${config.getMarginPercentage()}" name="margin_percentage" id="margin_percentage" placeholder="margin_percentage" required>
                        </div>
                        <div class="form-group">
                            <label for="balance" th:text="#{available_balance_label}">Available Balance</label>
                            <input type="text" class="form-control" th:value="${#numbers.formatDecimal(user.getSolde(), 0, 2)}" id="balance" disabled>
                        </div>
                        <br>
                        <button type="button" id="confimbtnbuy" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#confirmModal" th:text="#{buy_long_button}">
                            Buy (Long)
                        </button>
                        <br><br>
                        <button type="button" id="confimbtnsell" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#confirmModal" disabled th:text="#{sell_short_button}">
                            Sell (Short)
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 th:text="#{open_orders_title}">Ordres en cours</h4>
                </div>
                <div class="card-body overflow-auto">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{type_label}">Type</th>
                            <th th:text="#{time_label}">Heure</th>
                            <th th:text="#{price_label}">Prix</th>
                            <th th:text="#{amount_label}">Montant</th>
                            <th th:text="#{operation_label}">Opération</th>
                            <th th:text="#{actions_label}">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${openOrders}">
                            <td th:text="${order.type.name()}"></td>
                            <td th:text="${#temporals.format(order.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${#numbers.formatDecimal(order.getPrix(), 0, 2)}"></td>
                            <td th:text="${order.getQuantite()}"></td>
                            <td th:text="${order.type == T(com.example.onetrade.model.entities.enums.TypeOrdreEnum).ACHAT ? #{long_label} : #{short_label}}"></td>
                            <td>
                                <a th:href="@{/trading/{token}(token=${order.token})}" th:text="#{go_label}">
                                    Aller
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal de confirmation -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel" th:text="#{confirm_order_title}">Confirmer l'ordre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="cryptomonaie" th:text="#{cryptocurrency_pair}">USDO/USDT</p>
                <ul>
                    <li th:text="#{type_label} + ': '"><span id="modalType"></span></li>
                    <li th:text="#{amount_label} + ': '"><span id="modalAmount"></span></li>
                    <li th:text="#{leverage_label} + ': '"><span id="modalLeverage"></span></li>
                    <li th:text="#{handling_fee_label} + ': '"><span id="modalHandlingFee"></span></li>
                    <li th:text="#{margin_label} + ': '"><span id="modalMargin"></span></li>
                    <li th:text="#{stop_loss_label} + ': '"><span id="tmodalStopLoss"></span></li>
                    <li th:text="#{take_profit_label} + ': '"><span id="tmodalTakeProfit"></span></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel_button}">Annuler</button>
                <button type="button" class="btn btn-primary" id="confirmOrderBtn" th:text="#{confirm_button}">Confirmer</button>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br>

<span th:replace="fragments/fragments::endfooter"/></span>
<script language="JavaScript">
    const baseUrl = document.getElementById('baseurl').value;

    // Récupérer les références
    const buyButton = document.getElementById('confimbtnbuy');
    const sellButton = document.getElementById('confimbtnsell');
    const typebuyButton = document.getElementById('typebuy');
    const typesellButton = document.getElementById('typesell');
    const marketSelect = document.getElementById('market');
    const marketTable = document.getElementById('market-rows');
    const tamount=document.getElementById('amount');
    //const tconfirmBtn=document.getElementById('confimbtn');
    const tbalance=document.getElementById('balance');
    const tmarket=document.getElementById('market');
    const tmarket1=document.getElementById('market1');
    const tmodalType=document.getElementById('modalType');
    const tmodalAmount=document.getElementById('modalAmount');
    const ttype=document.getElementById('type');
    const tmodalLeverage=document.getElementById('modalLeverage');
    const tmodalHandlingFee=document.getElementById('modalHandlingFee');
    const tmodalMargin=document.getElementById('modalMargin');
    const cryptomonaie=document.getElementById('cryptomonaie');
    const tconfirmOrderBtn=document.getElementById('confirmOrderBtn');
    const tmodalStopLoss=document.getElementById('tmodalStopLoss');
    const tmodalTakeProfit=document.getElementById('tmodalTakeProfit');
    let ws;

    function getLeverageValue() {
        const selectedRadio = document.querySelector('input[name="leverage"]:checked');
        if (selectedRadio) {
            return selectedRadio.value;
        } else {
            // Aucun bouton radio sélectionné
            return null; // ou une valeur par défaut
        }
    }
    // Écouter l'événement "click"
    typebuyButton.addEventListener('click', function() {
        buyButton.disabled=false;
        sellButton.disabled=true;
        ttype.value="ACHAT"
    });
    typesellButton.addEventListener('click', function() {

        buyButton.disabled=true;
        sellButton.disabled=false;
        ttype.value="VENTE"
    });
    tmarket1.addEventListener('change', function() {
        // Récupérer la valeur sélectionnée
        const selectedMarket = this.value;
        marketSelect.value=selectedMarket;

        if (ws && ws.readyState === WebSocket.OPEN) {
            ws.close();
        }

        ws = new WebSocket(baseUrl+"/ws2");

        ws.onopen = function() {
            console.log("WebSocket connection opened");
            let subscriptionRequest = {
                symbols: [selectedMarket]
            };
            ws.send(JSON.stringify(subscriptionRequest));
        };

        ws.onmessage = function(event) {
            let marketData = JSON.parse(event.data);

            // Vider le tableau avant de le remplir à nouveau
            marketTable.innerHTML = '';
            let valeuractuelle = document.getElementById('valeuractuelle');

            // Récupérer le prix actuel le plus récent
            let latestPrice = marketData.recentMarketData.reduce((max, data) => (data.prix > max.prix ? data : max), marketData.recentMarketData[0]);

            //
            valeuractuelle.value=latestPrice.prix;
            console.log(marketData.recentMarketData);
            // Parcourir les données du marché et créer les lignes du tableau
            for (let i = 0; i < marketData.recentMarketData.length; i++) {
                let data = marketData.recentMarketData[i];
                let dataCompare = marketData.compaireDefaultMarketData[i];

                // Créer une nouvelle ligne de tableau
                let newRow = document.createElement('tr');

                // Ajouter les cellules de la nouvelle ligne
                //let pairCell = document.createElement('td');
                //pairCell.textContent = data.cryptomonnaie.symbole;
                //newRow.appendChild(pairCell);

                //Premiere collection de données du marché
                let priceCell = document.createElement('td');
                priceCell.id = `price-${data.id}`;
                priceCell.textContent = data.prix.toFixed(2);
                priceCell.style.color = data.prix === latestPrice.prix ? 'green' : '';
                priceCell.style.fontWeight = data.prix === latestPrice.prix ? 'bold' : '';
                priceCell.style.fontSize = data.prix === latestPrice.prix ? '120%' : '';
                newRow.appendChild(priceCell);

                //Deuxieme collection du marché
                let priceCellCompaire = document.createElement('td');
                priceCellCompaire.id = `price-${dataCompare.id}`;
                priceCellCompaire.textContent = dataCompare.prix.toFixed(2);
                priceCellCompaire.style.color = dataCompare.prix === latestPrice.prix ? 'green' : '';
                priceCellCompaire.style.fontWeight = dataCompare.prix === latestPrice.prix ? 'bold' : '';
                priceCellCompaire.style.fontSize = dataCompare.prix === latestPrice.prix ? '120%' : '';
                newRow.appendChild(priceCellCompaire);

                //let variationCell = document.createElement('td');
                //variationCell.id = `variation-${data.id}`;
                //let variation = ((data.prix - data.cryptomonnaie.prixActuel) / data.cryptomonnaie.prixActuel) * 100;
                //variationCell.textContent = `${variation.toFixed(2)}%`;
                //variationCell.className = variation > 0 ? 'text-success' : 'text-danger';
                //newRow.appendChild(variationCell);

                // Insérer la nouvelle ligne dans le tableau
                marketTable.appendChild(newRow);
            }
        }

        ws.onclose = function() {
            console.log("WebSocket connection closed");
        };
    });
    // Exécuter l'événement "change" sur le marketSelect au chargement de la page
    window.addEventListener('load', function() {
        const marketSelect = document.getElementById('market1');
        marketSelect.dispatchEvent(new Event('change'));
    });
    //

    document.addEventListener('DOMContentLoaded', function() {
        buyButton.addEventListener('click', function() {

            const amount = parseFloat(tamount.value);
            const balance = parseFloat(tbalance.value.replace(',', '.'));
            const leverage = parseInt(getLeverageValue());
            const market = tmarket.value;

            // Récupération des valeurs de la configuration
            const stopLossPercentage = parseFloat(document.getElementById('stopLossPercentage').value) / 100; // Convertir en décimal
            const takeProfitPercentage = parseFloat(document.getElementById('takeProfitPercentage').value) / 100; // Convertir en décimal
            const marginPercentage = parseFloat(document.getElementById('margin_percentage').value) / 100; // Convertir en décimal

            // Calculs
            const margin = amount / leverage;
            const handlingFee = 0; // Remplacez par le calcul réel si nécessaire
            // Prix d'entrée, à récupérer d'un champ de formulaire
            const stopLossPrice = amount * (1 - stopLossPercentage); // Prix de stop loss
            const takeProfitPrice = amount * (1 + takeProfitPercentage); // Prix de take profit

            // Validation
            if (amount > balance) {
                alert("Solde insuffisant");
                //return;
            }

            // Mise à jour du modal
            tmodalType.innerText = ttype.value;
            tmodalAmount.innerText = amount;
            tmodalLeverage.innerText = leverage + 'X';
            tmodalHandlingFee.innerText = handlingFee;
            tmodalMargin.innerText = margin.toFixed(4);
            tmodalStopLoss.innerText = stopLossPrice.toFixed(4); // Afficher le prix de stop loss
            tmodalTakeProfit.innerText = takeProfitPrice.toFixed(4); // Afficher le prix de take profit
            cryptomonaie.innerText = market;
        });
        sellButton.addEventListener('click', function() {

            const amount = parseFloat(tamount.value);
            const balance = parseFloat(tbalance.value.replace(',', '.'));
            const leverage = parseInt(getLeverageValue());
            const market = tmarket.value;

            // Récupération des valeurs de la configuration
            const stopLossPercentage = parseFloat(document.getElementById('stopLossPercentage').value) / 100; // Convertir en décimal
            const takeProfitPercentage = parseFloat(document.getElementById('takeProfitPercentage').value) / 100; // Convertir en décimal
            const marginPercentage = parseFloat(document.getElementById('margin_percentage').value) / 100; // Convertir en décimal

            // Calculs
            const margin = amount / leverage;
            const handlingFee = 0; // Remplacez par le calcul réel si nécessaire
            // Prix d'entrée, à récupérer d'un champ de formulaire
            const stopLossPrice = amount * (1 - stopLossPercentage); // Prix de stop loss
            const takeProfitPrice = amount * (1 + takeProfitPercentage); // Prix de take profit

            // Validation
            if (amount > balance) {
                alert("Solde insuffisant");
                //return;
            }

            // Mise à jour du modal
            tmodalType.innerText = ttype.value;
            tmodalAmount.innerText = amount;
            tmodalLeverage.innerText = leverage + 'X';
            tmodalHandlingFee.innerText = handlingFee;
            tmodalMargin.innerText = margin.toFixed(4);
            tmodalStopLoss.innerText = stopLossPrice.toFixed(4); // Afficher le prix de stop loss
            tmodalTakeProfit.innerText = takeProfitPrice.toFixed(4); // Afficher le prix de take profit
            cryptomonaie.innerText = market;
        });
        //

        tconfirmOrderBtn.addEventListener('click', function() {
            document.getElementById('orderForm').submit();
        });
    });
</script>
</body>
</html>