<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/fragments::head"/></div>
<body>
<header>
    <div th:replace="fragments/fragments::logo"/></div>
    <div th:replace="fragments/fragments::navbar"/></div>
    <div th:replace="fragments/fragments::menu_mobile"/></div>
    <div th:replace="fragments/fragments::cart"/></div>
</header>

<main>
    <div class="menu">
        <div class="background">
            <div class="classes" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Shopping cart</h3>
                <div th:each="abo : ${abos}" >
                <span th:text="|${abo.name} Abo : 5 Entries - |" ></span>
                <span th:text="|Abo Price: ${abo.aboPrice} |" ></span>
                    <br>
                    <a class="edit-offer" th:href="@{'/shoppingCart/removeProduct/{id}'(id=${abo.hobbyId})}">Remove</a>
                </div>
            </div>
            <div class="classes" style="height: auto; overflow: hidden">
                <h3 class="mySticky bg-gray text-dark rounded">Total</h3>
                    <span th:text="| *{total} CHF|"></span>

                    <a class="edit-offer" th:href="@{'/shoppingCart/checkout'}"> Checkout</a>

                </div>
            </div>
        </div>


</main>
<img class="blueImg3" src="/img/blueImg.png" alt="blueImg">
<img class="blueImg4" src="/img/blueImg.png" alt="blueImg">
<img class="blue" src="/img/blue.jpg" alt="blue">

<footer class="footer_hobbie_details">
    &copy; Hobbie 2021. All rights reserved.
</footer>
</body>
</html>